{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div id="mail-sent-modal" class="ui basic modal">
        <div class="header">
            E-Mail(s) envoyé(s)
        </div>
        <div class="content">
            <p>Le template a bien été envoyé aux destinataires suivants:</p>
            <p id="dst-string"></p>
        </div>
        <div class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Ok
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="one column row">
            <div class="column">
                <h1>Envoie d'email(s)</h1>
            </div>
        </div>
        <div class="one column row">
            <div class="column">
                <h2>Sélection des destinataires</h2>
            </div>
        </div>
        <div class="one column row">
            <div class="column">
                <div class="field">
                    <label for="batch-select">Clients du grossiste : </label>
                    <select id="batch-select" class="ui fluid search dropdown" multiple>
                        <option value="0" selected>---</option>
                        {% for supplier in suppliers %}
                            <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                <div class="field">
                    <label for="transactionnal-select">Prospects ou Clients : </label>
                    <select id="transactionnal-select" class="ui fluid search dropdown" multiple>
                        {% for prospect in prospects %}
                            {% if selectedProspect is not null and selectedProspect == prospect.id %}
                                <option value="{{ prospect.id }}" selected>{{ prospect.email }}{% if prospect.contactName is not empty %} ({{ prospect.contactName }}){% endif %}</option>
                            {% else %}
                                <option value="{{ prospect.id }}">{{ prospect.email }}{% if prospect.contactName is not empty %} ({{ prospect.contactName }}){% endif %}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                <div class="field">
                    <label for="restaurant-select">Restaurants : </label>
                    <select id="restaurant-select" class="ui fluid search dropdown" multiple>
                        {% for restaurant in restaurants %}
                            <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                <div class="field">
                    <div class="ui checkbox" id="send-to-all-checkbox">
                        <label for="send-to-all">Envoyer à tous</label>
                        <input type="checkbox" id="send-to-all" name="send-to-all">
                    </div>
                    <div class="ui checkbox" id="send-to-prospects-checkbox">
                        <label for="send-to-prospects">Envoyer à tous les prospects</label>
                        <input type="checkbox" id="send-to-prospects" name="send-to-prospects">
                    </div>
                    <div class="ui checkbox" id="send-to-customers-checkbox">
                        <label for="send-to-customers">Envoyer à tous les clients</label>
                        <input type="checkbox" id="send-to-customers" name="send-to-customers">
                    </div>
                </div>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                <h2>Sélection de l'email</h2>
            </div>
        </div>
        <div class="ui one column row">
            {{ render(controller('AppBundle\\Admin\\Controller\\MailerController:templatesAction')) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.send-email').click(function() {
                var self = $(this);

                var provider = self.data('provider');
                var templateId = self.data('template');
                var data = $.map(self.siblings('.content').find('input,textarea'), function(elem) {
                    return $(elem).attr('name') + '=' + encodeURIComponent($(elem).val());
                });

                data = data.join('&');

                var suppliers = $('#batch-select').dropdown('get value');
                var prospects = $('#transactionnal-select').dropdown('get value');
                var restaurants = $('#restaurant-select').dropdown('get value');

                data += '&suppliers=' + encodeURIComponent(suppliers) + "&prospects=" + encodeURIComponent(prospects) + "&restaurants=" + encodeURIComponent(restaurants);
                data += '&sendToAll=' + encodeURIComponent($('#send-to-all-checkbox').checkbox('is checked') ? '1' : '0');
                data += '&sendToProspects=' + encodeURIComponent($('#send-to-prospects-checkbox').checkbox('is checked') ? '1' : '0');
                data += '&sendToCustomers=' + encodeURIComponent($('#send-to-customers-checkbox').checkbox('is checked') ? '1' : '0');
                data += '&_debug=' + encodeURIComponent(self.parent().find('.send-debug').checkbox('is checked') ? '1' : '0');

                $.post(Routing.generate('app_admin_mailer_send', {type: 'batch', provider: provider, tpl: templateId}), data).then(function(response) {
                    if (response.ok) {
                        var $modal = $('#mail-sent-modal');

                        $modal.find('#dst-string').text(response.dsts);
                        $modal.modal('show');
                    } else {
                        alert(response.message);
                    }
                });
            });
        });
    </script>
{% endblock %}