<div class="ui top attached tabular pointing secondary menu ">
    {% for template in templates %}
        <a class="item{% if loop.first %} active{% endif %}" data-tab="{{ template.providerKey }}">{{ template.provider }}</a>
    {% endfor %}
</div>
{% for template in templates %}
    <div class="ui bottom attached tab segment {% if loop.first %} active{% endif %}" data-tab="{{ template.providerKey }}">
        <div class="ui styled fluid accordion">
            {% for tpl in template.templates %}
                <div class="title">
                    <i class="dropdown icon"></i>
                    {{ tpl.campaignName|raw }}
                </div>
                <div class="content template-content" data-template="{{ tpl.templateId }}">
                    <div class="ui two cards">
                        <div class="card fluid">
                            <div class="content">
                                <div class="header">Aperçu</div>
                                <div class="meta">Sujet: {{ tpl.subject|raw }}</div>
                                <div class="description">
                                    {{ tpl.content|raw }}
                                </div>
                            </div>
                        </div>
                        {% if tpl.subjectVars is not empty or tpl.contentVars is not empty %}
                            <div class="card fluid">
                                {% if tpl.subjectVars is not empty %}
                                    <div class="content">
                                        <div class="header">Variables du sujet</div>
                                        <div class="meta">Inscrire les valeurs de remplacement pour les variables du sujet de l'email</div>
                                        <div class="description">
                                            {% for var in tpl.subjectVars %}
                                                <div class="ui labeled input fluid">
                                                    <div class="ui label">{{ var }}</div>
                                                    <input type="text"/>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if tpl.contentVars is not empty %}
                                    <div class="content">
                                        <div class="header">Variables du contenu</div>
                                        <div class="meta">Inscrire les valeurs de remplacement pour les variables du template</div>
                                        <div class="ui description form">
                                            {% for var in tpl.contentVars %}
                                                {% if var == 'HOWTO_ORDER' or var == 'INFORMATIONS' %}
                                                    <div class="field">
                                                        <label>{{ var }}</label>
                                                        <textarea rows="2" name="{{ var }}"></textarea>
                                                    </div>
                                                {% else %}
                                                    <div class="ui labeled input fluid">
                                                        <div class="ui label">{{ var }}</div>
                                                        <input type="text" name="{{ var }}"/>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="ui attached form segment">
                                    <div class="ui checkbox send-debug">
                                        <input type="checkbox" name="_debug">
                                        <label>Tester l'envoie (destinataire: {{ email_debug }})</label>
                                    </div>
                                </div>
                                <div class="ui bottom attached button send-email" data-provider="{{ template.providerKey }}" data-template="{{ tpl.templateId }}">
                                    <i class="send icon"></i>
                                    Envoyer l'e-mail
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
