{% extends '@App/Admin/Form/theme.html.twig' %}

{% block sylius_taxon_autocomplete_choice_row %}
    {{ form_row(form, {'attr': {'class':'taxon-importline'},'remote_url': path('sylius_admin_ajax_taxon_by_name_phrase'), 'load_edit_url': path('sylius_admin_ajax_taxon_by_code')}) }}
{% endblock %}