{% form_theme form with '@App/Admin/Form/importTheme.html.twig' %}

{% block vitalis_import_line_type_widget %}
    {#background-color:{% if (name % 2) == 0 %}#c9d3ff{% else %}#99abff{% endif %}#}
    {{ form_start(form, {attr:{class:'ui loadable form'}}) }}
        <div class="ui two column stackable grid import-line" style="margin:10px; ">
            <div class="sixteen wide column">
                {#{{ form.vars.data.statusLabel }}#}
                <b style="text-align:center; width: 100%; display: inline-block;">{{ form.vars.data.supplierName }}</b>
            </div>

            <div class="six wide column">
                {% if form.reference is defined %}
                    {{- form_row(form.reference) -}}
                {% endif %}

                {{- form_row(form.content.reference) -}}
                {{- form_row(form.content.supplierName) -}}
                {{- form_row(form.content.productName) -}}
                {{- form_row(form.content.variantName) -}}
                {{- form_row(form.content.taxon) -}}

                {{- form_row(form.taxon, {'attr':{'class':'taxon-importline'}}) -}}

                {% if form.product is defined %}
                    {{- form_row(form.product) -}}
                {% endif %}

                <p class="ui red tag label" style="font-size: 12px; text-align: center;">Si vous avez modifié le taxon, sauvegardez avant de choisir le produit.</p>

                {% if form.productVariant is defined %}
                    {{- form_row(form.productVariant) -}}
                {% endif %}

            </div>
            <div class="five wide column">

                {% if form.options is defined %}
                    {{- form_row(form.options) -}}
                {% endif %}

                {{- form_row(form.content.salesUnit) -}}
                {{- form_row(form.content.orderUnit) -}}
                {{- form_row(form.content.bio) -}}
                {{- form_row(form.content.originCountry) -}}
                {{- form_row(form.content.conditioning) -}}
                {{- form_row(form.content.origin) -}}
                {{- form_row(form.content.caliber) -}}
                {{- form_row(form.content.naming) -}}
                {{- form_row(form.content.variety) -}}
                {{- form_row(form.content.category) -}}
                {{- form_row(form.content.brand) -}}

            </div>
            <div class="five wide column">

                {{- form_row(form.content.price) -}}
                {{- form_row(form.content.weight) -}}
                {{- form_row(form.content.unitQuantity) -}}
                {{- form_row(form.content.unitContentQuantity) -}}
                {{- form_row(form.content.unitContentMeasurement) -}}
                {{- form_row(form.content.priceKg) -}}
                {{- form_row(form.content.priceVariant) -}}

                {{- form_widget(form.validateLine)  -}}
                {{- form_widget(form.submit) -}}
            </div>

            {{ form_row(form.id) }}
        </div>
    {{ form_end(form) }}
{% endblock vitalis_import_line_type_widget %}
