{% extends '@SyliusAdmin/Form/theme.html.twig' %}

{% block app_product_variant_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('sylius_admin_ajax_product_variants_by_name'), 'load_edit_url': path('sylius_admin_ajax_product_variants_by_name')}) }}
{% endblock %}

{% block channel_pricing_widget %}
    <div class="ui segments">
        <div class="ui segment">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}
