<div class="ui card job status">
    <div class="content">
        <div class="header">Tâche n°{{ job.id }}</div>
    </div>
    <div class="content status">
        {% if job.state == 'finished' %}
            Terminé
        {% elseif job.state == 'pending' %}
            En attente de démarrage
        {% elseif job.state == 'running' %}
            En cours <i class="icon loading"></i>
        {% elseif job.state == 'failed' %}
            Echec <i class="icon close"></i>
        {% elseif job.state == 'terminated' %}
            Coupé avant la fin <i class="icon checkmark"></i>
        {% elseif job.state == 'canceled' %}
            Annulé
        {% elseif job.state == 'incomplete' %}
            Job foireux
        {% endif %}
    </div>
</div>