{% if data.templateId is not null %}
    ({{ data.templateId }})
{% endif %}

{% if data.subject is not null %}
    {{ data.subject }}
{% else %}
    {{ render(controller('AppBundle\\Admin\\Controller\\MailerController:subjectAction', {provider: data.mailManagerName, templateId: data.templateId})) }}
{% endif %}