{% if data == 'mailjet' %}
    <img src="{{ asset('bundles/app/img/Mailjet_logo.png') }}" height="24">
{% elseif data == 'sendinblue' %}
    <img src="{{ asset('bundles/app/img/SendinBlue_logo.png') }}" height="24">
{% endif %}