{% if data == 'SENT' %}
    <div class="ui green horizontal label">Envoyé</div>
{% elseif data == 'ERROR' %}
    <div class="ui red horizontal label">Erreur</div>
{% elseif data == 'PENDING' %}
    <div class="ui orange horizontal label">En attente</div>
{% endif %}