<div class="ui list">
    {% for email, name in data %}
        <div class="item">
            <i class="mail icon"></i>
            {% if email matches '/^\\d+$/' %}
                <div class="content">
                    <a href="mailto:{{ name }}">{{ name }}</a>
                </div>
            {% else %}
                <div class="content">
                    <a href="mailto:{{ email }}">{{ email }}</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>