<div class="ui list">
    <div class="item">
        {% for email, name in data|slice(0,1) %}
                {% if email matches '/^\\d+$/' %}
                        <a href="mailto:{{ name }}">{{ name }}</a>
                {% else %}
                        <a href="mailto:{{ email }}">{{ email }}</a>
                {% endif %}

        {% endfor %}
        {% if data|length > 1 %}
            et {{ data|length - 1 }} autre(s)
        {% endif %}
    </div>
</div>