{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set isCustomer = resource.customers is not empty %}

<div class="sixteen wide column" id="info">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">
                Où en est ce prospect ?
            </div>
            <div class="meta">
                {{ resource.registrationStatus.statusText }}
            </div>
            <div class="description">
                <div class="ui flowing inverted popup top left transition hidden" id="first-step-params">
                    Prénom: <i class="ui icon {% if resource.firstName is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Email: <i class="ui icon {% if resource.email is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Restaurant: <i class="ui icon {% if resource.restaurantName is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                </div>

                <div class="ui flowing inverted popup top left transition hidden" id="second-step-params">
                    Prénom: <i class="ui icon {% if resource.firstName is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Email: <i class="ui icon {% if resource.email is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Téléphone: <i class="ui icon {% if resource.phone is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Job: <i class="ui icon {% if resource.job is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Restaurant: <i class="ui icon {% if resource.restaurantName is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Adresse: <i class="ui icon {% if resource.address is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Code postal: <i class="ui icon {% if resource.zipCode is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Ville: <i class="ui icon {% if resource.city is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                </div>

                <div class="ui flowing inverted popup top left transition hidden" id="third-step-params">
                    Prénom: <i class="ui icon {% if resource.firstName is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Nom: <i class="ui icon {% if resource.contactName is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Mot de passe: <i class="ui icon {% if resource.plainPassword is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Catégories: <i class="ui icon {% if resource.categories is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Fournisseurs: <i class="ui icon {% if resource.currentSupplier is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Horaires de livraison: <i class="ui icon {% if resource.deliveryHours is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Kbis: <i class="ui icon {% if resource.kbis is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                </div>

                <div class="ui flowing inverted popup top left transition hidden" id="fourth-step-params">
                    Fournisseurs affectés: <i class="ui icon {% if resource.supplierAccountLogs is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Compte shop créé: <i class="ui icon {% if resource.customers is not empty %}green checkmark{% else %}red close{% endif %}"></i><br/>
                    Compte shop actif: <i class="ui icon {% if resource.customers.first.user.enabled is defined and resource.customers.first.user.enabled %}green checkmark{% else %}red close{% endif %}"></i><br/>
                </div>

                <div class="ui stackable fluid ordered steps prospect-steps">
                    <div class="step {% if resource.registrationStatus.status >= 1 %}completed{% endif %}" data-trigger="#first-step-params">
                        <div class="content">
                            <div class="title">
                                Popup
                            </div>
                            <div class="description">
                                <p>(email + restaurant)</p>
                            </div>
                        </div>
                    </div>

                    <div class="step {% if resource.registrationStatus.status >= 2 %}completed{% endif %}" data-trigger="#second-step-params">
                        <div class="content">
                            <div class="title">
                                Inscription
                            </div>
                            <div class="description">
                                <p>(prénom, restaurant, adresse du restaurant)</p>
                                <a class="ui fluid button" href="{{ path('app_admin_admin_prospect_send_registration_email', {id: resource.id}) }}">
                                    Envoyer un lien vers l'inscription
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="step {% if resource.registrationStatus.status >= 3 %}completed{% endif %}" data-trigger="#third-step-params">
                        <div class="content">
                            <div class="title">
                                Compte
                            </div>
                            <div class="description">
                                <p>(nom, mot de passe, catégories, fournisseurs, kbis, horaires de livraison)</p>
                                <a class="ui fluid button" href="{{ path('app_admin_admin_prospect_send_finalize_registration_email', {id: resource.id}) }}">
                                    Envoyer un lien vers la finalisation d'inscription
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="step {% if resource.registrationStatus.status >= 5 %}completed{% endif %}" data-trigger="#fourth-step-params">
                        <div class="content">
                            <div class="title">
                                Compte actif
                            </div>
                            <div class="description">
                                {% if resource.registrationStatus.status == 4 %}
                                    <p><i class="ui red close icon"></i>Compte inactif</p>
                                {% elseif resource.registrationStatus.status >= 5 %}
                                    <p>Compte actif</p>
                                {% endif %}
                                <button class="ui labeled icon green button" id="create-shop-account-button"><i class="icon plus"></i>Créer un compte Shop</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui fluid card">
        {{ sonata_block_render_event('app.admin.prospect.show.before_information', {'resource': resource}) }}

        <div class="content">
            <a href="{{ path('app_admin_admin_prospect_update', {'id': resource.id}) }}" class="header">
                {{ resource.restaurantName }} | {{ resource.firstName }} {{ resource.contactName|default('sylius.ui.guest_customer'|trans) }}
            </a>
            <div class="meta">
                <span class="date">{{ 'sylius.ui.customer_since'|trans }} {{ resource.createdAt|date }}</span>
            </div>
        </div>

        <div class="content">
            <div class="ui buttons">
                {% if isCustomer %}
                    <a class="ui labeled icon button teal" href="{{ path('app_front_dashboard_page', {_foodo_switch: resource.email}) }}" target="_blank">
                        <i class="user secret icon"></i>
                        Voir le shop en tant que cet utilisateur
                    </a>
                {% endif %}
                <a class="ui labeled icon button green" href="{{ path('app_admin_prospect_statistics_detail', {id: resource.id}) }}" target="_blank">
                    <i class="dollar sign icon"></i>
                    Statistiques d'achats
                </a>
            </div>
        </div>

        <div class="content">
            <div class="ui two column grid">
                <div class="column">
                    <strong>Type: </strong>{{ resource.type }}<br/>
                    <strong>Source: </strong>{{ resource.source }}<br/>
                    <strong>Grossistes actuels: </strong>{{ resource.currentSupplier }}<br/><br/>

                    <strong>Prénom: </strong>{{ resource.firstName }}<br/>
                    <strong>Nom: </strong>{{ resource.contactName }}<br/><br/>

                    <strong>Restaurant: </strong>{{ resource.restaurantName }}<br/>
                    <strong>Adresse: </strong>{{ resource.address }}<br/>
                    <strong>Code postal: </strong>{{ resource.zipcode }}<br/>
                    <strong>Ville: </strong>{{ resource.city }}<br/>
                    <strong>Horaires: </strong>{{ resource.deliveryHours }}<br/><br/>

                    <strong>Société: </strong>{{ resource.companyName }}<br/>
                    <strong>Siren: </strong>{{ resource.siren }}<br/><br/>

                    <a href="mailto:{{ resource.email }}">
                        <i class="envelope icon"></i> {{ resource.email }}
                    </a>
                    {% if resource.supplementaryEmails is not null %}
                        <div id="supplementary-emails">
                            <i class="envelope icon"></i> {{ resource.supplementaryEmails }}
                        </div>
                    {% endif %}
                    {% if resource.phone is not null %}
                        <div id="phone-number">
                            <i class="phone icon"></i> {{ resource.phone }}
                        </div>
                    {% endif %}
                    {% if resource.mobile is not null %}
                        <div id="mobile-number">
                            <i class="mobile icon"></i> {{ resource.mobile }}
                        </div>
                    {% endif %}

                    <br/>

                    {% if resource.plainPassword %}
                        <br/>
                        <strong>Mot de passe: </strong>{{ resource.plainPassword }}<br/>
                    {% endif %}

                    <br/>

                </div>

                <div class="column">
                    {% if resource.suppliers is not empty %}
                        <div class="content">
                            <strong>Grossistes: </strong>
                            <div class="ui list">
                                {% for supplier in resource.suppliers %}
                                <div class="item">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="suppliers" value="{{ supplier.id }}" data-supplier="{{ supplier }}">
                                        <label>
                                            <a href="{{ path('app_admin_supplier_show', {id: supplier.id}) }}">
                                                {{ supplier }}
                                            </a>
                                        </label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="content">
            <div id="subscribed-to-prices">
                <i class="{{ resource.newsletterPrices ? 'green checkmark' : 'red remove' }} icon"></i>
                {{ 'sylius.ui.subscribed_to_prices'|trans }}
            </div>

            <div id="subscribed-to-newsletter">
                <i class="{{ resource.emailSubscribed ? 'green checkmark' : 'red remove' }} icon"></i>
                {{ 'sylius.ui.subscribed_to_newsletter'|trans }}
            </div>
        </div>

        <div class="extra content">
            <a class="ui labeled icon button primary" id="send-predefined-email" href="{{ path('app_admin_mailer_index', {prospect: resource.id}) }}">
                <i class="send icon"></i> Envoyer un e-mail prédéfini
            </a>

            <button class="ui labeled icon button" id="open-account-button"><i class="icon plus"></i>Ouvrir un compte grossiste</button>

            {% if resource.suppliers is not empty %}
                <button class="ui labeld icon button orange" id="send-prices-email">
                    Envoyer les grilles tarifaires pour les <span id="nb-suppliers"></span> fournisseurs sélectionnés
                </button>
            {% endif %}

            {% if resource.enabled == false %}
                <a class="right floated ui positive button" href="{{ path('app_admin_admin_prospect_send_validation_email', {id: resource.id}) }}">Renvoyer l'email de confirmation et activer le prospect</a>
            {% endif %}
        </div>

        {{ sonata_block_render_event('app.admin.prospect.show.after_information', {'resource': resource}) }}
    </div>
</div>

{{ render(controller('app.controller.admin_prospect:supplierAccountLogAction', {id: resource.id})) }}

{{ render(controller('app.controller.admin_prospect:emailHistoryAction', {id: resource.id})) }}

{#{{ render(controller('app.controller.admin_prospect:contactRequestHistoryAction', {id: resource.id})) }}#}

{#{{ render(controller('AppBundle\\Admin\\Controller\\AdvancedUserController:transactionsFromProspectAction', {id: resource.id})) }}#}

<div id="open-account-modal" class="ui modal">
    <div class="header">
        Ouvrir un/des compte(s) pour le restaurant {{ resource.restaurantName }}
    </div>

    <div class="content">
        <strong>Grossistes: </strong>
        <div id="suppliers-container" class="ui loading segment"></div>
    </div>

    <div class="actions">
        <div class="ui approve primary button disabled">Ouvrir le(s) compte(s)</div>
        <div class="ui cancel negative button">Annuler</div>
    </div>
</div>