<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular user icon"></i>
        <div class="content">
            {{ resource.contactName|default('sylius.ui.guest_customer'|trans) }}
            <div class="sub header">
                <div class="ui horizontal divided list">
                    <div class="item">
                        {{ resource.email }}
                    </div>
                </div>
            </div>
        </div>
    </h1>
</div>
