{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.edit_'~metadata.name) %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.update' %}

{% block stylesheets %}
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/app/DataTables/datatables.min.css') }}"/>

    <style type="text/css">
        /*table.table.dataTable th:last-child,*/
        /*table.table.dataTable tr td:last-child {*/
            /*width: 300px !important;*/
        /*}*/
        /*table.table.dataTable tr td a {*/
            /*display: inline !important;*/
        /*}*/
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/app/DataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/importline.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
//            var table = $('#sg-datatables-importline_datatable').DataTable({retrieve:true});

//            new $.fn.dataTable.FixedColumns(table, {
//                scrollX: true,
//                fixedColumns: {
//                    leftColumns: 1,
//                    rightColumns: 1
//                }
//            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui modal" id="modal-importline" style="width:1200px">
        <div class="content">
            <div class="ui message" id="content-form"></div>
        </div>
    </div>

    {{ sonata_block_render_event(event_prefix ~ '.before_header', {'resource': resource}) }}

    {% include '@SyliusAdmin/Crud/Update/_header.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_header', {'resource': resource}) }}

    {% include '@App/Admin/Import/Update/_content.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_content', {'resource': resource}) }}
{% endblock %}