body {
    padding-top: 86px;
}

.logo {
    width: 20.5em !important
}

.conversion-title {
    padding: 20px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #b0bec5;
}

.conversation-container {
}

.chat-block {
    overflow: auto;
    border-left: 1px solid #b0bec5;
    border-right: 1px solid #b0bec5;
    height: 60vh;
}

.response-block {
    background-color: #eceff1;
    border: 1px solid #b0bec5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#form_content {
    height: 8em;
}

.message.supplier {
    background-color: #33d573;
    color: white;
}

#reply-button {
    background-color: #33d573;
    margin-top: -24px;
}

#reply-button:hover {
    background-color: #27be64;
}

.button-row {
    display: flex !important;
    justify-content: center;
}
