<div class="card deal-card">
    <div class="content">
        <div class="header">{{ deal.deal.properties.dealname.value }}</div>
    </div>
    <div class="content">
        {{ form_start(deal.form, {attr:{class:'ui form fluid'}}) }}
        {{ form_widget(deal.form) }}
        <div class="field fluid">
            <button type="submit" class="ui button primary fluid">Enregistrer</button>
        </div>
        {{ form_end(deal.form) }}
    </div>
</div>