<div class="ui grid">
    <div class="two column row">
        <div class="column">
            <h2>Informations Générales</h2>
        </div>
        <div class="column">
            <button class="ui button primary" id="sync-hubspot">Synchronisation Hubspot <-> FoodoMarket</button>
        </div>
    </div>
    <div class="two column row">
        <div class="column">
            <h3 class="ui header">Informations Hubspot</h3>

            {% if userDetails is not empty %}
                {% set props = ['firstname', 'lastname', 'pr_nom_du_contact', 'nom_du_contact', 'mobilephone', 'phone', 'email', 'company', 'address', 'nom_de_la_personne_qui_passe_les_commandes', 'fournisseur_actuel'] %}

                <div class="ui form user">
                    {% for prop in props %}
                        <div class="field">
                            <label>{{ prop }}</label>
                            <input type="text" readonly value="{% if userDetails.properties[prop] is defined %}{{ userDetails.properties[prop].value }}{% endif %}">
                        </div>
                    {% endfor %}

                    {% for identityProfiles in userDetails['identity-profiles'] %}
                        {% for identity in identityProfiles.identities %}
                            {% if identity.type == 'EMAIL' %}
                                <div class="field">
                                    <label>
                                        {% if identity['is-primary'] is defined and identity['is-primary'] == true%}
                                            Email primaire
                                        {% elseif identity['is-secondary'] is defined and identity['is-secondary'] == true %}
                                            Email secondaire
                                        {% else %}
                                            Email autre
                                        {% endif %}
                                    </label>
                                    <input type="email" readonly value="{{ identity.value }}">
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}
                <button class="ui button primary">Créer un contact hubspot</button>
            {% endif %}
        </div>
        <div class="column">
            <h3 class="ui header">Nos Informations</h3>

            {% include '@App/Admin/AdvancedUser/_prospect.html.twig' with {form: prospectForm} %}

            {#{% if companyDetails is not empty %}#}
                {#{% set props = ['name', 'siren', 'phone', 'email', 'website', 'address', 'address2', 'zip', 'city'] %}#}

                {#<div class="ui form company">#}
                    {#{% for prop in props %}#}
                        {#<div class="field">#}
                            {#<label>{{ prop }}</label>#}
                            {#<input type="text" readonly value="{% if companyDetails.properties[prop] is defined %}{{ companyDetails.properties[prop].value }}{% endif %}">#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#{% else %}#}
                {#<button class="ui button primary">Créer une société</button>#}
            {#{% endif %}#}
        </div>
    </div>

    <div class="one column row">
        <div class="column">
            <h2 class="ui header">Transactions Hubspot</h2>
            <div class="ui styled fluid accordion">

                <div class="title active">
                    <i class="dropdown icon"></i>
                    Transactions
                    <button class="ui button green" id="create-user-transaction">Créer une nouvelle transaction</button>
                </div>

                <div class="content active">
                    <div class="ui cards" id="user-cards">
                        {% for deal in userDeals %}
                            {% include '@App/Admin/AdvancedUser/_deal.html.twig' with { deal: deal, lifecycleStages: lifecycleStages } only %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>