<div id="prospect-form-container">
    {{ form_errors(form) }}
    {{ form_start(form, {attr:{class:'ui form prospect'}}) }}
    {{ form_widget(form) }}
    <button class="ui button fluid primary">Ok</button>
    {{ form_end(form) }}
</div>