<div class="sixteen wide column">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">
                Hubspot
                {% if hubspotUrl is not empty %}
                    <a class="ui right floated button" target="_blank" href="{{ hubspotUrl }}">Voir sur Hubspot</a>
                {% endif %}
            </div>
            <div class="meta">Transactions</div>
        </div>
        <div class="content">
            <div id="details-container">
                <div class="ui grid">
                    <div class="one column row">
                        <div class="column">
                            <div class="ui styled fluid accordion">
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    {{ userDeals|length }} Transactions associées à l'utilisateur
                                    <button class="ui button green" id="create-user-transaction" data-userId="{{ vid }}">Créer une transaction</button>
                                </div>

                                <div class="content">
                                    <div class="ui cards" id="user-cards">
                                        {% for deal in userDeals %}
                                            {% include '@App/Admin/AdvancedUser/_deal.html.twig' with { deal: deal, lifecycleStages: lifecycleStages } only %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    {{ companyDeals|length }} Transactions associées à l'entreprise
                                    <button class="ui button green" id="create-company-transaction" data-userId="{{ vid }}">Créer une transaction</button>
                                </div>

                                <div class="content">
                                    <div class="ui cards" id="company-cards">
                                        {% for deal in companyDeals %}
                                            {% include '@App/Admin/AdvancedUser/_deal.html.twig' with { deal: deal, lifecycleStages: lifecycleStages } only %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
