{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .selectable.table tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function submitDealForm(e) {
            e.preventDefault();
            e.stopPropagation();

            var $form = $(this);

            $form.addClass('loading');

            $.post($form.attr('action'), $form.serialize()).then(function(response) {
                var $dealCard = $form.closest('.deal-card');

                $dealCard.replaceWith(response);
                $dealCard.find('form').off('submit').on('submit', submitDealForm);

                // Required to get dropdown and checkboxes working
                $('.ui.dropdown').dropdown();
                $('.ui.checkbox').checkbox();
            });
        }

        function createTransaction(e, id, userId) {
            e.preventDefault();
            e.stopPropagation();

            $.get(Routing.generate('app_admin_advanceduser_account_deal_form', {dealId: 0, userId: userId})).then(function(response) {
                var $cards = $('#' + id);

                $cards.append(response);
                $cards.find('form').off('submit').on('submit', submitDealForm);

                // Required to get dropdown and checkboxes working
                $('.ui.dropdown').dropdown();
                $('.ui.checkbox').checkbox();
            });
        }

        function createCompanyTransaction(e) {
            createTransaction(e, 'company-cards', $(this).data('userId'));
        }

        function createUserTransaction(e) {
            createTransaction(e, 'user-cards', $(this).data('userId'));
        }

        function onUserEdit(response, $row) {
            var $container = $('#details-container');

            $container.html(response);
            $container.find('.ui.accordion').accordion({exclusive: false});

            $container.find('form').off('submit').on('submit', submitDealForm);

            $container.find('#create-company-transaction').data('userId', $row.data('vid')).off('click').click(createCompanyTransaction);
            $container.find('#create-user-transaction').data('userId', $row.data('vid')).off('click').click(createUserTransaction);

            $container.find('#sync-hubspot').off('click').click(function() {
                var self = $(this);

                self.addClass('loading');

                $.get(Routing.generate('app_admin_advanceduser_sync', {email: $row.data('email')})).then(function(response) {
                    onUserEdit(response, $row);
                    self.removeClass('loading');
                });
            });

            // Required to get dropdown and checkboxes working
            $('.ui.dropdown').dropdown();
            $('.ui.checkbox').checkbox();

            var onProspectSubmit = function(e) {
                e.preventDefault();
                e.stopPropagation();

                var $prospectForm = $(this);

                $prospectForm.addClass('loading');

                $.post($prospectForm.attr('action'), $prospectForm.serialize()).then(function(response) {
                    $prospectForm.closest('#prospect-form-container').replaceWith(response);
                    $('.form.prospect').off('submit').on('submit', onProspectSubmit);

                    // Required to get dropdown and checkboxes working
                    $('.ui.dropdown').dropdown();
                    $('.ui.checkbox').checkbox();
                });
            };

            $('.form.prospect').off('submit').on('submit', onProspectSubmit);

            $row.closest('table').removeClass('loading');
        }

        function loadClientInfo($row)
        {
            $row.siblings('tr').removeClass('positive');
            $row.addClass('positive');

            $row.closest('table').addClass('loading');

            $.get(Routing.generate('app_admin_advanceduser_userEdit', {vid: $row.data('vid')})).then(function(response) {
                onUserEdit(response, $row);
            });
        }

        function loadClientInfo2($row) {
            $row.siblings('tr').removeClass('positive');
            $row.addClass('positive');

            $.get(Routing.generate('app_admin_advanceduser_userDetails', {vid: $row.data('vid')})).then(function(response) {
                console.log(response);

                var restaurantName = response.details.properties.hasOwnProperty('company') ? response.details.properties.company.value : '';
                var companyName = response.details.properties.hasOwnProperty('company') ? response.details.properties.company.value : '';
                var interlocutor = response.details.properties.hasOwnProperty('firstname') ? response.details.properties.firstname.value : '';
                var associatedCompany= response.details.properties.hasOwnProperty('associated-company') ? response.details.properties['associated-company'] : {};
                var siren = '';
                var companyAddress = '';

                if (associatedCompany.hasOwnProperty('properties')) {
                    if (associatedCompany.properties.hasOwnProperty('name')) {
                        companyName = associatedCompany.properties.name.value;
                    }

                    if (associatedCompany.properties.hasOwnProperty('siren')) {
                        siren = associatedCompany.properties.siren.value;
                    }

                    if (associatedCompany.properties.hasOwnProperty('address')) {
                        companyAddress = associatedCompany.properties.address.value;
                    }
                }

                $('#restaurant-name').find('input').val(restaurantName);
                $('#restaurant-company').find('input').val(companyName);

                $('#current-supplier').find('input').val();
                $('#order-amount-per-month').find('input').val();
                $('#interlocutor').find('input').val(interlocutor);
                $('#address').find('input').val(companyAddress);
                $('#siren').find('input').val(siren);
                $('#suggested-supplier').find('input').val();
                $('#delivery-hours').find('input').val();
            });
        }

        function populateUserTable(data) {
            var $table = $('#user-table');
            var $tbody = $table.find('tbody');

            $tbody.html('');

            if (data.results.length == 0) {
                $tbody.html('<tr><td>Pas de résultat</td></tr>');
                return ;
            }

            if (!data.ok) {
                alert(data.message);
                return ;
            }

            $(data.results).each(function(index, elem) {
                var $tr = $('<tr data-vid="' + elem.vid + '" data-email="' + elem.email + '" onclick="loadClientInfo($(this));">');

                $tr.append('<td>' + elem.vid + '</td>');
                $tr.append('<td>' + elem.name + '</td>');
                $tr.append('<td>' + elem.restaurant + '</td>');
                $tr.append('<td>' + elem.phone + '</td>');
                $tr.append('<td>' + elem.email + '</td>');
                $tr.append('<td>' + elem.transaction + '</td>');
                $tr.append('<td><a href="' + elem.url + '" target="_blank">Lien Hubspot</td>');

                var date = new Date(parseInt(elem.lastmodifieddate));

                $tr.append('<td>' + date.toLocaleString('fr-FR', {timeZone: 'UTC'}) + '</td>');

                $tbody.append($tr);
            });
        }

        $(document).ready(function() {
            var $contactSearchInput = $('#contact-search');
            var $contactSearchButton = $contactSearchInput.siblings('.button');

            var onSearch = function(e) {
                e.preventDefault();
                e.stopPropagation();

                $('#details-container').html('');

                $contactSearchInput.parent().addClass('loading');

                var terms = $contactSearchInput.val();

                $.get(Routing.generate('app_admin_advanceduser_search', {terms: terms})).then(function(response) {
                    populateUserTable(response);

                    $contactSearchInput.parent().removeClass('loading');
                });
            };

            $contactSearchButton.click(onSearch);
            $contactSearchInput.keyup(function(e) {
                // Enter
                if (e.which == 13) {
                    $contactSearchButton.click();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="ui two column row">
            <div class="column">
                <div class="ui left icon action input fluid">
                    <i class="search icon"></i>
                    <input type="text" id="contact-search" placeholder="Rechercher par email, nom, société..."/>
                    <button class="ui button">Rechercher</button>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid">
                    <a href="{{ path('app_admin_admin_prospect_create') }}"><button class="ui primary button">Création d'un nouveau prospect</button></a>
                </div>
            </div>
        </div>

        <div class="ui one column row">
            <div class="column">
                {#<div class="dimmable">#}
                    {#<div class="ui active inverted dimmer">#}
                        {#<div class="ui loader"></div>#}
                    {#</div>#}
                    {#<table id="user-table" class="ui olive selectable table fluid striped segment">#}
                    <table id="user-table" class="ui olive selectable table fluid striped">
                        <thead>
                        <tr>
                            <th>Hubspot ID</th>
                            <th>Client</th>
                            <th>Restaurant</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>Transaction</th>
                            <th>URL</th>
                            <th>Dernière modification</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                {#</div>#}
            </div>
        </div>

        <div class="ui one column row">
            <div class="column" id="details-container">

            </div>
        </div>
    </div>
{% endblock %}