{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui header">Rapport d'intégration des factures</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {% if report is not empty %}
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Fichier</th>
                        <th>Erreur</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for r in report %}
                        <tr>
                            <td><a href="{{ r.url }}" target="_blank">{{ r.file }}</a></td>
                            <td>{{ r.error }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="ui info message">
                        <p>Rapport vierge</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
