{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('table').tablesort();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="ui grid">

        <div class="row">
            <div class="column">
                <div class="ui dividing header"> Reporting clients</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h3> Sélection de la date (facultatif) </h3>
                <p> Information : La sélection de la date ne sert pour l'instant que pour les colonnes : <br/>
                    "Prix moyen des livraisons de la période donnée" et "Nombre de livraisons dans la période donnée" </p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{ form_start(form, {attr: {class: 'ui form'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="ui button primary">Ok</button>
                {{ form_end(form) }}
            </div>
        </div>

    <div class="row">
        <div class="sixteen wide column">
            <h3>Statistiques de commandes</h3>
            <p> <strong>Légende </strong>: <br/> Vert : Normal <br/> Orange : Moyen (1 jour en trop sans commande(s) par rapport à la fréquence)
            <br/> Rouge : Critique (Plus de 2 jours sans commande(s) par rapport à la fréquence)</p>
            <h4> Pour les colonnes période donnée : <br/> Du {{startFormatted}} ({{ start }}) au {{endFormatted}} ({{ end }})
            <br/> (Par défaut, sélectionne le mois courant)</h4>
        </div>
    </div>

        <div class="row">
            <div class="sixteen wide column">
                <table class="ui sortable celled table">
                    <thead>
                        <tr>
                            <th>E-mail</th>
                            <th>Nom du restaurant principal </th>
                            <th>Téléphone / mobile</th>
                            <th>Total achat</th>
                            <th>Prix moyen des livraisons <br/> de la période donnée </th>
                            <th>Nombre de livraisons <br/> dans la période donnée</th>
                            <th>Nombre total livraisons</th>
                            <th class="sorted descending">Date de la dernière <br/>livraison effectuée</th>
                            <th>Fréquence de commandes <br/> (sur les livraisons) <br/> (A l'habitude de commander <br/> tous les x jours) </th>
                            <th>N'a pas commandé depuis </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                <tbody>
                {% for data in allData %}
                    <tr {% if data.riskLevel == 2 %}
                            class="negative">
                        {% elseif data.riskLevel == 1 %}
                            class="warning">
                        {% elseif data.riskLevel == 0 %}
                            class="positive">
                        {% endif %}
                        <td> {{ data.nom }}</td>
                        <td> {{ data.restaurant }}</td>
                        <td> {{ data.phone }} <br/> {{ data.mobile }}</td>
                        <td> {{ data.totalAchat }} €</td>
                        <td> {{ data.averageDeliveryBetDate|round(1, 'floor') }} €</td>
                        <td> {{ data.nbDeliveryBetweenDat }}</td>
                        <td> {{ data.nbDeliveryTotal }}</td>
                        <td> {{ data.lastDateDelivery }}</td>
                        <td> {{ data.avgFrequency|round(1, 'floor') }} jour(s) </td>
                        <td> {{ data.dayWithoutDelivery }} jour(s)</td>
                        <td>
                           <p> Pas encore disponible </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}