{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}

    <div class="ui grid">

        <div class="row">
            <div class="column">
                <div class="ui dividing header"> Détails prospects</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui dividing header"> Détails de {{ prospect.username}}  </div>
            </div>
        </div>


        <div class="row">
            <div class="sixteen wide column">

                    <table class="ui celled structured selectable table">
                        <thead>
                        <tr>
                            <th> Nom des fournisseurs </th>
                            <th> Catégorie</th>
                            <th> </th>
                        </tr>
                        </thead>
                        {% for data in allData %}
                        <tbody>
                        <tr>
                            <td> {{data.nameSupplier}} </td>
                            <td> {{data.category }} </td>
                            <td> </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </div><br/>
    <a class="ui button" href="{{ path('app_admin_reporting_index') }}"> <i class="arrow left icon"></i> Retour</a>


{% endblock %}