{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function showConfirmationModal() {
            $('#mercuriale-confirm-modal').modal('show');
        }

        $(document).ready(function() {
            $('#customers-accordion').accordion({exclusive: false});
            $('.send-mercuriale').click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                var $button = $(this);

                $button.removeClass('loading').addClass('loading');

                $.get(Routing.generate('app_admin_foodomarket_mercuriale_send', {supplierId: $button.data('supplier')})).then(function(response) {
                    $button.removeClass('loading');
                    showConfirmationModal();

                    console.log(response);
                });
            });

            $('.send-email').click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                var $templateContent = $(this).closest('.template-content');
                var templateId = $templateContent.data('template');
                var templateParams = '';
                var hasError = false;

                $templateContent.find('input').each(function() {
                    var $this = $(this);

                    if ($this.val().length === 0) {
                        $this.parent().addClass('error');
                        hasError = true;
                    } else {
                        $this.parent().removeClass('error');
                        templateParams += '&' + $this.attr('name') + '=' + encodeURIComponent($this.val());
                    }
                });

                if (!hasError) {
                    templateParams = templateParams.substr(1);

                    console.log(templateId, templateParams);
                    // $.post(Routing.generate(''))
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% set nbPartners = suppliers|length %}

    <div id="mercuriale-confirm-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Mercuriale envoyée avec succès
        </div>
        <div class="content">
            <div class="description">
                <div class="ui header">La mercuriale a été envoyée aux clients du groupe !</div>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                Cool
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="one column row">
            <div class="column">
                <div class="ui four cards fluid">
                    <div class="card">
                        <div class="content">
                            <div class="header">Clients Virtuels</div>
                            <div class="meta">Clients au sens qui nous intéresse</div>
                            <div class="description">
                                {{ nbVirtualCustomers }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header">Clients Physiques</div>
                            <div class="meta">Clients physiquement parlant</div>
                            <div class="description">
                                {{ nbPhysicalCustomers }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header">Prospects</div>
                            <div class="meta">Mais pourquoi ne sont-ils pas déjà clients ?</div>
                            <div class="description">
                                {{ nbProspects }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="header">Fournisseurs Partenaires</div>
                            <div class="meta">Les bons les vrais</div>
                            <div class="description">
                                {{ nbPartners }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                <div id="customers-accordion" class="ui styled fluid accordion">
                    {% for supplier in suppliers %}
                        <div class="title">
                            <div class="ui grid">
                                <div class="ten wide column">
                                    <i class="dropdown icon"></i>
                                    {{ supplier.name }} <span class="supplier-customers-count">({{ supplier.customers|length }} clients)</span>
                                </div>

                                <div class="six wide column right aligned">
                                    <button data-supplier="{{ supplier.id }}" class="ui button primary send-mercuriale">Envoyer les mercuriales</button>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <ul class="ui list">
                                {% for customer in supplier.customers %}
                                    <li class="item">
                                        {{ customer.restaurantName }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}