<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="FoodoMarket">
    <link rel="icon" type="image/png" href="{{asset('favicon-32x32.png')}}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{asset('favicon-16x16.png')}}" sizes="16x16"/>

    {% block title %}
        <title>Espace Vendeur | FoodoMarket.com</title>
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
        {{ encore_entry_link_tags('seller', null, 'seller') }}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_js %}{% endblock %}
</head>
<body>
<div class="main-container">
    <div class="container">
        <div id="react-container">{% spaceless %}{% block body %}{% endblock %}{% endspaceless%}</div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('seller', null, 'seller') }}
{% endblock %}
</body>
</html>
