{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="one column row">
            <div class="column">
                <div class="ui dividing header huge">
                    Importer des Prospects depuis le CSV
                </div>
            </div>
        </div>

        {% if result is not null %}
            <div class="one column row">
                <div class="column">
                    <div class="ui message">
                        Nouveaux prospects: {{ result.new }}<br/>
                        Prospects existants: {{ result.existing }}<br/>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="one column row">
            <div class="column">
                {{ form_start(form, {attr: {class: 'ui form'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}