<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="FoodoMarket">
        <link rel="icon" type="image/png" href="{{asset('favicon-32x32.png')}}" sizes="32x32"/>
        <link rel="icon" type="image/png" href="{{asset('favicon-16x16.png')}}" sizes="16x16"/>
        <link rel="stylesheet" href="{{ asset('bundles/app/js/outdated-browser-rework/style.css') }}"/>
        <script type="text/javascript" src="{{ asset('bundles/app/js/outdated-browser-rework/outdated-browser-rework.min.js') }}"></script>

        {% block title %}
            <title>Le marché en ligne des restaurateurs | FoodoMarket.com</title>
        {% endblock %}

        {% block meta %}
            <meta name="description" content="Professionnels de la restauration, achetez vos produits alimentaires au meilleur prix sur FoodoMarket. Livraison en A pour B dans toute l'île-de-France.">
        {% endblock %}

        {% block stylesheets %}
{#            {{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MTS8DXN');</script>
        <!-- End Google Tag Manager -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--Start of Tawk.to Script-->
{#        <script type="text/javascript">#}
{#            var Tawk_API=Tawk_API||{};#}
{#            {% if initialStates.frontState.user.restaurant is defined and initialStates.frontState.user.email is defined %}#}
{#            Tawk_API.visitor = {#}
{#                name : "{{ initialStates.frontState.user.restaurant }}",#}
{#                email: "{{ initialStates.frontState.user.email }}"#}
{#            };#}
{#            {% endif %}#}
{#            var Tawk_LoadStart=new Date();#}
{#            (function(){#}
{#                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];#}
{#                s1.async=true;#}
{#                s1.src='https://embed.tawk.to/5bcdd466460a125f265712e3/default';#}
{#                s1.charset='UTF-8';#}
{#                s1.setAttribute('crossorigin','*');#}
{#                s0.parentNode.insertBefore(s1,s0);#}
{#            })();#}
{#        </script>#}
        <!--End of Tawk.to Script-->
        <!-- Hotjar Tracking Code for www.foodomarket.com -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1533983,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        {% block head_js %}{% endblock %}
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTS8DXN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <div class="main-container">
            <div class="container">
                <div id="react-container">{% spaceless %}{% block body %}{% endblock %}{% endspaceless%}</div>
            </div>
        </div>
    {% block javascripts %}
{#        {{ encore_entry_script_tags('app') }}#}
    {% endblock %}

{#    <div id="outdated"></div>#}
    <script>
        outdatedBrowserRework({
            browserSupport: {
                Chrome: 57,
                Chromium: 57,
                Edge: 39,
                Safari: 11.1,
                "Mobile Safari": 12,
                Opera: 50,
                Firefox: 50,
                Vivaldi: 1,
                IE: false
            },
            requireChromeOnAndroid: true,
            isUnknownBrowserOK: false,
            messages: {
                en: {
                    outOfDate: "Votre Navigateur n'est pas à jour",
                    unsupported: "Votre navigateur n'est pas supporté",
                    update: {
                        web: "Votre navigateur n'est pas à jour ou n'est pas supporté, certaines fonctionnalitées risque de ne pas être disponibles. \r\n \r\n Afin de profiter pleinement de toute l'expérience Foodomarket, nous vous recommandons de mettre à jour votre navigateur ou d'installer un navigateur compatible en cliquant sur le boutton ci-dessous.",
                        googlePlay: "Votre navigateur n'est pas à jour ou n'est pas supporté, certaines fonctionnalités risquent de ne pas être disponibles. \r\n \r\n Afin de profiter pleinement de toute l'expérience Foodomarket, nous vous recommandons d'installer ou mettre à jour Chrome directement depuis le Play Store <a class='update-call-to-action' href='https://play.google.com/store/apps/details?id=com.android.chrome'>Installer/Mettre à jour Chrome</a>",
                        appStore: "Vous disposez d'un version dépassée d'iOs, certaines fonctionnalités risquent de ne pas être disponibles. \r\n \r\n Afin de profiter pleinement de toute l'expérience Foodomarket, nous vous recommandons de mettre à jour votre téléphone en suivant la procédure officielle d'Apple : <a class='update-call-to-action' href='https://support.apple.com/fr-fr/HT204204'>Mise à jour de votre iPhone</a>"
                    },
                    // You can set the URL to null if you do not want a clickable link or provide
                    // your own markup in the `update.web` message.
                    url: "http://outdatedbrowser.com/",
                    callToAction: "Mettre à jour mon navigateur maintenant",
                    close: "Fermer"
                },
                fr: {
                    outOfDate: "Votre Navigateur n'est pas à jour",
                    unsupported: "Votre navigateur n'est pas supporté",
                    update: {
                        web: "Votre navigateur n'est pas à jour ou n'est pas supporté, certaines fonctionnalitées risque de ne pas être disponibles. \r\n \r\n Afin de profiter pleinement de toute l'expérience Foodomarket, nous vous recommandons de mettre à jour votre navigateur ou d'installer un navigateur compatible en cliquant sur le boutton ci-dessous.",
                        googlePlay: "Votre navigateur n'est pas à jour ou n'est pas supporté, certaines fonctionnalités risquent de ne pas être disponibles. \r\n \r\n Afin de profiter pleinement de toute l'expérience Foodomarket, nous vous recommandons d'installer ou mettre à jour Chrome directement depuis le Play Store <a class='update-call-to-action' href='https://play.google.com/store/apps/details?id=com.android.chrome'>Installer/Mettre à jour Chrome</a>",
                        appStore: "Vous disposez d'un version dépassée d'iOs, certaines fonctionnalités risquent de ne pas être disponibles. \r\n \r\n Afin de profiter pleinement de toute l'expérience Foodomarket, nous vous recommandons de mettre à jour votre téléphone en suivant la procédure officielle d'Apple : <a class='update-call-to-action' href='https://support.apple.com/fr-fr/HT204204'>Mise à jour de votre iPhone</a>"
                    },
                    // You can set the URL to null if you do not want a clickable link or provide
                    // your own markup in the `update.web` message.
                    url: "http://outdatedbrowser.com/",
                    callToAction: "Mettre à jour mon navigateur maintenant",
                    close: "Fermer"
                }
            }
        });
    </script>
    </body>
</html>
