.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 70px;
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 270px;
}

.panel-center, .panel-center.left-visible {
  padding-left: 70px;
}

.panel-center:not(.right-visible) {
  padding-right: 70px;
}

.panel-center.right-visible {
  padding-right: 270px;
}

#panel-left .icon {
  padding: 0;
  margin: 0;
}

#panel-left {
  padding: 0;
}

#panel-left .item {
  font-size: 15px;
  padding: 0;
  text-align: center;
}

#panel-left .item .text, #panel-left .item.FoodoMarketLogo, #panel-left .item.login {
  display: none;
}

#toggle-left-sidebar.visible {
  left: 0;
}

#toggle-right-sidebar.visible {
  right: calc(270px - 71px);
}
