{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        #optim-admin .results {
            position: relative;
            overflow: auto;
            max-height: 50vh;
            width: 100%;
        }
        .supplier.search {
            margin-top: 8px;
        }
        .product.search {
            margin-top: 8px;
        }
        .supplier.search .prompt {
            border-radius: 0 !important;
        }
        .product.search .prompt {
            border-radius: 0 !important;
        }
        .table .input {
            min-width: 70px;
        }
        #submit-button {
            margin-top: 8px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            var $restaurant = $('#restaurants');
            var $productsSearch = null;
            var $suppliersSearch = null;
            var $productsContainer = $('#products-container');
            var $productsContainerBody = $productsContainer.find('tbody');
            var $suppliersContainer = $('#suppliers-container');
            var $suppliersContainerBody = $suppliersContainer.find('tbody');
            var $submitButton = $('#submit-button');
            var $originalTotal = $productsContainer.find('#original-total');
            var $replacementTotal = $productsContainer.find('#replacement-total');

            function initProductsSearch(restaurantId) {
                var url = Routing.generate('app_admin_optim_products_search', {restaurant: restaurantId, terms: '{query}'});

                url = url.replace('%7B', '{').replace('%7D', '}');

                $productsSearch = $('.product.search').search({
                    apiSettings: {
                        url: url
                    },
                    type: 'category',
                    minCharacters: 3,
                    searchOnFocus: true,
                    cache: false,
                    onSelect: function(element) {
                        var trId = 's-' + element.supplierId + '-v-' + element.variantId;

                        // On ajoute pas 2 fois la même chose !
                        if ($productsContainerBody.find('#' + trId).length > 0) {
                            return true;
                        }

                        var tr = $('<tr id="' + trId + '" data-sid="' + element.supplierId + '" data-vid="' + element.variantId + '"></tr>');

                        tr.append('<td class="o0"><button class="remove-product ui button negative">X</button></td>');
                        tr.append('<td class="o1">' + element.supplierName + '</td>');
                        tr.append('<td class="o2">' + element.title + ' (' + element.variantId + ')</td>');
                        tr.append('<td class="variant-price o3">' + element.price + '</td>');
                        tr.append('<td class="o4"><div class="ui input fluid"><input class="variant-quantity" type="number" placeholder="Quantité" value="1"></div></td>');

                        // Will be populated after
                        tr.append('<td class="r1">').append('<td class="r2">').append('<td class="r3">').append('<td class="r4">');

                        $productsContainerBody.append(tr);

                        tr.find('.remove-product').off('click').click(function() {
                            var trToRemove = $(this).closest('tr');
                            var trClassToRemove = trToRemove.prop('id');

                            trToRemove.remove();
                            $productsContainerBody.find('tr.' + trClassToRemove).remove();
                        });

                        return true;
                    }
                });
            }

            function initSuppliersSearch() {
                var url = Routing.generate('app_admin_optim_suppliers_search', {terms: '{query}'});
                url = url.replace('%7B', '{').replace('%7D', '}');

                $suppliersSearch = $('.supplier.search').search({
                    apiSettings: {
                        url: url
                    },
                    type: 'category',
                    minCharacters: 3,
                    searchOnFocus: true,
                    cache: false,
                    onSelect: function(element) {
                        var trId = 's-' + element.supplierId;

                        // On ajoute pas 2 fois la même chose !
                        if ($suppliersContainerBody.find('#' + trId).length > 0) {
                            return true;
                        }

                        var tr = $('<tr id="' + trId + '" data-sid="' + element.supplierId + '"></tr>');

                        tr.append('<td>' + element.title + '</td>');
                        tr.append('<td><div class="ui input fluid"><input class="franco" type="number" placeholder="Franco" value="' + element.franco + '"></div></td>');
                        tr.append('<td><div class="ui input fluid"><input class="frais" type="number" placeholder="Frais" value="' + element.frais + '"></div></td>');
                        tr.append('<td><button class="remove-supplier ui button negative">X</button></td>')

                        $suppliersContainerBody.append(tr);

                        tr.find('.remove-supplier').off('click').click(function() {
                            $(this).closest('tr').remove();
                        });

                        return true;
                    }
                });
            }

            initProductsSearch($restaurant.val());
            initSuppliersSearch();

            $restaurant.change(function() {
                initProductsSearch($(this).val());
            });

            $submitButton.click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                $submitButton.addClass('loading');

                var data = {
                    restaurant: $restaurant.val(),
                    nb_suppliers: $('#nb_suppliers').val(),
                    suppliers: [],
                    variants: []
                };

                $suppliersContainerBody.find('tr').each(function() {
                    var $this = $(this);

                    data.suppliers.push({
                        id: $this.data('sid'),
                        franco: $this.find('.franco').val(),
                        frais: $this.find('.frais').val()
                    });
                });

                $productsContainerBody.find('tr:not(.rowed)').each(function() {
                    var $this = $(this);

                    var price = $this.find('.variant-price').text();

                    data.variants.push({
                        variantId: $this.data('vid'),
                        supplierId: $this.data('sid'),
                        quantity: $this.find('.variant-quantity').val(),
                        unit: price.substring(price.length - 2)
                    });
                });

                $.post(Routing.generate('app_admin_optim_optimize'), data).then(function(response) {
                    $productsContainerBody.find('tr.rowed').remove();
                    $productsContainerBody.find('td').removeAttr('rowspan');
                    $productsContainerBody.find('td.r1,td.r2,td.r3,td.r4').text('');
                    $originalTotal.text('');
                    $replacementTotal.text('');

                    $submitButton.removeClass('loading');

                    if (response.ok) {
                        var done = [];

                        $originalTotal.text(response.originalTotal);
                        $replacementTotal.text(response.replacementTotal);

                        $(response.replacement).each(function(index, elem) {
                            var tr = $productsContainerBody.find('#' + elem.originalId);

                            var nb = done.filter(function(variantId) {
                                return variantId == elem.originalId;
                            }).length;

                            if (nb > 0) {
                                tr.find('td.o0,td.o1,td.o2,td.o3,td.o4').prop('rowspan', nb + 1);

                                var newTr = $('<tr class="rowed ' + elem.originalId + '">');

                                newTr.append('<td class="r1">' + elem.supplier + '</td>');
                                newTr.append('<td class="r2">' + elem.variant + '</td>');
                                newTr.append('<td class="r3">' + elem.price + '</td>');
                                newTr.append('<td class="r4">' + elem.quantity + '</td>');

                                tr.after(newTr);
                            } else {
                                tr.find('td.r1').text(elem.supplier);
                                tr.find('td.r2').text(elem.variant);
                                tr.find('td.r3').text(elem.price);
                                tr.find('td.r4').text(elem.quantity);
                            }

                            done.push(elem.originalId);
                        });
                    } else {
                        alert(response.message);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1 class="ui header">Test Algo - Customizer</h1>

    <div id="optim-admin" class="ui grid">
        <div class="ui six wide column">
            <div class="ui equal width grid">
                <div class="column">
                    <select class="ui dropdown fluid" name="restaurants" id="restaurants">
                        <option value="">Choisir un restaurant</option>
                        {% for restaurant in restaurants %}
                            {% if loop.first %}
                                <option selected value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                            {% else %}
                                <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="column">
                    <div class="ui labeled input fluid">
                        <div class="ui label">Fournisseurs max</div>
                        <input type="number" step="1" min="1" id="nb_suppliers" name="nb_suppliers" value="1"/>
                    </div>
                </div>
            </div>

            <div class="one column row">
                <div class="column">
                    <div class="ui supplier search">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="Rechercher un fournisseur...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>

                    <table id="suppliers-container" class="ui basic table">
                        <thead>
                        <tr>
                            <th>Fournisseur</th>
                            <th>Franco</th>
                            <th>Frais</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="one column row">
                <div class="column">
                    <div class="ui product search">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="Rechercher un produit...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>

            <div class="one column row">
                <div class="column">
                    <button class="ui button primary fluid" id="submit-button">Lancer l'optim</button>
                </div>
            </div>
        </div>
        <div class="ui ten wide column">
            <table id="products-container" class="ui inverted structured table">
                <thead>
                <tr>
                    <th colspan="5">Original</th>
                    <th colspan="4">Remplacement</th>
                </tr>
                <tr>
                    <th>Action</th>
                    <th>Fournisseur</th>
                    <th>Produit</th>
                    <th>Prix/Unité</th>
                    <th>Quantité</th>
                    <th>Fournisseur</th>
                    <th>Produit</th>
                    <th>Prix/Unité</th>
                    <th>Quantité</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="right aligned">Total</td>
                    <td id="original-total"></td>
                    <td colspan="3" class="right aligned">Total (liv. inc)</td>
                    <td id="replacement-total"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}