{{ form_start(replyForm, {attr: {class: 'ui form'}}) }}
<div class="ui grid stackable">
    <div class="twelve wide column">
        {{ form_widget(replyForm) }}
    </div>
    <div class="four wide middle aligned column button-row">
        <button type="submit" class="ui labeled icon button primary" id="reply-button">
            <i class="send icon"></i>
            Envoyer
        </button>
    </div>
</div>
{{ form_end(replyForm) }}
