<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Conversation avec {{ firstname }} ({{ restaurant }})</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{{ asset('bundles/api/css/supplier-message.css') }}"/>
</head>
​
<body cz-shortcut-listen="true">
<div class="">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" src="https://www.foodomarket.com/build/shop/server/images/logo-1.cf350c39.png">
            </a>
        </div>
    </div>
    ​
    <div class="ui grid stackable container conversation-container">
        <div class="row conversion-title">
            <h3 class="ui header">Votre conversation avec {{ firstname }}
                <div class="ui large label">
                    {{ restaurant }}
                </div>
            </h3>
        </div>

        <div class="row chat-block">
            <div class="sixteen wide column">
                <div class="ui grid" id="conversation">
                    {% for message in messages %}
                        <div class="row">
                            {% if message.senderType == 'user' %}
                                <div class="twelve wide left floated left aligned column">
                                    <div class="ui client message">
                                        <div class="header"></div>
                                        {% if message.picture is not null %}
                                            <img src="{{ message.picture }}" style="width: 100%; border-radius: 5px;"/>
                                            <br/>
                                        {% endif %}
                                        {% if message.isTemplate %}
                                            {{ message.message|raw }}
                                        {% else %}
                                            {{ message.message|nl2br }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% elseif message.senderType == 'supplier' %}
                                <div class="twelve wide right floated right aligned column">
                                    <div class="ui supplier message">
                                        <div class="header"></div>
                                        {% if message.picture is not null %}
                                            <img src="{{ message.picture }}" style="width: 100%; border-radius: 5px;"/>
                                            <br/>
                                        {% endif %}
                                        {% if message.isTemplate %}
                                            {{ message.message|raw }}
                                        {% else %}
                                            {{ message.message|nl2br }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row response-block">
            <div class="sixteen wide column" id="replyForm-container">
                {% include '@Api/SupplierMessage/_replyForm.html.twig' %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        const onReplyButtonClicked = function(e) {
            e.preventDefault();

            const $replyFormContainer = $('#replyForm-container');
            const $button = $(this);
            const $form = $button.closest('form');
            const action = $form.attr('action');

            $button.addClass('disabled').addClass('loading');

            $.post(action, $form.serialize()).then(function(response) {
                $button.removeClass('disabled').removeClass('loading');

                if (response.hasOwnProperty('ok')) {
                    if (response.ok) {
                        $('#conversation').append(
                            '<div class="row">' +
                            '   <div class="twelve wide right floated right aligned column">' +
                            '       <div class="ui supplier message">' +
                            '           <div class="header"></div>' +
                            response.message.content +
                            '       </div>' +
                            '   </div>' +
                            '</div>'
                        );
                    }

                    $replyFormContainer.html(response.replyForm);
                    $replyFormContainer.find('#reply-button').off('click').click(onReplyButtonClicked);
                } else {
                    document.location = '{{ path('app_front_404_page') }}';
                }
            });
        };

        $('#reply-button').click(onReplyButtonClicked);

        var messageBody = document.querySelector('.chat-block');
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    });
</script>

</body>
</html>