<p>
    Bonjour {{ supplier }},<br/>
    Je souhaite passer commande pour le {{ date|date('d/m/Y') }},
</p>
<table cellpadding="2" cellspacing="2" border="1" style="border-collapse: collapse">
    <tbody>
    <tr style="font-size: 12px">
        <th>Libellé</th>
        <th>Quantité</th>
    </tr>
    </tbody>
    <tbody>
    {% for item in items %}
        <tr style="font-size: 12px !important">
            <td>
                {{ item.foodomarket_name }}<br/>
                {{ item.foodomarket_name_extra }}
                {% if item.note is defined and item.note is not empty %}
                    <p style="font-style: italic">Note: {{ item.note }}</p>
                {% endif %}
            </td>
            <td>{{ item.quantity }} {{ item.unit }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if note is defined and note is not empty %}
    <b style="font-size: 16px;">Note sur la commande:</b>
    <p style="border: 2px dashed #000; font-size: 16px; padding: 8px;">{{ note|raw }}</p>
{% endif %}

<p>
    Merci !
</p>
