<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Commande de {{ restaurant_name }} du {{ order_date }}</title>
    <style type="text/css">
        table, table tr td, table tr th {
            border: 1px solid #000;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
&Agrave; destination de {{ supplier_name }},<br><br>
Nouvelle commande {{ restaurant_name }} pour le {{ date }}

<br><br>

{{ address|raw }}

<br><br>

{% include 'AppBundle:MiddleOffice/Mail:order_content.html.twig' %}

<br>
Par {{ customer }} - {{ customer_email }}
<br><br>
</body>
</html>