<table cellpadding="1" cellspacing="1" border="1" style="border-collapse: collapse;width: 100%;" bordercolor="#b0bec5">
    <tbody>
    <tr style="font-size: 12px">
        <th>Référence</th>
        <th>Produit</th>
        <th>Prix unitaire {% if type is defined and type == 'ttc' %}HT{% else %}HT{% endif %}</th>
        <th>Quantité</th>
        <th>Total {% if type is defined and type == 'ttc' %}TTC{% else %}HT{% endif %}</th>
    </tr>
    </tbody>
    <tbody>
    {% for item in items %}
        <tr style="font-size: 11px !important">
            <td>{% if item.reference is defined and item.reference is not empty %}{{ item.reference }}{% endif %}</td>
            <td>
                {{ item.foodomarket_name }} {{ item.foodomarket_name_extra }}
                {% if item.note is defined and item.note is not empty %}
                    <p style="font-style: italic">Note: {{ item.note }}</p>
                {% endif %}
            </td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }} {{ item.unit }}</td>
            <td>{{ item.totalPrice }}€</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% if type == 'ttc' %}
        <tr style="font-size: 11px !important">
            <td colspan="4">Frais de livraison</td>
            <td>{{ delivery_cost }}€</td>
        </tr>
    {% endif %}
    <tr style="font-size: 11px !important">
        <td colspan="4">Total {% if type is defined and type == 'ttc' %}TTC{% else %}HT{% endif %} pour <b>{{ items|length }} produit(s)</b></td>
        {% if delivery_cost != 'Aucun' and delivery_cost > 0 %}
            <td><b>{{ amount + delivery_cost }} €</b></td>
        {% else %}
            <td><b>{{ amount }} €</b></td>
        {% endif %}
    </tr>
    </tfoot>
</table>

{% if note is defined and note is not empty %}
    <br>
    <b style="font-size: 16px;">Note sur la commande:</b>
    <p style="border: 2px dashed #000; font-size: 16px; padding: 8px;">{{ note|raw }}</p>
    <br>
{% endif %}
