<div id="product-edit-form-container" class="product-edit-tab-container">
    <div id="product-edit-tab" class="ui top attached secondary pointing menu">
        <a class="item active" data-tab="photo">Photo</a>
        <a class="item" data-tab="categories">Catégories</a>
    </div>

    <div class="ui middle attached tab segment active" data-tab="photo">
        <div class="ui grid one column row">
            <div class="column">
                <img src="{{ picture }}"/>

                {{ form_start(form, {attr: {class: 'ui form'}}) }}
                    {{ form_row(form.productImage.file) }}
                    {{ form_row(form.remove) }}
                    {{ form_row(form._token) }}
                    <button id="submit-product-picture" type="button" class="ui button primary">Uploader</button>
                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
    </div>

    <div class="ui middle attached tab segment" data-tab="categories">
        <script id="taxon-tree-json" type="application/json">{{ taxonTree|raw }}</script>
        <div id="taxon-tree"></div>

        <button id="update-categories-button" class="ui button primary">Ok</button>
    </div>
</div>