<div id="variant-edit-form-container" class="variant-edit-tab-container">
    <script id="variant-price-history" type="application/json">{{ history|raw }}</script>
    <script id="variant-active-prices" type="application/json">{{ active_prices|raw }}</script>

    {{ form_start(form) }}
    <div id="variant-edit-tab" class="ui top attached secondary pointing menu">
        <a class="item" data-tab="options">Options</a>
        <a class="item" data-tab="infos">Informations</a>
        <a class="item" data-tab="suppliers">Fournisseurs</a>
        <a class="item" data-tab="restaurants">Restaurants</a>
        <a class="item" data-tab="prices">Prix</a>
    </div>
    <div class="ui middle attached tab segment" data-tab="options">
        <div>
            <h4>Prix affiché dans le shop:</h4>
            <div class="ui segment" id="variant-price-display"></div>
        </div>
        <div class="ui segment" id="variant-options-container">
            {{ form_row(form.optionValues) }}
        </div>
    </div>
    <div class="ui middle attached tab segment" data-tab="infos">
        <div class="ui right labeled input">
            <label class="ui label required">Produit</label>
            <div class="ui basic label">{{ product_id }}</div>
        </div><br/><br/>
        <div class="ui right labeled input">
            <label class="ui label required">Variante</label>
            <div class="ui basic label">{{ variant_id }}</div>
        </div><br/><br/>
        <div class="ui right labeled input">
            {{ form_label(form.weight, 'Poids', {label_attr: {class: 'ui label'}}) }}
            {{ form_widget(form.weight) }}
            <div class="ui basic label">kg</div>
        </div>
    </div>
    <div class="ui middle attached tab segment" data-tab="suppliers">
        <table class="ui celled structured table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fournisseur</th>
                    <th>Référence</th>
                    <th>Packaging ID</th>
                    <th>Libellé fichier mercuriale</th>
                    <th>Poids</th>
                    <th>Quantité</th>
                    <th>Unité facture</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for supplierInformation in suppliers %}
                    <tr>
                        <td>{{ supplierInformation.id }}</td>
                        <td>{{ supplierInformation.supplier.name }}</td>
                        <td>
                            <div class="ui fluid input" style="min-width: 150px">
                                <input class="supplier-file-reference-input" type="text" value="{{ supplierInformation.reference }}"/>
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input" style="min-width: 150px">
                                <input class="supplier-file-order-ref-input" type="text" value="{{ supplierInformation.orderRef }}"/>
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input" style="min-width: 150px">
                                <input class="supplier-file-label-input" type="text" value="{{ supplierInformation.label }}"/>
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input" style="min-width: 150px">
                                <input class="supplier-weight-input" type="text" value="{{ supplierInformation.weight }}"/>
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input" style="min-width: 150px">
                                <input class="supplier-unit-quantity-input" type="text" value="{{ supplierInformation.unitQuantity }}"/>
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input" style="min-width: 150px">
                                <input class="supplier-sales-unit-input" type="text" value="{{ supplierInformation.salesUnit }}"/>
                            </div>
                        </td>
                        <td>
                            <button class="remove-supplier-assoc ui button negative" data-informationsid="{{ supplierInformation.id }}" title="Supprimer l'association avec ce fournisseur"><i class="remove icon"></i></button>
                            <button class="edit-supplier-label ui button positive" data-informationsid="{{ supplierInformation.id }}" title="Enregistrer les libellés/informations de matching"><i class="pencil icon"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table id="pair-supplier-form" class="ui celled table inverted">
            <thead>
            <tr>
                <th colspan="2">Associer cette variante avec un fournisseur</th>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <th>Libellé fichier (sert au matching mercurial)</th>
            </tr>
            </thead>
            <tbody>
            <tr class="ui form">
                <td>
                    <select id="pair-supplier" name="pair-supplier">
                        <option>--- Choisir un fournisseur ---</option>
                        {% for unpairedSupplier in unpaired_suppliers %}
                            <option value="{{ unpairedSupplier.id }}">{{ unpairedSupplier.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input id="pair-supplier-label" type="text" placeholder="Libellé fichier"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="pair-supplier-button" class="ui button primary fluid">Associer cette variante avec ce fournisseur</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ui middle attached tab segment" data-tab="restaurants">
        <table class="ui celled structured table">
            <thead>
            <tr>
                <th>Restaurant</th>
                <th>Fournisseur</th>
                <th>Prix unitaire</th>
                <th>Prix kilo</th>
                <th>Promo</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for restaurant in restaurants %}
                {% for supplier in restaurant.suppliers %}
                    <tr>
                        {% if loop.first %}<td rowspan="{{ restaurant.suppliers|length }}">{{ restaurant.restaurant.name }}</td>{% endif %}
                        <td>{{ supplier.supplier.name }}</td>
                        <td>{{ supplier.price.unitPrice / 100 }}€</td>
                        <td>{{ supplier.price.kgPrice / 100 }}€</td>
                        <td>
                            <button class="ui labeled icon button toggle-promo {% if supplier.price.promo %}positive{% else %}negative{% endif  %}" data-price-id="{{ supplier.price.id }}">
                                <i class="{% if supplier.price.promo %}checkmark{% else %}close{% endif %} icon"></i>
                                {% if supplier.price.promo %}En promo{% else %}Pas en promo{% endif %}
                            </button>
                        </td>
                        <td>
                            <button class="remove-supplier-restaurant-assoc ui button negative" data-supplier="{{ supplier.supplier.id }}" data-restaurant="{{ restaurant.restaurant.id }}" title="Supprimer l'association avec ce fournisseur et ce restaurant"><i class="remove icon"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <table id="association-form" class="ui celled structured table inverted">
            <thead>
            <tr>
                <th colspan="2">Choisir un couple pour l'association de cette variante</th>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <th>Restaurant</th>
            </tr>
            </thead>
            <tbody>
            <tr class="ui form">
                <td>
                    <select id="assoc-supplier" name="assoc-supplier">
                        <option value="">--- Choisir un fournisseur ---</option>
                        {% for supplier in paired_suppliers %}
                            <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="assoc-restaurant" name="assoc-restaurant">
                        <option value="">--- Choisir un restaurant ---</option>
                        {% for restaurant in restaurants_select %}
                            <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="associate-button" class="ui button fluid primary">Associer cette variante avec ce couple</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ui middle attached tab segment" data-tab="prices">
        <div class="ui raised segment chart-container">
            <!--suppress CheckTagEmptyBody -->
            <canvas id="chart"></canvas>
        </div>
        <div id="price-segment" class="ui raised segments">
            <div class="ui inverted segment" style="color:#fff;">
                <h4 class="ui header">Ajouter un prix</h4>
            </div>
            <div class="ui segment">
                <div id="price-form" class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label for="price-restaurant">Restaurant</label>
                            <select id="price-restaurant" name="price-restaurant">
                                <option value="">Choisir</option>
                                {% for restaurant in paired_restaurants %}
                                    <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label for="price-supplier">Fournisseur</label>
                            <select id="price-supplier" name="price-supplier">
                                <option value="">Choisir</option>
                                {% for supplier in paired_suppliers %}
                                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Prix</label>
                        <div class="three fields stackable">
                            <div class="field">
                                <div class="ui right labeled input">
                                    <label for="kg-price" class="ui label">€</label>
                                    <input id="kg-price" name="kg-price"/>
                                    <div class="ui basic label">kg</div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui right labeled input">
                                    <label for="unit-price" class="ui label">€</label>
                                    <input id="unit-price" name="unit-price"/>
                                    <div class="ui basic label">pc</div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui right labeled input">
                                    <input type="date" id="price-date" name="price-date"/>
                                    <div class="ui basic label">Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui grid two columns">
                        <div class="ui column">
                            <div id="price-remove-button" class="ui button fluid negative" style="display: none;">
                                Supprimer
                            </div>
                        </div>
                        <div class="ui column">
                            <div id="price-add-modify-button" class="ui button fluid primary">
                                Ajouter / Modifier
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached segment">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>