{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!--suppress CheckTagEmptyBody -->
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/app/jstree/themes/default/style.min.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/app/css/page-check.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/jstree/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/PageCheck/util.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/PageCheck/api.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/PageCheck/index.js') }}"></script>

{#    <script type="text/javascript">#}
{#        $(document).ready(function() {#}
{#            $('#filters .filter-suppliers input').change(function() {#}
{#                const data = $('.filter-supplier-checkbox:checked').map(function() {#}
{#                    return $(this).val();#}
{#                }).toArray();#}

{#                // TODO: Affect to session#}
{#                PageCheck.put('{{ path('app_admin_page_check_filters', {filterName: 'suppliers'}) }}', {filterValue: data}, function(response) {#}
{#                    console.log(response);#}
{#                });#}
{#            });#}
{#        });#}
{#    </script>#}
{% endblock %}

{% block content %}
{#    <div class="ui grid" id="filters">#}
{#        <div class="row">#}
{#            <div class="column">#}
{#                Général:#}
{#            </div>#}
{#        </div>#}

{#        <div class="row">#}
{#            <div class="column filter-suppliers">#}
{#                <b>Fournisseurs:</b>#}
{#                <div class="ui horizontal list">#}
{#                    {% for supplier in filters.suppliers %}#}
{#                        <div class="item">#}
{#                            <div class="content">#}
{#                                <div class="ui checkbox">#}
{#                                    <input type="checkbox" class="filter-supplier-checkbox" name="suppliers[]" value="{{ supplier.id }}">#}
{#                                    <label>{{ supplier.name }}</label>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="row">#}
{#            <div class="column">#}
{#                Options:#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="ui grid page-check">#}
{#        <div class="row">#}
{#            <div class="six wide column top aligned" style="max-height: calc(100vh - 43px); overflow: auto;">#}
{#                <div class="ui input icon" id="catalog-search-container">#}
{#                    <input id="catalog-search" type="text" placeholder="Nom / Variant Id / Reference" />#}
{#                    <i class="search icon"></i>#}
{#                </div>#}
{#                <div id="catalog-tree"></div>#}
{#            </div>#}
{#            <div class="ten wide column" style="max-height: calc(100vh - 43px); overflow: auto;">#}
{#                <div id="catalog-edit-container"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="ui grid page-check">
        <div class="ui inverted dimmer" id="page-check-dimmer"></div>
        <div class="ui six wide column" style="max-height: calc(100vh - 43px); overflow: auto;">
            <div class="ui input icon" id="catalog-search-container">
                <input id="catalog-search" type="text" placeholder="Nom / Variant Id / Reference" />
                <i class="search icon"></i>
            </div>
            <div id="catalog-tree"></div>
        </div>
        <div class="ui ten wide column" style="max-height: calc(100vh - 43px); overflow: auto;">
            <div id="catalog-edit-container"></div>
        </div>
    </div>

    <div id="page-check-confirm-modal" class="ui modal inverted">
        <div class="header">Header</div>
        <div class="content">
            <p>Voulez vous vraiment continuer ?</p>
        </div>
        <div class="actions">
            <div class="ui approve button positive">Oui</div>
            <div class="ui cancel button negative">Annuler</div>
        </div>
    </div>

    <div id="page-check-create-taxon-modal" class="ui modal inverted">
        <div class="header">Nouveau taxon</div>
        <div class="content">
            <p>Nouveau taxon dans <span id="taxon-parent-name">...</span></p>
            <div class="ui left icon input">
                <input type="text" id="taxon-name" placeholder="Nom du taxon">
                <i class="folder icon"></i>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button positive">Créer</div>
            <div class="ui cancel button negative">Annuler</div>
        </div>
    </div>

    <div id="page-check-create-product-modal" class="ui modal inverted">
        <div class="header">Nouveau produit</div>
        <div class="content">
            <p>Nouveau produit dans <span id="taxon-parent-name">...</span></p>
            <div class="ui left icon input">
                <input type="text" id="product-name" placeholder="Nom du produit">
                <i class="pencil alternate icon"></i>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button positive">Créer</div>
            <div class="ui cancel button negative">Annuler</div>
        </div>
    </div>

    <div id="page-check-create-option-value" class="ui modal inverted">
        <div class="header">Nouvelle valeur d'option pour <span id="option-name"></span></div>
        <div class="content">
            <input type="hidden" id="option-code" name="option-code"/>
            <div class="ui left icon input">
                <input type="text" id="option-value" name="option-value"/>
                <i class="pencil alternate icon"></i>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button positive">Créer</div>
            <div class="ui cancel button negative">Annuler</div>
        </div>
    </div>

{#    <div class="ui inverted dimmer" id="page-check-dimmer"></div>#}
{% endblock %}