.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 70px;
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 270px;
}

.panel-center, .panel-center.left-visible {
  padding-left: 0;
}

.panel-center:not(.right-visible) {
  padding-right: 0;
}

.panel-center.right-visible {
  padding-right: 0;
}

#panel-left .icon {
  padding: 0;
  margin: 0;
}

#panel-left {
  padding: 0;
}

#panel-left .item {
  font-size: 15px;
  padding: 0;
  text-align: center;
}

#user-icon {
  display: none;
}

#panel-left .item .text, #panel-left .item.FoodoMarketLogo, #panel-left .item.login {
  display: none;
}

#toggle-left-sidebar, #toggle-right-sidebar {
  position: fixed;
  z-index: 1000;
  height: 40px;
}

#toggle-left-sidebar.visible {
  left: 0;
  background-color: rgba(255,255,255,.15);
}

#toggle-right-sidebar.visible {
  right: 0;
  background-color: rgba(255,255,255,.15);
}

.catalog-search.ui.fluid.search .results {
  width: 100vw;
}

.catalog-search.ui.fluid.search .results .title {
  font-size: 12px;
}

#catalog-menu .ui.dropdown .menu,
#catalog-menu .ui.dropdown .menu.transition,
#catalog-menu .ui.dropdown .menu.transition.visible,
#catalog-menu .ui.dropdown .menu div,
#catalog-menu .ui.dropdown .menu .item {
  opacity: 1 !important;
  background-color: #ffffff !important;
}

@media screen and (max-width: 768px) {
  #offer-column {
    padding-top: 2em;
  }
}

@media only screen and (max-width: 767px) {
  #foodo-content {
    padding-left: 0;
    padding-right: 0;
  }

  #foodo-content .ui.stackable.grid {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
  }

  #foodo-content .shopping-list-supplier-group .row.supplier-products-section .ui.stackable.grid,
  #foodo-content .order-line.item .ui.grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #toggle-left-sidebar, #toggle-right-sidebar, #toggle-left-sidebar.visible, #toggle-right-sidebar.visible {
    //top: 120px;
    top: 80px;
    border-radius: 0 !important;
    z-index: 3000 !important;
  }

  #toogle-right-sidebar.visible {
    color: #ffffff !important;
  }

  #catalog-menu.logged-in > .ui.dropdown > .menu {
    left: -56px;
  }
}
