{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}


{% set variant = product|sylius_resolve_variant %}

<div>{{ 'sylius.ui.choose_supplier'|trans }}</div>
<ul>
{% for channelPricing in variant.channelPricings %}
    {% if channelPricing.restaurant is null or restaurant_context.restaurant is null or channelPricing.restaurant.id == restaurant_context.restaurant.id %}
    <li><a href="?_channel_code={{ channelPricing.channelCode }}">{{ channelPricing.channelCode }}</a> : {{ money.format(channelPricing.price, sylius.currencyCode) }}</li>
    {% endif %}
{% endfor %}
</ul>

<span class="ui huge header" id="product-price">
    {{ money.calculatePrice(product|sylius_resolve_variant) }}
</span> chez {{ sylius.channel.code }}

