{% extends 'SyliusAdminBundle:Crud:update.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{#    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>#}
{#    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>#}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/javascript" src="{{ asset('bundles/app/admin/autocomplete-resource.js') }}"></script>
    <script type="text/babel" src="{{ asset('bundles/app/admin/ProductCard.js') }}"></script>
    <script type="text/babel" src="{{ asset('bundles/app/admin/carousel.js') }}"></script>
{% endblock %}
