#catalog-menu .menu {
  min-width: 160px;
}

.filter-accordion-title {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#catalog-search {
  border-radius: 4px;
}

.catalog-search > .results {
  max-height: 50vh;
  overflow-y: auto;
}

//.starting-price-text {
//  color: limegreen;
//}

.starting-price-price {
  color: limegreen;
  font-weight: bold;
}

@media screen and (max-width: 468px){
  .ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui) {
    font-size: 0.9em;
  }
}
