footer {
  min-height: 20vh;
}

footer, footer a, footer .item {
  font-size: 16px;
  color: #ffffff !important;
}

footer h5 {
  font-family: Roboto-Medium, sans-serif !important;
  color: #C0C0C0 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

footer .ui.grid .row .column > div {
  display: inline-block;
  text-align: left;
}

footer .ui.grid .row .column:first-child {
  text-align: right !important;
}

footer .ui.grid .row .column:nth-child(2) {
  text-align: center !important;
}

footer .ui.grid .row .column:last-child {
  text-align: left !important;
}

@media only screen and (max-width: 767px) {
  footer .ui.grid .row .column:first-child {
    text-align: left !important;
  }

  footer .ui.grid .row .column:nth-child(2) {
    text-align: left !important;
  }
}
