@import '~semantic-ui-css/semantic.min.css';
@import 'suggestions';
//@import 'onboarding';
@import 'shopping-list';
@import 'missing-product';
@import 'invoice';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'dashboard';
@import 'catalog';
@import 'product';
@import 'account';
@import 'footer';
@import 'breadcrumb';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import '~react-semantic-toasts/styles/react-semantic-alert.css';

.foodo-green {
  color: rgb(63, 168, 60);
}

.catalog-head-child {
  display: inline;
  font-weight: normal !important;
}

.catalog-head-child a:hover {
  text-decoration: underline;
}

.catalog-head-child:not(:last-child)::after {
  content: ', ';
}

.menu .promo-item .text {
  color: red;
  font-weight: bold;
}

.shopping-list-product-item.promo .ribbon.label {
  left: -1.2em;
}

.product-card .ribbon.label {
  max-width: 100px;
  top: 1em;
  z-index: 2;
  left: -1.2em;
}

.ui.page.modals.dimmer.transition.visible.active {
  z-index: 4000;
}

.ui.modal.schedule-modal > .content {
  line-height: 1.0;
}

.supplier-logo-card {
  box-shadow: none !important;
}

.supplier-logo-card .content:not(.extra) > div {
  position: relative;
  height: 100%;
  //min-height: 140px;
}

//#register-form-container {
//  background-color: #1b1c1d;
//}
//
//#register-form-container.card .content, #register-form-container.card .header {
//  color: rgba(255, 255, 255, 0.9) !important;
//}
//
//#register-categories .image {
//  background-color: #3faa3470;
//}

#register-form-container .ui.radio.checkbox:not(:nth-child(2)) {
  margin-left: 2em;
}

#register-form-container .ui.radio.checkbox::after {
  display: none;
}

.supplier-logo-card .content:not(.extra) > div > .image {
  //position: absolute;
  bottom: 0;
}

.register-page {
  background: url(../img/couv-fhd.jpg) no-repeat center !important;
  background-size: cover !important;
  background-attachment: fixed;
}

.schedule-error .schedule-widget .ui.input>input {
  background-color: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flowing.popup.visible {
  z-index: 4000;
}

#loading-segment {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
}

#toast-overlay {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 4000;
}

.slick-slide {
  padding: 0.5em;
}

.slick-slide .card .header {
  font-size: 1em !important;
}

#home-segment h1 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  //font-family: Roboto-Bold, sans-serif;
}

#home-segment h2, #not-found-segment h2, #error-segment h2 {
  margin-top: 1.5em;
  text-align: center;
}

.main-content.ui.segment {
  margin-bottom: 0 !important;
}

.ui.segment.footer {
  margin-top: 0 !important;
}

@font-face {
  font-family: 'LucidaGrande';
  src: url('../../../web/bundles/app/font/LucidaGrandeRegular.ttf');
}

#partners-group .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#partners-group img {
  max-height: 150px
};

html, body {
  height: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

#foodo-menu-segment {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  //z-index: 103;
  z-index: 2000;
}

#foodo-menu-segment > .menu {
  margin: 0;
}

.login-subscribe a {
  color: #ffffff;
  text-decoration: underline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.ui.breadcrumb a, a {
  color: #0294ff;
  font-family: Roboto, sans-serif !important;
}

.ui.action.input:not([class*="left action"]) > input:focus {
  border: none !important;
}

.ui.form .field.field input:-webkit-autofill {
  box-shadow: none !important;
  border: 0 !important;
  background: none !important;
}

.ui.form .field.field input:-webkit-autofill:focus {
  box-shadow: none !important;
  border: 0 !important;
  background: none !important;
}

.max-height {
  min-height: 80vh;
  height: 100%;
}

.within-max-height {
  min-height: 80vh;
  height: 100%;
}

.FoodoMarketLogo {
  font-size: 28px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.FoodoMarketLogo .text-style-1 {
  font-weight: 300;
}

#catalog-search-input .label {
  margin-left: 0;
  background: #fff;
  font-size: 1.5em;
  padding-right: 0;
  padding-top: 8px;
  padding-bottom: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

#filter-trigger {
  text-decoration: underline;
  font-weight: bold;
}

.login-welcome {
  width: 105px;
  height: 63px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

a.login-welcome {
  color: #9b9b9b;
  text-decoration: underline;
}

.segment {
  border-radius: 0 !important;
}

.pushable > .pusher {
  height: 100vh;
}

#panel-left, #panel-right {
  margin-top: 74px !important;
  padding-bottom: 80px !important;
}

.pushable #panel-left, .pushable #panel-right {
  height: calc(100vh - 80px) !important;
  padding-bottom: 0 !important;
}

#panel-center {
  padding-top: 80px !important;
}

.pusher > #panel-center > div {
  height: calc(100vh - 80px);
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  #panel-left, #panel-right {
    margin-top: 120px !important;
    padding-bottom: 120px !important;
  }

  .pushable #panel-left, .pushable #panel-right {
    height: calc(100vh - 120px) !important;
    padding-bottom: 0 !important;
  }

  #panel-center {
    padding-top: 120px !important;
  }

  .pusher > #panel-center > div {
    height: calc(100vh - 120px);
    overflow-y: auto;
  }
}

.panel-left {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 0 !important;
}

.panel-left .item:first-child {
  margin-top: 50px;
  text-align: center;
}

#panel-left .item {
  font-size: 17px;
  padding: 12px 0;
  font-family: Roboto, sans-serif;
  text-align: left;
  color: #ffffff;
  border: 0 !important;
}

.panel-left .item.active {
  background-color: transparent !important;
  font-weight: bold !important;
}

.ui.vertical.menu .item > i.icon {
  float: none;
  //font-size: 20px;
}

.panel-left .menu-analytics .menu {
  top: 45px !important;
  left: 28px !important;
}

#user-widget #restaurant-dropdown i {
  font-size: 1.5em;
  margin-right: 20px;
}

#restaurant-submenu-item {
  margin-top: 3px;
  display: inline-block;
}

#catalog-segment .card .header {
  font-size: 14px;
}

//.ui.menu .ui.dropdown.item .menu .item {
//  font-size: 18px !important;
//  padding: 7px 0 7px 9px !important;
//  font-family: Roboto, sans-serif !important;
//  text-align: left !important;
//  color: #9b9b9b !important;
//  border-left: solid 2px #9b9b9b !important;
//}

.ui.vertical.menu .item > .icon {
  margin-left: 0 !important;
}

.ui.vertical.menu .dropdown.item > .icon {
  float: left;
  margin-left: 0;
  margin-right: 5px;
}

.missing-product-modal.ui.modal .scrolling.content {
  height: calc(70vh);
}

.optim-badge {
  background-color: #0294ff !important;
}

.main-content {
  padding: 0 !important;
  background-color: #f7f7f7 !important;
  min-height: 100vh;
}

.main-content.non-logged {
  min-height: 80vh;
}

.primary-content > .segment {
  padding: 0;
}

.content-title {
  font-family: Roboto, sans-serif !important;
  font-size: 24px !important;
  font-weight: 300 !important;
  text-align: left !important;
  color: #4a4a4a !important;
}

.place-order-menu {
  border: 1px solid #4a4a4a;
  border-radius: 6px;
  box-shadow: none !important;
  background-color: transparent !important;
  margin-bottom: 28px !important;
}

.place-order-menu a.item {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 300 !important;
  text-align: center;
  color: #9b9b9b !important;
  background-color: transparent !important;
}

.place-order-menu a.item.active {
  color: #4a4a4a !important;
  background-color: transparent !important;
}

.shopping-lists .ui.grid {
  margin-top: 0;
  margin-bottom: 0;
}

.shopping-lists .column {
  padding: 0 !important;
}

.shopping-lists .item {
  margin: 0 !important;
  padding: 0 !important;
}

.shopping-list-row {
  font-size: 14px;
  min-height: 96px;
  border-left: solid 1px #e8e8e8;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #9b9b9b;
  padding: 0 !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.shopping-list-row .column {
  display: flex !important;
  background-color: #ffffff;
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
}

.shopping-list-row .shopping-list-col-actions {
  background-color: transparent;
  border: 0;
}

.shopping-list-row .column > div {
  margin-top: auto;
  margin-bottom: auto;
}

.shopping-list-row .shopping-list-col-order {
  font-size: 14px;
  background-color: #0294ff;
  color: #ffffff;
}

.shopping-list-row .shopping-list-col-order > div {
  margin: auto;
  text-align: center;
}

.shopping-list-row i.icon {
  font-size: 1.8em;
}

.shopping-list-row .shopping-list-col-actions > div {
  padding-left: 13px;
}

.shopping-list-row .shopping-list-col-actions a {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-align: left;
  color: #9b9b9b;
}

.shopping-list-row .column:first-child > div,
.shopping-list-row .column:nth-child(2) > div{
  padding-left: 15px;
}

.shopping-list-name {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: left;
  color: #4a4a4a;
}

.ui.segment {
  background: none;
  box-shadow: none;
  border: none;
}

.shopping-list-creation-step {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  text-align: left;
  color: #4a4a4a;
  font-weight: normal;
}

.shopping-list-creation-step-nb {
  color: #0294ff;
  font-weight: bold;
}

.shopping-list-supplier-item {
  min-height: 48px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 11px;
  //width: 200px;
  clear: both;
  padding:0 !important;

  font-family: LucidaGrande, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #9b9b9b;

  //max-width:250px;
}

.shopping-list-supplier-item:not(.order-disabled) {
  border: solid 0.5px #9b9b9b;
}

.shopping-list-supplier-item h4 {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  line-height: 1.71;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
}

.shopping-list-supplier-item:not(.order-disabled).active {
  border-width: 2px;
}

.shopping-list-supplier-item.order-disabled {
  -webkit-box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
  background-color: #ffe8e6;;
}

.shopping-list-supplier-item:not(.active) {
  opacity: 0.47;
}

.shopping-list-supplier-item i.icon {
  float: right;
  font-size: 20px;
  margin-top: 15px !important;
}

.shopping-list-supplier-item .content {
  margin-top: 7px !important;
}

// Style spécialement pour la liste des produits
// en mode virtualisé
.shopping-list-product-item-virtualized {
  font-size: 12px;
  min-height: 48px;
  border-radius: 1px;
  //background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border: 0.5px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
  font-family: LucidaGrande, sans-serif;
  text-align: left;
  color: #9b9b9b;
  //max-width: 500px;
  padding-right: 4px !important;
  padding-top:0 !important;
  padding-bottom:0 !important;
  vertical-align: middle;
  margin-bottom: 11px;
}



.shopping-list-product-item {
  font-size: 12px;
  min-height: 48px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border: 0.5px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
  font-family: LucidaGrande, sans-serif;
  text-align: left;
  color: #9b9b9b;
  //max-width: 500px;
  padding-right: 4px !important;
  padding-top:0 !important;
  padding-bottom:0 !important;
  vertical-align: middle;
  margin-bottom: 11px;
}

.shopping-list-product-item.order-disabled,
.shopping-list-product-item-virtualized.order-disabled {
  opacity: 0.5;
}

.item.order-line.order-disabled {
  opacity: 0.5;
}

.infos-container .shopping-list-product-item {
  margin: 0 -20px 11px -20px !important;
}

.shopping-list-product-item .content {
  max-width: calc(100% - 48px);
}

.shopping-list-product-item h4 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin-bottom: 5px !important;

  /* essential */
  text-overflow: ellipsis;
  //max-width: 320px;
  max-width: 100%;
  //white-space: nowrap;
  overflow: hidden;
}

.shopping-list-panel .shopping-list-product-item h4 {
  max-width: 210px;
}

.shopping-list-product-item .item-actions {
  float: right;
  margin: 4px;
  padding: 0;
  height: 39px;
}

.quantity-widget {
  padding: 4px !important;
  max-width: 70px;
  vertical-align: middle !important;
  height: 36px;
  margin: 0 1px !important;
}

.quantity-widget input {
  width: 75%;
  text-align: center !important;
  display: inline-block;
}

.quantity-widget-container .button {
  vertical-align: middle;
  height: 36px;
}

//.shopping-list-product-item .add-label,
//.shopping-list-product-item .add-label.disabled {
//  width: 43px;
//  height: 39px;
//  text-align: center;
//  font-size: 14px;
//  color: #4a4a4a;
//  padding: 0;
//  vertical-align: middle;
//}

.shopping-list-product-item .add-label,
.shopping-list-product-item .add-label.disabled {
  width: 100px;
  height: 39px;
  text-align: center;
  font-size: 14px;
  color: #4a4a4a;
  padding: 0;
  vertical-align: middle;
  font-weight: normal;
}

.shopping-list-product-item .add-label.enabled {
  background-color: #0294ff;
  color: #ffffff;
}

.product-added-label {
  background-color: #00d166 !important;
  color: #ffffff !important;
}

.shopping-list-product-item .add-label .icon {
  margin-top: 7px;
  margin-right: 0;
  display: block;
}

.shopping-list-product-item .image {
  width: 48px;
  height: 48px;
}

.panel-right .shopping-list-product-item .image {
  opacity: 0.75;
  vertical-align: middle !important;
  text-align: center;
}

.shopping-list-product-item .image .icon {
  font-size: 14px !important;
  color: #4a4a4a;
  position: absolute;
  top: 17px;
  left: 13px;
}

.shopping-list-product-item .image .icon:hover {
  color: #DB2828;
}

.panel-right {
  background-color: #ffffff !important;
  border-left: solid 1px #dfdfdf !important;
  padding-top: 39px;
  text-align: center;
}

#toggle-left-sidebar, #toggle-right-sidebar {
  position: fixed;
  top: calc(50vh - 22px);
  z-index: 102;
  width: 70px;
  height: 45px;
  background: #1B1C1D;
  color: #ffffff;
  text-align: center;
  border-radius: 0;
  margin: 0;
}

#toggle-left-sidebar.visible, #toggle-right-sidebar.visible {
  top: 80px;
}

#toggle-left-sidebar {
  left: 0;
}

#toggle-right-sidebar {
  right: 0;
}

#toggle-left-sidebar.visible {
  left: calc(250px - 70px);
}

#toggle-right-sidebar.visible {
  right: calc(300px - 70px);
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  #toggle-right-sidebar.visible {
    color: #000000 !important;
  }
}

#toggle-left-sidebar:not(.visible) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#toggle-right-sidebar:not(.visible) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 250px;
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 300px;
}

.panel-center.left-visible {
  padding-left: 250px;
}

.panel-center.right-visible {
  padding-right: 300px;
}

// Style spécialement pour la barre de recherche dans les mercuriales

.grid-shopping-suppliers{
  //margin-right: 37px;
}

#input-search {
  border-radius: 50px;
  width: 500px;
  background-color: hsl(204, 15%, 96%);
}

#button-search {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #33d573;
  padding: 15px 35px;
}

// La carte qui contient la barre de recherche des produits
.sticky-card-search {
  position: sticky !important;
  -webkit-position: sticky !important;
  top: 70px !important;
  z-index: 1000 !important;
}

// Représente la barre de recherche entière
.ui.input.action{
  //flex-grow: 1;
}

.ui.red.label {
  margin-bottom: 10px !important;
}

.label_promo {
  margin-bottom: 8px !important;
}

.space-button{
  align-items: center !important;
  display: flex !important;
}

.border-titre1 {
  // Fait une bordure autour du texte
  border-width: 1px;
  //border-style: solid;
  border-color: hsl(0, 0%, 88%);
  padding: 10px;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2) !important;
  font-size: 17px;
  background: hsl(198, 16%, 82%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.border-titre2 {
  // Fait une bordure autour du texte
  border-width: 1px;
  //border-style: solid;
  border-color: hsl(0, 0%, 88%);
  margin-bottom: -30px;
  padding: 10px;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2) !important;
  font-size: 17px;
  background: hsl(198, 16%, 82%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ui.card.card_search_product {
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2) !important;
  border-radius: 0;
}

// Use flexbox
.container-card-search {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

// Permet à la barre de recherche FontInputSearch de prendre toute la place
.ui.action.input {
  width: 100%;
}

// Bouton produit manquant
.flex-item-search2 {
  height: 35px;
  width: 250px;
  color: seagreen;
  margin-bottom: 10px;
  box-shadow: none !important;
  text-decoration : underline !important;
}

.flex-item-search2:hover {
  color: darkgreen;
}

// Gère le cas de l'I Pad Pro en portrait
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  #input-search {
    width: 300px;
  }
}

// TEST pour la liste des produits côté mercuriale (virtualized)

.flex_product_list {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content : center

  //padding: 5px !important;
}

.flex_product_list .add-label.enabled {
  background-color: #0294ff;
  color: #ffffff;
}

.flex_product_list .add {
  height: 39px;
  text-align: center;
  font-size: 14px;
  color: #4a4a4a;
  padding: 0;
  vertical-align: middle;
  font-weight: normal;
}

.flex_product_list .add-label .icon {
  margin-top: 7px;
  margin-right: 0;
  display: block;
}

.flex_product_list .add-label,
.flex_product_list .add-label.disabled {
  width: 100px;
  height: 39px;
  text-align: center;
  font-size: 14px;
  color: #4a4a4a;
  padding: 0;
  vertical-align: middle;
  font-weight: normal;
}

.childOne {
  margin-right: 20px;
}

.childTwo {
  flex-grow: 1;
  color: grey;
  font-size: 10px;
  flex-basis: 50%;
  line-height: 13px !important;
  padding: 5px;
}

.childThree {
  display: flex;
  align-items: center;
  float: right;
  //margin: 4px;
  padding: 0;
  height: 39px;
}

.title_product_virtualized {
  margin: 0 !important;
  color: black;
  font-size: 15px;
}

.product_flex_virtualized {
  font-size: 9px !important;
  color: grey;
}

.mercurialProductRow{
  padding: 5px 2px;
}

// Obligatoire pour que l'AutoSizer sache la hauteur à attribuer pour la liste virtualisée
.column_virtualized  > div {
  height: 100% !important;
}

// Fais un style personnalisé pour mobile concernant le panneau de recherche de produit
@media only screen and (min-device-width : 320px) and (max-device-width : 850px) {

  .title_product_virtualized {
    //line-height: 14px !important;
  }

  .column_virtualized {
    height: calc(100vh - 50px);
  }

  // La card qui contient tous les élements de la barre de recherche
  .container-card-search {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //flex-direction: row;
  }

  .flex-item-search1{
    height: 30px;
    width: 200px;
    align-content: center;
  }

  // Barre de recherche
  #input-search {
    border-radius: 50px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 200px;
    background-color: hsl(204, 15%, 96%);
    //height: 33px;
  }

  #button-search{
    //height: 33px;
  }

  .sticky-card-search {
    position: sticky !important;
    -webkit-position: sticky !important;
    top: 110px !important;
    z-index: 2 !important;
  }

  // Bouton produit manquant
  .flex-item-search2 {
    height: 35px;
    width: 250px;
    color: seagreen;
    box-shadow: none !important;
    align-content: center;
  }
}

.front-input .icon {
  color: #9b9b9b;
  font-size: 18px;
}

.front-input {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12) !important;
  margin-top: 7px !important;
  padding-bottom:9px;
}

.front-input .icon {
  margin: 1px 0 0 0 !important;
}

.panel-right .front-input {
  margin-top: 17px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.save-shopping-list-button {
  min-height: 38px !important;
  background-color: #0294ff !important;
  color: #ffffff !important;
  border-radius: 0 !important;
  margin-top: 30px !important;
}

.my-list {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #4a4a4a;
  width: 100%;
  display: inline-block;
}

.products-in-list,
.products-in-cart {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #9b9b9b;
  display: inline-block;
  width: 100%;
  margin-top: 3px;
}

.panel-right .shopping-list-panel .infos-container {
  padding: 0 20px;
}

.shopping-list-creation-step.third-step {
  margin-top: 59px;
}

.order-line {
  margin: 0 !important;
  padding: 0 !important;
}

.order-line .grid {
  margin: 0 !important;
  padding: 0 !important;
}

.order-item-row {
  min-height: 48px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border: 0.5px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
  padding: 0 !important;
  margin-bottom: 11px !important;
}

.order-item-row.non-orderable {
  background-color: #9b9b9b;
}

.order-item-name .image {
  width: 48px;
  height: 48px;
  display: inline-block !important;
  vertical-align: top;
  margin-right: 11px;
}

.order-item-name div div {
  display: inline-block;
}

.order-item-row .row {
  padding: 0 !important;
  margin: 0 !important;
}

.order-item-row .column {
  padding: 0 !important;
  display: flex !important;
}

.order-item-row .column > div {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.product-origin {
  font-size: 10px;
  color: #0294ff;
}

.order-item-row .order-item-name .product-name {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  line-height: 1.71;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.order-item-row .order-item-name .supplier-name {
  font-size: 12px;
  font-family: LucidaGrande, sans-serif;
  text-align: left;
  color: #9b9b9b;
}

.order-item-row:not(.non-orderable) .order-item-name {
  background-color: #ffffff;
}

.order-item-row .order-item-price {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-align: right;
  color: #9b9b9b;
  padding-right: 8px !important;
}

.order-item-row:not(.non-orderable) .order-item-price {
  background-color: #ffffff;
}

.order-item-row .order-item-price .price-unit {
  font-size: 12px;
}

.order-item-row .order-item-quantity {
  text-align: center;
}

.order-item-row:not(.non-orderable) .order-item-quantity {
  background-color: #ffffff;
}

.order-item-row .order-item-note {
  background-color: #f4f4f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border: 0.5px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
  text-align: center;
}

.order-item-row .order-item-note.note-added {
  background-color: #00d166;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.order-item-row .order-item-order {
  background-color: #0294ff;
  text-align: center !important;
  color: #ffffff;
  cursor: pointer;
}

.order-item-row .order-item-order.has-error {
  //background-color: indianred;
  //color: #ffffff;
  text-align: center !important;
  cursor: default;

  background-color: #9b9b9b;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;
  color: #e9e9e9;
}

.order-item-row.added .order-item-order {
  background-color: #00d166;
}

.added .quantity-widget {
  background-color: #00d166;
}

.quantity-widget input {
  font-size: 16px;
  vertical-align: super;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #4a4a4a;
}

.added .quantity-widget input,
.has-error .quantity-widget input {
  color: #ffffff;
}

.quantity-widget > .label {
  font-size: 12px;
  padding: 0 !important;
  background-color: transparent !important;
  border: 0 !important;
  width: 25%;
}

.quantity-widget > .label > .dropdown {
  text-align: center;
}

.quantity-widget .dropdown.icon {
  display: block;
  text-align: center;
  margin: 0 5px !important;
}

.quantity-widget .dropdown .icon,
.quantity-widget .text {
  color: #9b9b9b;
}

.added .quantity-widget .dropdown .icon,
.added .quantity-widget .text {
  color: #ffffff !important;
}

.quantity-widget .menu {
  background-color: #ffffff !important;
}

.added .quantity-widget .menu {
  background-color: #00d166 !important;
}

.has-error.quantity-widget {
  //background-color: indianred !important;
  //color: #ffffff !important;

  background-color: #9b9b9b;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;
  color: #e9e9e9 !important;
}

.has-error .ui.basic.label {
  color: #e9e9e9 !important;
}

.has-error.quantity-widget .dropdown .icon, .has-error.quantity-widget .text {
  color: #e9e9e9 !important;
}

.shopping-cart-panel-product .product-name {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-align: left;
  color: #4a4a4a;
}

.shopping-cart-panel-product .product-quantity,
.shopping-list-product-item .product-quantity {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #0294ff;
}

.shopping-cart-panel-product .product-quantity .product-quantity-unit,
.shopping-list-product-item .product-quantity .product-quantity-unit {
  font-size: 12px;
}

.shopping-cart-panel-product .product-price {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: left;
  color: #4a4a4a;
}

.shopping-cart-panel-product .product-price .product-price-unit {
  font-size: 12px;
  color: #9b9b9b;
}

.shopping-cart-panel {
  padding: 17px 17px 1em 17px;
  margin: 0 !important;
}

.shopping-cart-panel .row,
.shopping-cart-panel .row .column {
  padding: 0 !important;
}

.shopping-cart-panel .row .column:first-child {
  text-align: left;
}

.shopping-cart-panel .row .column:last-child {
  text-align: right;
}

.shopping-cart-panel .row {
  margin-top: 9px;
}

.shopping-cart-panel .menu {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}

.shopping-cart-panel .title {
  border: 0 !important;
}

.shopping-cart-supplier .supplier-name {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  //font-weight: bold;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 1px;
}

.shopping-cart-supplier .supplier-nb-items,
.shopping-cart-supplier .supplier-items-price {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: left !important;
  color: #9b9b9b;
}

.shopping-cart-supplier.non-orderable .supplier-items-price {
  color: #d0021b;
}

.shopping-cart-supplier .title {
  text-align: left;
}

.shopping-cart-panel-product {
  margin-top: 8px !important;
  margin-bottom: 0 !important;
}

.shopping-cart-panel-product .row:last-child {
  padding-bottom: 4px !important;
  border-bottom: solid 1px #e8e8e8;
}

.shopping-cart-panel .mini-order-all.button.icon {
  text-align: center;
  color: #ffffff;
  background-color: #0294ff;
  width: 39px;
  height: 39px;
  padding: 0;
  margin: 0 0 0 0;
}

.shopping-cart-panel .remove-all-button {
  text-align: center;
  color: #ffffff;
  width: 39px;
  height: 39px;
  padding: 0;
  margin: 0 0 0 0;
}

.shopping-cart-panel > .button.icon .icon {
  margin:0 !important;
  padding: 0 !important;
  font-size: 20px;
}

.shopping-cart-supplier .order-button {
  min-height: 38px !important;
  color: #ffffff !important;
  margin-top: 14px !important;
  padding: 0 !important;
  width: 100% !important;
  background-color: #0294ff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.ui.blue.button {
  background-color: #0294ff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.login-form {
  text-align: center;
  padding-top: 25px;
}

.shopping-cart-supplier .deploy-label {
  width: 18px;
  height: 18px;
  color: #4a4a4a;
  padding: 0;
  text-align: center;
  vertical-align: top;
  margin-bottom: 4px;
}

.shopping-cart-supplier {
  margin-top: 39px;
}

.shopping-cart-supplier .deploy-label .icon {
  margin: 0;
  font-size: 14px;
  vertical-align: sub;
}

.shopping-cart-supplier .title .grid {
  margin-left: 0;
  margin-right: 0;
}

.ui.vertical.menu .shopping-cart-supplier.item:before {
  display: none;
}

.shopping-cart-supplier.non-orderable .order-button {
  background-color: #9b9b9b !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;
  color: #e9e9e9 !important;
}

.indicator-message {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  text-align: left;
  color: #e9223a;
}

.shopping-cart-supplier .indicator-message {
  display: none;
}

.shopping-cart-supplier.non-orderable .indicator-message {
  display: inline-block;
}

.benchmark-suggestions .indicator-message-middle {
  left: calc(0% - 45px);
  transform: rotateZ(-180deg) translateY(-82px);
}

.benchmark-suggestions .indicator-message-middle > span {
  transform: rotateZ(180deg);
  display: inline-block;
}

.benchmark-suggestions .indicator-message-middle > span {
  font-size: 20px;
  color: #000000;
}

.shopping-cart-supplier .big-deploy-label {
  color: #4a4a4a;
  text-align: center;
  vertical-align: top;
  margin-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 300;
  padding: 5px;
}

.shopping-cart-supplier .big-deploy-label .icon {
  font-size: 18px;
}

.shopping-cart-supplier .middle-column > div{
  display: inline-block;
  margin-right: 6px;
}

.middle-column .limit-order-time {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  color: #9b9b9b;
}

.middle-column .limit-order-time span {
  font-weight: 500;
}

.shopping-cart .shopping-cart-supplier .order-button {
  margin: 0 !important;
}

.shopping-cart .shopping-cart-supplier .content .item > .grid {
  margin-top: 0;
  margin-bottom: 0;
}

.shopping-cart-supplier-title .column:first-child {
  padding-left: 0 !important;
}

.shopping-cart-supplier-title .column:last-child {
  padding-right: 0 !important;
}

.shopping-cart .shopping-cart-supplier .action-buttons .button {
  min-height: 38px !important;
}

.shopping-cart .shopping-cart-supplier .action-buttons .schedule-button {
  background-color: #f4f4f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  font-family: Roboto, sans-serif;
  font-size: 11px;
  text-align: center;
  color: #9b9b9b;
  font-weight: 300;
}

.shopping-cart .shopping-cart-supplier .action-buttons .add-comment-button {
  background-color: #f4f4f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #4a4a4a;
  font-weight: 300;
}

.shopping-cart .shopping-cart-supplier .action-buttons .add-comment-button.added {
  background-color: #00d166;
  color: #ffffff;
}

.segment.mobile {
  padding-bottom: 54px !important;
}

.segment.mobile #order-all-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.order-all-button {
  margin-top: 38px !important;
  min-height: 38px !important;
  background-color: #0294ff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;

  font-family: Roboto, sans-serif;
  font-size: 14px !important;
  text-align: center !important;
  color: #ffffff !important;
}

.segment.mobile #order-all-container .order-all-button, .segment.mobile #order-all-container .order-all {
  margin: 0 !important;
}

.order-all {
  background-color: #0294ff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;

  font-family: Roboto, sans-serif;
  font-size: 14px !important;
  text-align: center !important;
  color: #ffffff !important;
}

.panel-actions {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.shopping-list-product-item .grid,
.shopping-list-product-item .grid .row,
.shopping-list-product-item .grid .row .column {
  margin: 0 !important;
  padding: 0 !important;
}

.order-line img {
  width: 48px;
  height: 48px;
}

.shopping-list-supplier-group {
  margin-top: 21px !important;
}

.shopping-list-supplier-group h4 {
  font-family: Roboto, sans-serif !important;
  font-size: 16px !important;
  color: #4a4a4a !important;
  font-weight: normal !important;
}

.shopping-list-supplier-group .supplier-name-section {
  padding-bottom: 4px !important;
  padding-top: 0 !important;
}

.shopping-list-supplier-group .supplier-products-section {
  padding-top: 0 !important;
  padding-bottom: 27px !important;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.foodo-link {
  text-decoration: underline;
  color: #4a4a4a !important;
  cursor: pointer;
}

.quantity-widget-container {
  display: inline-block;
}

.ui.grid.quantity-widget-container {
  margin-right: 4px !important;
}

.quantity-widget-container > .row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.quantity-widget-container > .row .column {
  height: 100%;
}

.quantity-widget-container .button {
  margin-right: 0 !important;
}

.item.shopping-cart-supplier {
  padding: 0 !important;
}

#login-card {
  padding: 25px 75px;
  background-color: #ffffff;
}

@media screen and (max-width: 800px) {
  .history-table tr td {
    font-size: 12px;
  }
  .history-table tr td:first-child {
    font-size: 11px !important;
  }
  .ui.tabular.menu .item {
    padding: 0.92857143em 0.5em;
  }
  .shopping-list-row .shopping-list-name {
    font-size: 12px !important;
  }
  #login-card {
    padding: 2em 1em;
  }
  .middle-column .limit-order-time {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1400px) {
  .primary-content {
    padding: 39px 30px !important;
  }
  .content-title,
  .my-list {
    font-size: 20px !important;
  }
  .panel-left .item {
    font-size: 16px;
    padding: 15px 0 !important;
  }
  .FoodoMarketLogo {
    font-size: 24px !important;
  }
  //.ui.menu .ui.dropdown.item .menu .item {
  //  font-size: 16px !important;
  //  padding: 7px 0 7px 9px !important;
  //}
  .place-order-menu a.item,
  .shopping-list-name,
  .shopping-list-creation-step,
  .quantity-widget input {
    font-size: 14px !important;
  }
  .shopping-list-row,
  .shopping-list-row .shopping-list-col-order,
  .shopping-list-row .shopping-list-col-actions a,
  .shopping-list-supplier-item h4,
  .products-in-list,
  .products-in-cart,
  .order-item-row .order-item-name .product-name,
  .order-item-row .order-item-price,
  .quantity-widget > .label,
  .shopping-cart-panel-product .product-name,
  .shopping-cart-panel-product .product-quantity,
  .shopping-list-product-item .product-quantity,
  .shopping-cart-panel-product .product-price,
  .shopping-cart-supplier .supplier-nb-items,
  .shopping-cart-supplier .supplier-items-price {
    font-size: 12px !important;
  }
  .shopping-list-supplier-item,
  .shopping-list-product-item,
  .order-item-row .order-item-name .supplier-name,
  .order-item-row .order-item-price .price-unit,
  .shopping-cart-panel-product .product-quantity .product-quantity-unit,
  .shopping-list-product-item .product-quantity .product-quantity-unit,
  .shopping-cart-panel-product .product-price .product-price-unit {
    font-size: 11px !important;
  }
  .shopping-cart-panel {
    padding: 12px !important;
  }
  .shopping-cart-supplier .supplier-name {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1152px) {
  .primary-content {
    padding: 39px 10px !important;
  }
  .content-title,
  .my-list {
    font-size: 18px !important;
  }
  .FoodoMarketLogo {
    font-size: 22px !important;
  }
  //.ui.menu .ui.dropdown.item .menu .item {
  //  font-size: 14px !important;
  //  padding: 7px 0 7px 9px !important;
  //}
  .place-order-menu a.item,
  .shopping-list-name,
  .shopping-list-creation-step,
  //.quantity-widget input {
  //  font-size: 12px !important;
  //}
  .shopping-list-row,
  .shopping-list-row .shopping-list-col-order,
  .shopping-list-row .shopping-list-col-actions a,
  .shopping-list-supplier-item h4,
  .products-in-list,
  .products-in-cart,
  .order-item-row .order-item-name .product-name,
  .order-item-row .order-item-price,
  .quantity-widget > .label,
  .shopping-cart-panel-product .product-name,
  .shopping-cart-panel-product .product-quantity,
  .shopping-list-product-item .product-quantity,
  .shopping-cart-panel-product .product-price,
  .shopping-cart-supplier .supplier-nb-items,
  .shopping-cart-supplier .supplier-items-price {
    //font-size: 10px !important;
    font-size: 12px !important;
  }
  .shopping-list-supplier-item,
  .shopping-list-product-item,
  .order-item-row .order-item-name .supplier-name,
  .order-item-row .order-item-price .price-unit,
  .shopping-cart-panel-product .product-quantity .product-quantity-unit,
  .shopping-list-product-item .product-quantity .product-quantity-unit,
  .shopping-cart-panel-product .product-price .product-price-unit {
    font-size: 9px !important;
  }
  .shopping-cart-panel {
    padding: 10px 10px 1em 10px !important;
  }
  .shopping-cart-supplier .supplier-name {
    font-size: 14px !important;
  }
  #foodo-menu .item {
    padding-left: 5px;
    padding-right: 5px;
  }
}

//@media screen and (max-width: 800px) {
//  .primary-content {
//    padding: 39px 5px !important;
//  }
//  .content-title {
//    font-size: 16px !important;
//  }
//  .panel-left .item {
//    font-size: 12px;
//    padding: 5px 0 !important;
//  }
//  .FoodoMarketLogo {
//    font-size: 18px !important;
//  }
//  .ui.menu .ui.dropdown.item .menu .item {
//    font-size: 12px !important;
//    padding: 7px 0 7px 9px !important;
//  }
//  .place-order-menu a.item,
//  .shopping-list-name,
//  .shopping-list-creation-step,
//  .quantity-widget input {
//    font-size: 10px !important;
//  }
//  .shopping-list-row,
//  .shopping-list-row .shopping-list-col-order,
//  .shopping-list-row .shopping-list-col-actions a,
//  .shopping-list-supplier-item h4,
//  .products-in-list,
//  .products-in-cart,
//  .order-item-row .order-item-name .product-name,
//  .order-item-row .order-item-price,
//  .quantity-widget > .label,
//  .shopping-cart-panel-product .product-name,
//  .shopping-cart-panel-product .product-quantity,
//  .shopping-list-product-item .product-quantity,
//  .shopping-cart-panel-product .product-price,
//  .shopping-cart-supplier .supplier-nb-items,
//  .shopping-cart-supplier .supplier-items-price {
//    font-size: 8px !important;
//  }
//  .shopping-list-supplier-item,
//  .shopping-list-product-item,
//  .order-item-row .order-item-name .supplier-name,
//  .order-item-row .order-item-price .price-unit,
//  .shopping-cart-panel-product .product-quantity .product-quantity-unit,
//  .shopping-list-product-item .product-quantity .product-quantity-unit,
//  .shopping-cart-panel-product .product-price .product-price-unit {
//    font-size: 8px !important;
//  }
//  .shopping-cart-panel {
//    padding: 5px !important;
//  }
//  .shopping-cart-supplier .supplier-name {
//    font-size: 12px !important;
//  }
//}

@media screen and (min-width: 1401px) {
  .primary-content {
    padding: 39px 60px !important;
  }
  .content-title,
  .my-list {
    font-size: 24px !important;
  }
  .FoodoMarketLogo {
    font-size: 28px !important;
  }
  //.ui.menu .ui.dropdown.item .menu .item {
  //  font-size: 18px !important;
  //  padding: 7px 0 7px 9px !important;
  //}
  .place-order-menu a.item,
  .shopping-list-name,
  .shopping-list-creation-step,
  .quantity-widget input {
    font-size: 16px !important;
  }
  .shopping-list-row,
  .shopping-list-row .shopping-list-col-order,
  .shopping-list-row .shopping-list-col-actions a,
  .shopping-list-supplier-item h4,
  .products-in-list,
  .products-in-cart,
  .order-item-row .order-item-name .product-name,
  .order-item-row .order-item-price,
  .shopping-cart-panel-product .product-name,
  .shopping-cart-panel-product .product-quantity,
  .shopping-list-product-item .product-quantity,
  .shopping-cart-panel-product .product-price,
  .shopping-cart-supplier .supplier-nb-items,
  .shopping-cart-supplier .supplier-items-price {
    font-size: 14px !important;
  }
  .shopping-list-supplier-item,
  .shopping-list-product-item,
  .order-item-row .order-item-name .supplier-name,
  .order-item-row .order-item-price .price-unit,
  .quantity-widget > .label,
  .shopping-cart-panel-product .product-quantity .product-quantity-unit,
  .shopping-list-product-item .product-quantity .product-quantity-unit,
  .shopping-cart-panel-product .product-price .product-price-unit {
    font-size: 12px !important;
  }
  .shopping-cart-panel {
    padding: 17px 17px 1em 17px !important;
  }
  .shopping-cart-supplier .supplier-name {
    font-size: 18px !important;
  }
}

.shopping-list-supplier-products-segment, .shopping-list-suppliers-segment {
  padding: 0 !important;
}

.product-list {
  margin-top: 16px;
}

#toggle-menu, #toggle-shopping-list, #toggle-shopping-cart {
  border-radius: 0;
}

#toggle-menu-left {
  text-align: center;
  background-color: transparent;
  color: #ffffff;
}

.toggle-menu-right {
  background-color: transparent !important;
  text-align: center !important;
  color: #ffffff !important;
}

#toggle-menu-left .icon, .toggle-menu-right .icon {
  margin: 0 !important;
}

.no-padding-left-right {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-top-bottom {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-margin-left-right {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-top-bottom {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#foodo-menu {
  height: 40px;
}
#foodo-content {
  margin: 0 !important;
}
#foodo-content > .pusher > .ui.grid {
  margin-top: 0 !important;
}
.badge {
  position: absolute;
  top: 0;
}
.shopping-list-row .additional-infos {
  color: #9b9b9b !important;
}
.missing-product-controls {
  margin-bottom: 16px !important;
}
.empty-cart-photo-container {
  width: 100%;
  margin-top: 20vh;
}
.empty-cart-photo {
  margin-right: auto;
  margin-left: auto;
  width: 33%;
}
.empty-cart-photo-container i {
  display: inline-block;
  margin-top: 30px;
  color: #4a4a4a;
}
.productName {
  text-transform: capitalize !important;
}
#restaurant-switch {
  padding: 0;
}
.restaurant-switch-menu .menu {
  background: #1B1C1D !important;
}
.restaurant-switch-menu .menu .text {
  color: #ffffff;
}
.shopping-cart-supplier .trash.icon {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.shopping-cart-supplier .trash.icon:hover {
  color: #DB2828;
}



@media only screen and (max-width: 999px) {
  @import "res-x-1000/layout";
}

@media only screen and (min-width: 1000px) and (max-width: 1399px) {
  @import "res-1000-1400/layout";
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  @import "res-1400-1600/layout";
}

@media only screen and (min-width: 1600px)  and (max-width: 1920px) {
  @import "res-1600-1920/layout";
}

@media only screen and (min-width: 1921px) {
  @import "res-1920-and-more/layout";
}
