@import 'utils.scss';

$squarePhotoSize: 75px;

.comment {
  display: inline-block;
  padding: 8px;
  color: #ffffff;
  font-size: 18px;
}

.comment .image:not(:last-of-type) {
  margin-right: 8px;
}

.comment-client {
  background-color: #0e90d2;
}

.comment-supplier {
  background-color: orange;
}

.left.comment {
  @include border-radii(16px, 16px, 16px, 0);
}

.right.comment {
  @include border-radii(16px, 16px, 0, 16px);
}

.comment-foodomarket {
  background-color: $foodoGreen;

  @include border-radii(16px, 16px, 16px, 0);
}

.comment-from {
  margin-top: 8px;
  font-size: 11px;
}

.comment-date {
  font-size: 11px;
}

#litigation-show-segment #comments {
  height: 45vh;
  min-width: 100%;
  overflow-y: scroll;
  margin: 0;
}

#comments .comment-row {
  padding-top: 0;
}

#comments > .comment-row:nth-last-child(2) {
  padding-bottom: 0;
}

.ui.form.litigation-comment-form textarea:active,
.ui.form.litigation-comment-form textarea:focus {
  border: 1px solid $foodoBlueAlpha;
  //border-radius: 32px;
}

.ui.form.litigation-comment-form textarea {
  //border-radius: 32px;
  //padding-left: 22px;
  //padding-right: 16px;
  //padding-top: 16px;
}

.comment-picture-thumbnail {
  cursor: pointer;
}

.submit-comment {
  display: inline-block;
  height: 80%;
}

.photo-container {
  display: inline-block;
  width: $squarePhotoSize;
  height: $squarePhotoSize;
}

.photo-container:not(:last-of-type) {
  margin-right: 1em;
}

.dropzone-container {
  border: 1px dashed $foodoBlue;
  height: $squarePhotoSize;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropzone-container i.feedback {
  position: absolute;
  z-index: 10;
}

.dropzone-container i.close.icon {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  cursor: pointer;
}

.dropzone-container .preview {
  max-width: calc(#{$squarePhotoSize} - 2px);
  max-height: calc(#{$squarePhotoSize} - 2px);
  position: absolute;
}

.dropzone-container p {
  position: absolute;
  text-align: center;
}

.comment-form-row .arrayType {
  display:inline-block;
}

@media screen and (max-width: 470px) {
  #litigation-show-segment {
    margin-top: 0;
  }

  .segment h1 {
    font-size: 20px !important;
  }

  .submit-comment {
    margin-top: 8px !important;
  }
}