#missing-product-tab, #missing-product-tab > .ui.grid,
#missing-product-tab > .ui.grid .ui.fluid.vertical.left.attached.tabular.menu {
  height: 100%;
}

#missing-product-tab .modal-label {
  display: block;
  font-family: Roboto-Bold, sans-serif !important;
  color: #000000;
  font-weight: bold;

}