#suggestions-segment {
  text-align: center;
}

.onboarding-item .content {
  width: calc(100% - 48px);
}

#suggestions-segment .quantity-widget-container {
  width: auto;
  display: inline-block;
}

#suggestions-segment .quantity-widget input {
  width: 65% !important;
}

#suggestions-segment .quantity-widget > .label {
  width: 35% !important;
}

#suggestions-segment .price-widget-container {
  margin-left: 5px;
  max-width: 120px;
}

#suggestions-segment .price-widget-container .quantity-widget {
  width: 100% !important;
  max-width: none;
}

#suggestions-segment .price-widget-container .quantity-widget .label span {
  text-align: left;
  display: inline-block;
  vertical-align: super;
  font-size: 16px;
  margin-right: 2px;
  font-weight: normal;
}

#suggestions-segment .quantity-widget .ui.inline.dropdown {
  margin-top: 2px;
}

#suggestions-segment .onboarding-item .add-button {
  margin-left: 5px;
  margin-top: 2px;
  vertical-align: bottom;
}

#suggestions-segment .add-button.added {
  background-color: #0ea432 !important;
  color: #ffffff !important;
}

#suggestions-segment .add-button.ready {
  background-color: #0294FF !important;
  color: #ffffff !important;
}

#suggestions-segment .error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.steps {
  font-family: Roboto, sans-serif !important;
  color: #9b9b9b !important;
}

.steps .step .content .title {
  text-align: center;
}

.step1 .input {
  width: 300px;
}

#suggestions-segment .shopping-list-product-item .grid .row .column.item-data {
  margin-top: 4px !important;
}

#suggestions-segment .front-input {
  width: 75%;
  //width: 350px;
  border-bottom: 0 !important;
}

#suggestions-segment .indicator-message-middle {
  left: calc(0% - 45px);
  transform: rotateZ(-180deg) translateY(-82px);
}

#suggestions-segment .indicator-message-middle > span {
  transform: rotateZ(180deg);
  display: inline-block;
}

//#suggestions-segment .benchmark-suggestions {
//  margin-bottom: 70px !important;
//}

#suggestions-segment .suggestion {
  //width: 20% !important;
  margin: auto !important;
  text-align: center !important;
}

#suggestions-segment .indicator-message-middle > span {
  font-size: 20px;
  color: #000000;
}

#suggestions-segment .suggestions-text {
  text-align: center;
}

#suggestions-segment .step0 {
  cursor: pointer;
}

#suggestions-segment .step0 .label.selected {
  border: 1px solid #E8E8E8;
  background-color: #0294FF;
  color: #ffffff;
}

#suggestions-segment .ui.search > .results .result .image {
  float: none;
  margin-right: 8px;
}

#suggestions-segment .step-final .ui.labeled.input > .label {
  flex: 0 0 180px;
}

#suggestions-segment .suggestion .supplier-name {
  filter: blur(3px);
}

.indicator-message-middle {
  bottom: initial !important;
  top: -21px !important;
}

.step1, .step2 {
  margin-top: 20px;
}

#suggestions-segment .ui.message .content {
  text-align: center;
}

.index-bad {
  color: #ff0100;
}

.index-medium {
  color: #ffd200;
}

.index-good {
  color: yellow;
}

.index-excellent {
  color: #7dfe00;
}

span.required {
  color: red;
}

.shopping-list-product-item .grid.mobile-item-data-container {
  margin-bottom: 4px !important;
}

#confirm-step-1, #confirm-step-2, #confirm-step-3, #confirm-step-4, .action-button {
  background-color: #0294FF !important;
}

#confirm-step-2 {
  margin-top : 20px !important;
  margin-bottom : 30px !important;
  font-size: 16px;
}

//#confirm-step-4.not-ready {
//  border: 1px solid #0294FF !important;
//  background-color: #ffffff !important;
//  color: #0294FF !important;
//}

#confirm-step-4 {
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  #suggestions-segment .front-input {
    width: 75% !important;
  }

  .onboarding-item .ui.stackable.grid > .row > .column.item-data {
    padding: 0 !important;
  }
}

.benchmark-conclusion {
  font-size: 18px;
  color: #000000;
}

#suggestions-segment .no-suggestions {
  font-size: 18px;
}

#suggestions-segment .no-suggestions a {
  cursor: pointer;
  font-size: 16px !important;
}

#suggestions-segment .step-number {
  color: #0294FF !important;
  font-weight: bold;
}

#suggestions-segment .step2 {
  margin-top: 40px;
}

.explain {
  color: #0294FF !important;
  font-size: 18px;
}

.bluestrong {
  color: #0294FF !important;
}

.step-explain {
  font-size: 18px;
  font-weight: bold;
}

.step-explain i {
  font-size: initial;
  font-weight: initial;
}

.action-link {
  color: #0294ff !important;
  text-decoration: underline;
}

.action-button {
  padding-top:16px !important;
  padding-bottom:16px !important;
  font-size: 17px !important;
}

#suggestions-segment .no-time {
  text-align: center;
  margin-top: 8px;
}

#suggestions-segment .no-time a {
  color: #0294ff;
  font-weight: bold;
  cursor: pointer;
}

.no-time-grid .label {
  width: 30% !important;
  display: inline-block;
}

.no-time-grid input {
  width: 70% !important;
  display: inline-block;
}
.no-time-confirm {
  text-align: center;
}
.no-time-grid .message:first-child {
  text-align: center;
}
.call-us {
  font-size: 24px;
}

#no-time-success, #no-time-form {
  margin-top: 8px;
}

.no-time-grid .label.mobile-form-label {
  width: 100% !important;
  border-radius: 0 !important;
}
.no-time-grid .mobile .input,.no-time-grid .mobile input {
  border-radius: 0 !important;
}
.front-input .icon {
  color: #9b9b9b;
  font-size: 24px !important;
}
.front-input .icon {
  margin: 8px 0 0 0 !important;
}
.bench-image {
  width: 350px;
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .steps {
    display: none !important;
  }
}