//#variants-card .ui.selection.list .list > .item:not(:last-child), .ui.selection.list > .item:not(:last-child) {
//  margin-bottom: 11px;
//}

#product-segment .shopping-list-product-item {
  font-size: 13px !important;
}
.item-actions .ui.grid .column {
  padding: 0 !important;
}
.quantity-widget-container .column {
  padding: 0 !important;
}