.shopping-list-segment {
  padding-top: 1rem;
}

.shopping-list-row .shopping-list-col-edit {
  color: #0294ff !important;
  //border: 1px solid #0294ff;
  font-size: 14px;
  font-family: "Roboto-Bold", sans-serif !important;
  cursor: pointer;
}

.shopping-list-row .shopping-list-col-remove {
  color: #DB2828 !important;
  //border: 1px solid #DB2828 !important;
  font-size: 14px;
  font-family: "Roboto-Bold", sans-serif !important;
  cursor: pointer;
}

.shopping-list-row .shopping-list-col-edit > div, .shopping-list-row .shopping-list-col-remove > div {
  width: 100%;
  text-align: center;
}

.item.shopping-list-product-item .ui.image {
  min-width: 48px;
}