.benchmark-suggestions {
  font-family: Roboto, sans-serif;
  color: #9b9b9b;
  font-weight: 400;
  background-color: #ffffff;
}
.benchmark-supplier {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4a4a4a;
}
.benchmark-amount {
  font-size: 18px;
}
.benchmark-supplier > span {
  font-weight: 700;
  color: #4a4a4a;
}
.benchmark-progress-container {
  width: 100%;
  position: relative;
  padding-top: 50px;
  display: inline-block;
}
.benchmark-progress {
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: linear-gradient(to right, #ff0100, #ffd200, #7dfe00);
}
.triangle-indicator {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #9b9b9b transparent transparent transparent;
}
.triangle-indicator.indicator-middle {
  border-color: #0294ff transparent transparent transparent;
}
.inner-triangle-indicator {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 9px 0 9px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: -19px;
  left: -9px;
}
.indicator-left {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
.indicator-right {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}
.indicator-middle {
  display: block;
  position: absolute;
  left: calc(50% - 10px);
  bottom: 0;
}
.indicator-message-left {
  position: absolute;
  text-align: left;
  left: 0;
  bottom: 12px;
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  width: 90px;
}
.indicator-message-right {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 12px;
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  width: 90px;
}
.indicator-message-middle {
  position: absolute;
  text-align: center;
  width: 90px;
  left: calc(50% - 90px / 2);
  bottom: 12px;
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.benchmark-suggestions .items-ordered {
  font-weight: 700;
}
.benchmark-suggestions .amount-ordered {
  font-weight: 700;
  color: #4a4a4a;
}
.benchmark-period {
  font-size: 22px;
  font-weight: 700;
}

// BEGIN SUGGESTION PART
.suggestions {
  background-color: #ffffff;
}
.suggestion {
  text-align: left !important;
}
.suggestion .supplier-name {
  font-weight: normal;
}
.suggestion .supplier-delta {
  border: 1px solid #0294ff;
  border-radius: 5px;
  width: auto !important;
  color: #0294ff;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.suggestion .suggestion-optimize {
  background-color: #0294ff !important;
  color: #ffffff !important;
  text-align: center !important;
  font-size: 16px !important;
  cursor: pointer;
}
.suggestion .icon.question {
  font-size: 20px !important;
}
.suggestion.mystery .supplier-name {
  filter: blur(3px);
}
.suggestion.mystery .content {
  border-bottom: 1px solid #0294ff !important;
}
.suggestion.mystery .suggestion-optimize {
  border: 1px solid #0294ff !important;
  background-color: transparent !important;
  color: #0294ff !important;
}
.suggestions-text {
  color: #0294ff;
  font-weight: 300;
  font-size: 20px;
}
.suggestions-benchmark {
  margin-bottom: 50px;
}