{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function initSearch($element) {
            $element
                .search({
                    apiSettings: {
                        url: Routing.generate('app_admin_product_carousel_search_product') + '?query={query}'
                    },
                    fields: {
                        results : 'items',
                        title   : 'name',
                    },
                    minCharacters : 3
                })
            ;
        }

        function initRemoveProduct($button) {
            $button.click(function() {
                $button.closest('tr').remove();
            });
        }

        function initRemoveSupplier($button) {
            $button.click(function() {
                var colIndex = $button.closest('th').index() + 1;
                var $table = $button.closest('table');

                $table.find('tbody tr').each(function() {
                    $(this).find('td:nth-child(' + colIndex + ')').remove();
                });

                $button.closest('th').remove();

                var $th = $table.find('tfoot th:last-child');

                $th.attr('colspan', parseInt($th.attr('colspan')) - 1)
            });
        }

        $(document).ready(function() {
            var $table = $('#product-table');
            var $thead = $table.find('thead');
            var $tbody = $table.find('tbody');
            var $tfoot = $table.find('tfoot');

            $('.ui.search').each(function() {
                initSearch($(this));
            });

            $('.remove-product').each(function() {
                initRemoveProduct($(this));
            });

            $('.remove-supplier').each(function() {
                initRemoveSupplier($(this));
            });

            $('.add-product').click(function() {
                var $tr = $('<tr></tr>');
                var numberOrSuppliers = $thead.find('.supplier-name').length;

                $tr.append('<td class="collapsing"><div class="ui search"><button class="ui icon negative button remove-product"><i class="ui icon trash"></i></button><input class="prompt" type="text" placeholder="Produit"><div class="results"></div></div></td>');
                $tr.append('<td><div class="ui selection dropdown compact"><input type="hidden" ><i class="dropdown icon"></i><div class="default text">Unité</div><div class="menu"><div class="item" data-value="KG">KG</div><div class="item" data-value="PC">PC</div><div class="item" data-value="L">L</div></div></div></td>')

                for (var i = 0; i < numberOrSuppliers; ++i) {
                    $tr.append('<td><div class="ui right labeled input product-price"><input type="number" placeholder="Prix"/><div class="ui label"><i class="ui icon eur"></i></div></div></td>');
                }

                initSearch($tr.find('.ui.search'));
                initRemoveProduct($tr.find('.remove-product'));

                $tr.find('.ui.dropdown').dropdown();

                $tbody.append($tr);
            });

            $('.add-supplier').click(function() {
                var newPos = $thead.find('th').length - 1;
                var $th = $('<th><div class="ui input action supplier-name"><input type="text" placeholder="Fournisseur"/><button class="ui icon negative button remove-supplier"><i class="ui icon trash"></i></button></div></th>');

                initRemoveSupplier($th.find('.remove-supplier'));

                $thead.find('tr').append($th);
                $tbody.find('tr').each(function() {
                    var $tr = $(this);

                    $tr.append('<td><div class="ui right labeled input product-price"><input type="number" placeholder="Prix"/><div class="ui label"><i class="ui icon eur"></i></div></div></td>');
                });

                $tfoot.find('th:last-child').attr('colspan', newPos + 1);
            });

            $('#submit-products').click(function() {
                $(this).addClass('loading');

                var suppliers = $thead.find('.supplier-name').map(function() {
                    return $(this).find('input').val();
                }).get();

                var products = $tbody.find('tr').map(function() {
                    var $tr = $(this);
                    var supplierPrices = [];

                    $tr.find('.product-price').each(function() {
                        supplierPrices.push({price: $(this).find('input').val(), supplier: suppliers[$(this).closest('td').index() - 2]});
                    });

                    return {
                        product: $tr.find('.ui.search').find('input').val(),
                        unit: $tr.find('.ui.dropdown').dropdown('get value'),
                        supplierPrices: supplierPrices
                    }
                }).get();

                $.ajax({
                    url: Routing.generate('app_admin_product_carousel_submit'),
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(products)
                }).then(function(response) {
                    $(this).removeClass('loading');

                    if (!response.hasOwnProperty('ok') || !response.ok) {
                        alert("Erreur: " + response);
                    } else {
                        document.location = document.location.href;
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                Carrousel produits de la home
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <table class="ui celled definition table" id="product-table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Unité</th>
                            {% if product_carousel is not empty %}
                                {% set nbSuppliers = product_carousel[0].supplierPrices|length %}

                                {% for supplierPrice in product_carousel[0].supplierPrices %}
                                    <th>
                                        <div class="ui input action supplier-name">
                                            <input type="text" placeholder="Fournisseur" value="{{ supplierPrice.supplier }}"/>
                                            <button class="ui icon negative button remove-supplier"><i class="ui icon trash"></i></button>
                                        </div>
                                    </th>
                                {% endfor %}
                            {% else %}
                                <th>
                                    <div class="ui input action supplier-name">
                                        <input type="text" placeholder="Fournisseur"/>
                                        <button class="ui icon negative button remove-supplier"><i class="ui icon trash"></i></button>
                                    </div>
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if product_carousel is not empty %}
                            {% for product in product_carousel %}
                                <tr>
                                    <td class="collapsing">
                                        <div class="ui search">
                                            <button class="ui icon negative button remove-product"><i class="ui icon trash"></i></button>
                                            <input class="prompt" type="text" placeholder="Produit" value="{{ product.name }}">
                                            <div class="results"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ui selection dropdown compact">
                                            <input type="hidden" value="{{ product.unit }}">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Unité</div>
                                            <div class="menu">
                                                <div class="item" data-value="KG">KG</div>
                                                <div class="item" data-value="PC">PC</div>
                                                <div class="item" data-value="L">L</div>
                                            </div>
                                        </div>
                                    </td>
                                    {% for supplierPrice in product.supplierPrices %}
                                        <td>
                                            <div class="ui right labeled input product-price">
                                                <input type="number" placeholder="Prix" value="{{ supplierPrice.price }}"/>
                                                <div class="ui label"><i class="ui icon eur"></i></div>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="collapsing">
                                    <div class="ui search">
                                        <button class="ui icon negative button remove-product"><i class="ui icon trash"></i></button>
                                        <input class="prompt" type="text" placeholder="Produit">
                                        <div class="results"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="ui selection dropdown compact">
                                        <input type="hidden" >
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Unité</div>
                                        <div class="menu">
                                            <div class="item" data-value="KG">KG</div>
                                            <div class="item" data-value="PC">PC</div>
                                            <div class="item" data-value="L">L</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="ui right labeled input product-price">
                                        <input type="number" placeholder="Prix"/>
                                        <div class="ui label"><i class="ui icon eur"></i></div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>

                    <tfoot class="full-width">
                        <tr>
                            <th>
                                <button class="ui success icon button labeled icon add-product">
                                    <i class="ui icon plus"></i> Ajouter un produit
                                </button>
                            </th>
                            <th colspan="{% if nbSuppliers is defined %}{{ nbSuppliers + 1 }}{% else %}2{% endif %}">
                                <div id="submit-products" class="ui right floated small primary button">
                                    Ok
                                </div>

                                <button class="ui icon button success labeled icon add-supplier">
                                    <i class="ui plus icon"></i> Ajouter un fournisseur
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}