{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">Statistiques des canaux d'acquisition de prospects</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{ form_start(form, {attr: {class: 'ui form'}}) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="ui button primary">Ok</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">
            <div class="column">
                <table class="ui celled structured table">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Total source</th>
                            <th>Campagne</th>
                            <th>Total campagne</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for stat in stats %}
                        <tr>
                            <td rowspan="{{ stat.utm_campaign|length }}">{{ stat.source }}</td>
                            <td rowspan="{{ stat.utm_campaign|length }}">{{ stat.total }}</td>
                            <td>{{ stat.utm_campaign[0].utm_campaign }}</td>
                            <td>{{ stat.utm_campaign[0].total }}</td>
                        </tr>
                        {% for campaign in stat.utm_campaign %}
                            {% if not loop.first %}
                                <tr>
                                    <td>{{ campaign.utm_campaign }}</td>
                                    <td>{{ campaign.total }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
