.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 250px;
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 300px;
}

.panel-center {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.panel-center.left-visible {
  padding-left: 0px;
}

.panel-center.right-visible {
  padding-right: 0px;
}

#toggle-left-sidebar.visible {
  left: calc(250px - 70px);
}

#toggle-right-sidebar.visible {
  right: calc(300px - 71px);
}