{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/tablesort.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table#user-products').tablesort();
            $('#data-accordion').accordion({exclusive: false});
        });
    </script>
{% endblock %}

{% block content %}

    <div class="ui grid two columns">
        <div class="ui one column">
            Catégorie: <strong>{{ category }}</strong>
            <br/>
            Volume d'achat mensuel: <strong>{{ turnover }}€</strong>
            <br/>
            <a href="https://www.foodomarket.com/onboarding/?onboardingId={{ onboardingId }}">http://shop.foodomarket.com/onboarding/?onboardingId={{ onboardingId }}</a>
        </div>
        <div class="ui one column">
            Fait le: <strong>{{ createdAt|date('d/m/Y à H:i:s') }}</strong>
        </div>
    </div>

    <div class="ui grid one columns">
        <div class="ui one column">
            Nom du restaurant : {{ onboarding.restaurantName }}<br/>
            Nom du gérant : {{ onboarding.contactName }}<br/>
            Email : {{ onboarding.contactEmail }}<br/>
            Commentaire : {{ onboarding.comment }}<br/>
            Nom du fournisseur : {{ onboarding.supplierName }}<br/><br/>
        </div>
    </div>

    <div id="data-accordion" class="ui styled fluid accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            Produits saisis par l'utilisateur
        </div>
        <div class="active content">
            <table id="user-products" class="ui sortable celled table orange">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                        <tr>
                            <td>{{ p.name }}</td>
                            <td>{{ p.quantity }} {{ p.quantityUnit|lower }}</td>
                            <td>{{ p.price }}€/{{ p.priceUnit|lower }}</td>
                            <td>{{ p.total }}€</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3" class="right aligned">Total</th>
                        <th>{{ userTotal }}€</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Benchmark
        </div>
        <div class="content">
            <table class="ui celled table structured violet">
                <thead>
                    <tr>
                        <th rowspan="2">Produit</th>
                        <th colspan="5">Benchmark</th>
                    </tr>
                    <tr>
                        <th>Restaurant</th>
                        <th>Fournisseur</th>
                        <th>Produit de remplacement</th>
                        <th>Prix unitaire</th>
                        <th>Prix total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in benchmark %}
                        {% set bFirst = true %}
                        {% set pRowSpan = 0 %}

                        {% for r, br in b.restaurants %}
                            {% set pRowSpan = pRowSpan + br.suppliers|length %}
                        {% endfor %}

                        {% for r, br in b.restaurants %}
                            {% set brFirst = true %}
                            {% set rRowSpan = br.suppliers|length %}

                            {% for brs in br.suppliers %}
                                {#<tr class="{{ brs.isPartnerSupplier ? 'positive' : '' }}">#}
                                <tr class="{{ brs.isCheaper ? 'positive' : 'negative' }}">
                                    {% if bFirst %}<td rowspan="{{ pRowSpan }}">{{ b.product.name }} ({{ b.product.id }})</td>{% endif %}
                                    {% if brFirst %}<td rowspan="{{ rRowSpan }}">{{ r }}</td>{% endif %}
                                    <td>{{ brs.name }}</td>
                                    <td>{{ brs.productName }} ({{ brs.productId }})</td>
                                    <td>{{ brs.unitPrice }}</td>
                                    <td>{{ brs.price }}€</td>
                                </tr>

                                {% set bFirst = false %}
                                {% set brFirst = false %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Suggestions
        </div>
        <div class="content">
            <div class="ui cards">
                {% for s in suggestions %}
                    <div class="ui card">
                        <div class="content">
                            <div class="header">
                                {{ s.supplierName }}
                            </div>
                            <div class="content">
                                <h4 class="ui sub header">
                                    Panier total: {{ s.total }}€ ({{ s.delta > 0 ? '+' : '' }}{{ s.delta }}%)
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}