<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('assets/favicon.ico') }}"/>
    <title>{% block title %}Test{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta
            name="Foodomarket"
            content="Foodomarket est une marketplace proposant aux particuliers et professionnels des tarif négocier chez les fournisseurs de Rungis et d'autres marchés."
    />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

    {#custom style#}
    <link rel="stylesheet" href="{{ asset('statics/css/style.css') }}">

    {% block stylesheets %}{% endblock %}
    {#    {% block head_javascript %}{% endblock %}#}

    <script type="text/javascript">
        (function (e, t) {
            var n = e.amplitude || {_q: [], _iq: {}};
            var r = t.createElement("script")
            ;r.type = "text/javascript"
            ;r.integrity = "sha384-JuTNYkgKcv1YWHTHxD083VG16UGvE0QIORVstsbIKtGUBrB1ldQRU9eyEZEreszu"
            ;r.crossOrigin = "anonymous";
            r.async = true
            ;r.src = "https://cdn.amplitude.com/libs/amplitude-6.0.0-min.gz.js"
            ;r.onload = function () {
                if (!e.amplitude.runQueuedFunctions) {
                    console.log("[Amplitude] Error: could not load SDK")
                }
            }
            ;var i = t.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(r, i)
            ;

            function s(e, t) {
                e.prototype[t] = function () {
                    this._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
                    return this
                }
            }

            var o = function () {
                    this._q = [];
                    return this
                }
            ;var a = ["add", "append", "clearAll", "prepend", "set", "setOnce", "unset"]
            ;
            for (var u = 0; u < a.length; u++) {
                s(o, a[u])
            }
            n.Identify = o;
            var c = function () {
                    this._q = []
                    ;
                    return this
                }
            ;var l = ["setProductId", "setQuantity", "setPrice", "setRevenueType", "setEventProperties"]
            ;
            for (var p = 0; p < l.length; p++) {
                s(c, l[p])
            }
            n.Revenue = c
            ;var d = ["init", "logEvent", "logRevenue", "setUserId", "setUserProperties", "setOptOut", "setVersionName", "setDomain", "setDeviceId", "enableTracking", "setGlobalUserProperties", "identify", "clearUserProperties", "setGroup", "logRevenueV2", "regenerateDeviceId", "groupIdentify", "onInit", "logEventWithTimestamp", "logEventWithGroups", "setSessionId", "resetSessionId"]
            ;

            function v(e) {
                function t(t) {
                    e[t] = function () {
                        e._q.push([t].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }

                for (var n = 0; n < d.length; n++) {
                    t(d[n])
                }
            }

            v(n);
            n.getInstance = function (e) {
                e = (!e || e.length === 0 ? "$default_instance" : e).toLowerCase()
                ;
                if (!n._iq.hasOwnProperty(e)) {
                    n._iq[e] = {_q: []};
                    v(n._iq[e])
                }
                return n._iq[e]
            }
            ;e.amplitude = n
        })(window, document);

        amplitude.getInstance().init("e4b0fc21e8ca9827ca0221b94a4e4410", null, null, function (instance) {
            $('#amplitude_device_id').val(instance.options.deviceId);
        });
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '216691788895045');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=216691788895045&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
<header>
    {{ include('@App/MiddleOffice/Welcome/header.html.twig') }}
</header>
{% block body %}{% endblock %}
{{ include('@App/MiddleOffice/Welcome/footer.html.twig') }}

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>

<script src="{{ asset('statics/js/autocomplete.js') }}"></script>
<script src="{{ asset('statics/js/script.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPN_7_svR5FjaOyFD6StAZjPgYMx9kYl8&libraries=places&callback=initAutocomplete"
        async defer></script>

{% block javascripts %}{% endblock %}
</body>
</html>
