<footer>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center">Retrouvez-nous sur les réseaux sociaux !</p>
            <p class="text-center d-flex align-items-center justify-content-center">
                <a href="https://www.facebook.com/foodomarket"><i class="fab fa-facebook-square social-icon"></i></a>
                <a href="https://www.instagram.com/foodomarket/"><i class="fab fa-instagram-square social-icon"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center"><a href="https://www.foodomarket.com/shop/mentions-legales" class="copyright">Copyright Foodomarket 2020 - Tous droits réservés</a></p>
        </div>
    </div>
</div>
</footer>