<nav class="navbar navbar-expand-lg foodo-navbar fixed-top">
    <a class="navbar-brand" href="{{ path('welcome') }}">
        <img alt="Foodomarket Marketplace food" src="{{ asset('statics/img/foodomarket-new-color.png') }}"/>
    </a>
    <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon d-flex align-items-center justify-content-center"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    </div>
    <a class="btn btn-link-primary btn-foodo btn-md my-2 my-sm-0 ml-3 d-none d-xl-block d-lg-block" href="https://app.foodomarket.com">Se connecter</a>
    <a class="btn btn-primary btn-foodo btn-md my-2 my-sm-0 ml-3" href="#register">S'inscrire</a>
</nav>