{% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': asset('bundles/app/js/calendar.min.js')} %}
{% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': asset('bundles/app/js/tablesort.min.js')} %}
{% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': asset('bundles/app/js/admin.js')} %}
{% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': asset('bundles/app/js/Admin/custom.js')} %}
<script type="text/javascript">
    function pad(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    $(document).ready(function() {
        $('.calendar-date').calendar({
            type: 'date',
            today: true,
            text: {
                days: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                today: "Aujourd'hui",
                now: 'Maintenant',
                am: 'Matin',
                pm: 'Après-midi'
            },
            formatter: {
                date: function(date, settings) {
                    if (!date) return '';

                    var day = pad(date.getDate(), 2);
                    var month = pad(date.getMonth() + 1, 2);
                    var year = date.getFullYear();

                    return year + '-' + month + '-' + day;
                }
            }
        });
    });
</script>