{% include 'SyliusUiBundle::_stylesheets.html.twig' with {'path': 'bundles/app/css/calendar.min.css'} %}
{% include 'SyliusUiBundle::_stylesheets.html.twig' with {'path': 'bundles/app/css/admin/custom.css'} %}