<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Merci pour la confirmation de la commande</title>
</head>
<body>
    <p style="text-align: center;">
        <img src="{{ asset('bundles/api/img/check.png') }}" style="width: 30vw;" alt=""/>
    </p>
    <h1 style="text-align: center;">Merci d'avoir confirmé la commande !</h1>
</body>
</html>
