{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">Statistiques de commandes du <a href='{{ path('app_admin_admin_prospect_show', {'id': prospect.id}) }}'>{{ prospect.restaurantName }}</a> (<a href='{{ path('app_admin_admin_prospect_update', {'id': prospect.id}) }}'>modifier</a>)</div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h3>Contact : {{ prospect.firstName }} {{ prospect.contactName }} au {{ prospect.phone }} / {{ prospect.email }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <table class="ui celled structured selectable table sortable">
                    <thead>
                        <tr>
                            <th class='one wide column'></th>
                            {% for supplier in supplier_list %}
                                <th class='two wide column center aligned sorted ascending'>{{  supplier }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for month, supplier_stats_by_month in supplier_stats %}
                            <tr>
                                <td class='center aligned'><strong>{{ month }}</strong></td>
                                {% for key, supplier in supplier_list %}
                                    <td class='center aligned'>{%  if supplier_stats_by_month[key] is defined %}{{ supplier_stats_by_month[key]['montant_total'] }}€{% else %}--{% endif %}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h3>Date des commandes</h3>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <table class="ui celled structured selectable table">
                    <thead>
                        <tr>
                            <th>Grossiste</th>
                            {% for grossiste, date in last_order %}
                                <th class='one wide column'>{{  grossiste }}</th>
                            {%  endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Première commande</strong></td>
                        {% for grossiste, date in last_order %}
                            <td>{{  date.first_date }}</td>
                        {%  endfor %}
                    </tr>
                    <tr>
                        <td><strong>Dernière commande</strong></td>
                        {% for grossiste, date in last_order %}
                            <td>{{  date.last_date }}</td>
                        {%  endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h3>Détails des commandes</h3>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {% for month, order_stats_by_month in order_stats %}
                    <div class="ui styled accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            <strong>{{ month }}</strong>
                        </div>
                        <div class="content">
                            <table class="ui celled structured selectable table">
                                <tr>
                                    <th class='collapsing center aligned'>#</th>
                                    <th class='collapsing center aligned'>Date</th>
                                    <th class='collapsing center aligned'>Grossiste</th>
                                    <th class='collapsing center aligned'>Montant</th>
                                </tr>
                                {% for order in order_stats_by_month %}
                                    <tr>
                                        <td class='collapsing center aligned'>{{ order.commande }}</td>
                                        <td class='collapsing center aligned'>{{ order.date }}</td>
                                        <td class='collapsing center aligned'>{{ order.grossiste }}</td>
                                        <td class='collapsing right aligned'>{{ order.montant_commande }} €</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h3>Détails des produits</h3>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <table class="ui celled structured selectable table">
                    <thead>
                    <tr>
                        <th class='collapsing'></th>
                        {% for month, supplier_stats_by_month in supplier_stats %}
                            <th class='two wide column center aligned' colspan='2'>{{  month }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, product in product_list %}
                        <tr>
                            <td class='collapsing left aligned'>{{ product|upper }}</td>
                            {% for month, product_stats_by_month in product_stats %}
                                <td class='center top aligned' style='background-color:#d1f3d1'>{%  if product_stats_by_month[key] is defined %}{{ product_stats_by_month[key]['quantite_totale'] }} {% if product_stats_by_month[key]['quantite_totale_evolution'] != 0 %}<br><span style='font-size: 0.8em;'>({{ product_stats_by_month[key]['quantite_totale_evolution'] }}%)</span>{% endif %}{% else %}--{% endif %}</td>
                                <td class='center top aligned'>{%  if product_stats_by_month[key] is defined %}{{ product_stats_by_month[key]['montant_total'] }}€ {% if product_stats_by_month[key]['montant_total_evolution'] != 0 %}<br><span style='font-size: 0.8em;'>({{ product_stats_by_month[key]['montant_total_evolution'] }}%)</span>{% endif %}{% else %}--{% endif %}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('table').tablesort()
        });
    </script>
{% endblock %}