{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">Statistiques de commandes</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{ form_start(form, {attr: {class: 'ui form'}}) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="ui button primary">Ok</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <h1>Statistiques de commandes du {{ start }} au {{ end }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <a href="#churn">Churn</a> | <a href="#restaurants">Classement restaurants</a> | <a href="#products">Classement produits</a>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <a name="churn"></a>
                <h3>Churn</h3>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <table class="ui celled structured selectable table">
                    <thead>
                        <tr>
                            <th><i class='check icon green'></i>{{ new|length }} Nouveau !</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for id, restaurant in new %}
                        <tr>
                            <td><a href='{{ path('app_admin_prospect_statistics_detail', {'id': id}) }}'>{{ restaurant }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="four wide column">
                <table class="ui celled structured selectable table">
                    <thead>
                    <tr>
                        <th><i class='close icon red'></i>{{ lost|length }} Perdu !</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, restaurant in lost %}
                        <tr>
                            <td><a href='{{ path('app_admin_prospect_statistics_detail', {'id': id}) }}'>{{ restaurant }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <a name="restaurants"></a>
                <h3>Classement restaurants</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                {% for month, stats_by_month in restaurant_stats %}
                    <h1><strong>{{  month }}</strong></h1>
                    <table class="ui celled structured selectable table">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Restaurant</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                <th>Mobile</th>
                                <th>Nombre de commandes</th>
                                <th>Montant commandes</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for key, stat in stats_by_month %}
                            <tr>
                                <td>{{ i }}</td>
                                <td><a href='{{ path('app_admin_prospect_statistics_detail', {'id': stat.id}) }}'>{{ stat.restaurant }}</a></td>
                                <td>{{ stat.prenom }}</td>
                                <td>{{ stat.email }}</td>
                                <td>{{ stat.telephone }}</td>
                                <td>{{ stat.mobile }}</td>
                                <td class='{%  if stat.total_commande_evolution > 0 %}positive{% elseif stat.total_commande_evolution < 0%}negative{% endif %}'>{{ stat.total_commande }} {% if stat.total_commande_evolution != 0 %}({{ stat.total_commande_evolution }}%){% endif %}</td>
                                <td class='{%  if stat.montant_total_evolution > 0 %}positive{% elseif stat.montant_total_evolution < 0%}negative{% endif %}'>{{ stat.montant_total }}€ {% if stat.montant_total_evolution != 0 %}({{ stat.montant_total_evolution }}%){% endif %}</td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="column">
                <a name="products"></a>
                <h3>Classement produits</h3>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="ui celled structured selectable table">
                    <thead>
                    <tr>
                        <th class='collapsing'></th>
                        {% for month, supplier_stats_by_month in product_stats %}
                            <th class='two wide column center aligned' colspan='2'>{{  month }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, product in product_list %}
                        <tr>
                            <td class='collapsing left aligned'>{{ product|upper }}</td>
                            {% for month, product_stats_by_month in product_stats %}
                                <td class='center top aligned' style='background-color:#d1f3d1'>{%  if product_stats_by_month[key] is defined %}{{ product_stats_by_month[key]['quantite_totale'] }} {% if product_stats_by_month[key]['quantite_totale_evolution'] != 0 %}<br><span style='font-size: 0.8em;'>({{ product_stats_by_month[key]['quantite_totale_evolution'] }}%)</span>{% endif %}{% else %}--{% endif %}</td>
                                <td class='center top aligned'>{%  if product_stats_by_month[key] is defined %}{{ product_stats_by_month[key]['montant_total'] }}€ {% if product_stats_by_month[key]['montant_total_evolution'] != 0 %}<br><span style='font-size: 0.8em;'>({{ product_stats_by_month[key]['montant_total_evolution'] }}%)</span>{% endif %}{% else %}--{% endif %}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
