<div class="sixteen wide column">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">Demandes de contact</div>
            <div class="meta">Historique des demandes de contact</div>
        </div>
        <div class="content">
            {{ sylius_grid_render(resources, '@App/Admin/Prospect/_contact_request_grid.html.twig') }}
        </div>
    </div>
</div>