<div class="sixteen wide column">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">Emails</div>
            <div class="meta">Historique des emails</div>
        </div>
        <div class="content">
            {{ sylius_grid_render(resources, '@App/Admin/Prospect/_email_grid.html.twig') }}
        </div>
    </div>
</div>