{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set definition = grid.definition %}
{% set data = grid.data %}

{% if data|length > 0 %}
    <table class="ui sortable stackable celled table">
        <thead>
        <tr>
            {% for field in definition.fields|sort_by('position') %}
                {% if field.enabled %}
                    <th class="sylius-table-column-{{ field.name }}">{{ field.label|trans }}</th>
                {% endif %}
            {% endfor %}
            <th class="sylius-table-column-actions">{{ 'sylius.ui.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr class="item">
                {% for field in definition.enabledFields|sort_by('position') %}
                    <td>{{ sylius_grid_render_field(grid, field, row) }}</td>
                {% endfor %}
                <td>
                    <div class="ui buttons">
                        <a class="ui button" href="{{ path('app_admin_email_show', {id: row.id}) }}">Voir</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}