<div class="ui list">
    {% for supplier in data %}
        <div class="item">
            <div class="ui checkbox">
                <input id="s-{{ supplier.id }}" type="checkbox" name="supplier[]" value="{{ supplier.id }}">
                <label for="s-{{ supplier.id }}">{{ supplier.name }}{% if supplier.status is not empty %} ({{ supplier.status }}){% endif %}</label>
            </div>
        </div>
    {% endfor %}
</div>
