<div class="sixteen wide column">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">Ouvertures de compte</div>
            <div class="meta">Historique des demandes d'ouverture de compte</div>
        </div>
        <div class="content">
            {{ sylius_grid_render(resources, '@App/Admin/Prospect/_supplier_account_log_grid.html.twig') }}
        </div>
    </div>
</div>