{% extends '@SyliusAdmin/layout.html.twig' %}

{% form_theme form '@App/Admin/Prospect/Form/theme.html.twig' %}

{% block content %}
    <div class="ui header">
        &Eacute;dition du prospect &laquo;{{ resource.email }}&raquo;
        <div class="ui buttons right floated">
            <a class="ui green button" href="{{ path('app_admin_admin_prospect_show', {id: resource.id}) }}">Voir</a>
            <div class="or"></div>
            <a class="ui orange button" href="{{ path('app_admin_admin_prospect_index') }}">Retour</a>
        </div>
    </div>

    <div class="ui segment" style="margin-top: 2em;">
        <div class="ui top attached tabular menu">
            <div class="active item" data-tab="infos">Infos</div>
            <div class="item" data-tab="customers">Utilisateurs du shop</div>
            <div class="item" data-tab="restaurants">Restaurants</div>
        </div>

        <!-- Partie infos standards -->
        <div class="ui bottom attached active tab segment" data-tab="infos">
            {{ form_start(form, {'action': path('app_admin_admin_prospect_edit', { 'id': resource.id }), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            <input type="hidden" name="_method" value="PUT" />

            <div class="ui grid">
                <div class="three column row stackable">
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">Informations du client</div>
                                <div class="description">
                                    {{ form_row(form.type) }}
                                    {{ form_row(form.civility) }}
                                    {{ form_row(form.email) }}
                                    {{ form_row(form.supplementaryEmails) }}
                                    {{ form_row(form.firstName) }}
                                    {{ form_row(form.contactName) }}
                                    {{ form_row(form.phone) }}
                                    {{ form_row(form.mobile) }}

                                    {{ form_row(form.restaurantName) }}
                                    {{ form_row(form.address) }}
                                    {{ form_row(form.zipCode) }}
                                    {{ form_row(form.city) }}
                                </div>
                            </div>
                            <button type="submit" class="ui bottom attached green button">
                                <i class="edit icon"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">Informations adminisitratives</div>
                                <div class="description">
                                    {{ form_row(form.companyName) }}
                                    {{ form_row(form.siren) }}
                                    {{ form_row(form.kbisFile) }}
                                    {{ form_row(form.ribFile) }}
                                    {{ form_row(form.iban) }}
                                    {{ form_row(form.suppliers) }}
                                </div>
                            </div>
                            <button type="submit" class="ui bottom attached green button">
                                <i class="edit icon"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">Bonus</div>
                                <div class="description">
                                    {{ form_row(form.emailSubscribed) }}
                                    {{ form_row(form.newsletterPrices) }}
                                    {{ form_row(form.deliveryHours) }}
                                    {{ form_row(form.canUseArbitration) }}
                                    {{ form_row(form.categories) }}
                                    {{ form_row(form.currentSupplier) }}
                                </div>
                            </div>
                            <button type="submit" class="ui bottom attached green button">
                                <i class="edit icon"></i>
                                Sauvegarder
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>

        <!-- Partie gestion client -->
        <div class="ui bottom attached tab segment" data-tab="customers">
            {{ form_start(formCustomers, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            <input type="hidden" name="_method" value="PUT" />

            {{ form_widget(formCustomers.customers) }}

            <button type="submit" class="ui fluid button green">Sauvegarder</button>

            {{ form_row(formCustomers._token) }}
            {{ form_end(formCustomers, {'render_rest': false}) }}
        </div>

        <!-- Partie gestion des restaurants -->
        <div class="ui bottom attached tab segment" data-tab="restaurants">
            {{ form_start(formRestaurants, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            <input type="hidden" name="_method" value="PUT" />

            {{ form_widget(formRestaurants.restaurants) }}

            <button type="submit" class="ui fluid button green">Sauvegarder</button>

            {{ form_row(formRestaurants._token) }}
            {{ form_end(formRestaurants, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(function() {
                $('.ui.search.dropdown').dropdown();
            }, 1000);
        });
    </script>
{% endblock %}