{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% set definition = resources.definition %}
{% set data = resources.data %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.index' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sonata_block_render_event(event_prefix ~ '.before_header', {'resources': resources}) }}

    {% include '@SyliusAdmin/Crud/Index/_header.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_header', {'resources': resources}) }}

    {% include '@SyliusAdmin/Crud/Index/_content.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_content', {'resources': resources}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sonata_block_render_event(event_prefix ~ '.stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sonata_block_render_event(event_prefix ~ '.javascripts') }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#export-prospects').click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                var ids = $.makeArray($('input[class="bulk-select-checkbox"]:checked').map(function(index, element) {
                    return $(element).val();
                }));

                var url = $(this).attr('href') + '?'
                                                    + 'ids=' + encodeURIComponent(ids.join(','))
                                                    + '&supplier-category=' + encodeURIComponent($('#criteria_supplier_supplier').val())
                                                    + '&subscribed-prices=' + encodeURIComponent($('#criteria_newsletterPrices').val())
                                                    + '&subscribed-email=' + encodeURIComponent($('#criteria_emailSubscribed').val())
                                                    + '&is-customer=' + encodeURIComponent($('#criteria_client_hasSuppliers').val())
                ;

                $('<a>', {href: url, target: '_blank'})[0].click();
            });

            $('.table').find('th:first').append(
                $('<input type="checkbox" id="bulk-select-all">').change(function() {
                    if (this.checked) {
                        $('input.bulk-select-checkbox').prop('checked', true);
                    } else {
                        $('input.bulk-select-checkbox').prop('checked', false);
                    }
                }
            ));
        });
    </script>
{% endblock %}
