{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %}{{ 'sylius.ui.prospect'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sonata_block_render_event('sylius.admin.prospect.show.before_header', {'resource': resource}) }}

    <div class="ui stackable two column grid">
        {% include '@App/Admin/Prospect/Show/_header.html.twig' %}

        {{ sonata_block_render_event('app.admin.prospect.show.header', {'resource': resource}) }}

        {% set menu = knp_menu_get('app.admin.prospect.show', [], {'prospect': resource}) %}
        {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
    </div>

    {{ sonata_block_render_event('app.admin.prospect.show.after_header', {'resource': resource}) }}

    <div class="ui divider"></div>

    {{ sonata_block_render_event('app.admin.prospect.show.after_breadcrumb', {'resource': resource}) }}

    <div class="ui stackable grid">
        {% include '@App/Admin/Prospect/Show/_content.html.twig' %}
    </div>

    {{ sonata_block_render_event('app.admin.prospect.show.after_content', {'resource': resource}) }}

    <div class="ui modal" id="send-email-prices-modal">
        <div class="header">Envoie d'email</div>
        <div class="content">
            Envoyer les grilles tarifaires suivantes à {{ resource.email }} :
            <p id="prices-modal-text">

            </p>
        </div>
        <div class="actions">
            <div class="ui approve button">Oui</div>
            <div class="ui cancel button">Non</div>
        </div>
    </div>

    <div class="ui modal" id="create-shop-account">
        <div class="header">Ouverture d'un compte shop</div>
        <div class="content">
            Ouvrir un compte shop à {{ resource.email }} ?
        </div>
        <div class="actions">
            <div class="ui approve button">Oui</div>
            <div class="ui cancel button">Non</div>
        </div>
    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function submitDealForm(e) {
            e.preventDefault();
            e.stopPropagation();

            var $form = $(this);

            $form.addClass('loading');

            $.post($form.attr('action'), $form.serialize()).then(function(response) {
                var $dealCard = $form.closest('.deal-card');

                $dealCard.replaceWith(response);
                $dealCard.find('form').off('submit').on('submit', submitDealForm);

                // Required to get dropdown and checkboxes working
                $('.ui.dropdown').dropdown();
                $('.ui.checkbox').checkbox();
            });
        }

        function createTransaction(e, id, userId) {
            e.preventDefault();
            e.stopPropagation();

            $.get(Routing.generate('app_admin_advanceduser_account_deal_form', {dealId: 0, userId: userId})).then(function(response) {
                var $cards = $('#' + id);

                $cards.append(response);
                $cards.find('form').off('submit').on('submit', submitDealForm);

                // Required to get dropdown and checkboxes working
                $('.ui.dropdown').dropdown();
                $('.ui.checkbox').checkbox();
            });
        }

        function createCompanyTransaction(e) {
            createTransaction(e, 'company-cards', $(this).data('userId'));
        }

        function createUserTransaction(e) {
            createTransaction(e, 'user-cards', $(this).data('userId'));
        }

        function loadClientInfo(email)
        {
            if (email === null || email.length === 0) {
                return ;
            }

            $.get(Routing.generate('app_admin_advanceduser_vid_from_email', {email: email})).then(function(response) {
                if (response.vid !== null) {
                    $.get(Routing.generate('app_admin_advanceduser_transactions', {vid: response.vid})).then(function(response) {
                        var $container = $('#details-container');

                        $container.html(response);
                        $container.find('.ui.accordion').accordion({exclusive: false});

                        $container.find('form').off('submit').on('submit', submitDealForm);

                        $container.find('#create-company-transaction').data('userId', response.vid).off('click').click(createCompanyTransaction);
                        $container.find('#create-user-transaction').data('userId', response.vid).off('click').click(createUserTransaction);

                        // Required to get dropdown and checkboxes working
                        $('.ui.dropdown').dropdown();
                        $('.ui.checkbox').checkbox();

                        var onProspectSubmit = function(e) {
                            e.preventDefault();
                            e.stopPropagation();

                            var $prospectForm = $(this);

                            $prospectForm.addClass('loading');

                            $.post($prospectForm.attr('action'), $prospectForm.serialize()).then(function(response) {
                                $prospectForm.closest('#prospect-form-container').replaceWith(response);
                                $('.form.prospect').off('submit').on('submit', onProspectSubmit);

                                // Required to get dropdown and checkboxes working
                                $('.ui.dropdown').dropdown();
                                $('.ui.checkbox').checkbox();
                            });
                        };

                        $('.form.prospect').off('submit').on('submit', onProspectSubmit);
                    });
                }
            });
        }

        $(document).ready(function() {
            var $container = $('#details-container');

            $container.find('.ui.accordion').accordion({exclusive: false});

            $container.find('form').off('submit').on('submit', submitDealForm);

            $container.find('#create-company-transaction').off('click').click(createCompanyTransaction);
            $container.find('#create-user-transaction').off('click').click(createUserTransaction);

            // Required to get dropdown and checkboxes working
            $('.ui.dropdown').dropdown();
            $('.ui.checkbox').checkbox();

            var onProspectSubmit = function(e) {
                e.preventDefault();
                e.stopPropagation();

                var $prospectForm = $(this);

                $prospectForm.addClass('loading');

                $.post($prospectForm.attr('action'), $prospectForm.serialize()).then(function(response) {
                    $prospectForm.closest('#prospect-form-container').replaceWith(response);
                    $('.form.prospect').off('submit').on('submit', onProspectSubmit);

                    // Required to get dropdown and checkboxes working
                    $('.ui.dropdown').dropdown();
                    $('.ui.checkbox').checkbox();
                });
            };

            $('.form.prospect').off('submit').on('submit', onProspectSubmit);

            $('#send-predefined-email').click(function() {

            });

            $('#send-prices-email').click(function() {
                var selectedSuppliers = [];
                var selectedSuppliersNames = [];

                $('input[name="suppliers"]:checked').each(function() {
                    var self = $(this);

                    selectedSuppliers.push(self.val());
                    selectedSuppliersNames.push(self.data('supplier'));
                });

                if (selectedSuppliers.length > 0) {
                    var $sendEmailPricesModal = $('#send-email-prices-modal');

                    $sendEmailPricesModal.find('#prices-modal-text').text(selectedSuppliersNames.join(', '));
                    $sendEmailPricesModal.modal({
                        closable: true,
                        onApprove: function () {
                            $.get(Routing.generate('app_admin_mailer_prices', {dst: "{{ resource.id }}", suppliers: selectedSuppliers.join(',')})).then(function(response) {

                            });
                            return true;
                        },
                        onDeny: function () {
                            return true;
                        }
                    }).modal('show');
                }
            });

            $('#create-shop-account-button').click(function() {

                var $createShopAccountModal = $('#create-shop-account');

                $createShopAccountModal.modal({
                    closable: true,
                    onApprove: function () {
                        $.get(Routing.generate('app_admin_admin_create_shop_account', {id: "{{ resource.id }}"})).then(function(response) {
                        });
                        location.reload();
                        return true;
                    },
                    onDeny: function () {
                        return true;
                    }
                }).modal('show');
            });

            var $openAccountModal = $('#open-account-modal');
            var $suppliersContainer = $openAccountModal.find('#suppliers-container');

            function enableIfOkForSubmission() {
                var hasChecked = $suppliersContainer.find('input[type="checkbox"]:checked').length > 0;

                if (hasChecked) {
                    $openAccountModal.find('.approve.button').removeClass('disabled');
                } else {
                    $openAccountModal.find('.approve.button').addClass('disabled');
                }
            }

            $('#open-account-button').click(function() {
                $openAccountModal
                    .modal({
                        closeable: true,
                        onShow: function() {
                            $.get(Routing.generate('app_admin_admin_prospect_open_account_modal', {id: {{ resource.id}} }))
                                .then(function(response) {
                                    $suppliersContainer.removeClass('loading');

                                    $suppliersContainer.append(response);

                                    $suppliersContainer.find('input[type="checkbox"]').off('change').change(enableIfOkForSubmission);
                                })
                            ;
                        },
                        onHidden: function() {
                            $suppliersContainer.html('').addClass('loading');
                        },
                        onApprove: function() {
                            var selectedSuppliers = $suppliersContainer.find('input[type="checkbox"]:checked').map(function() {
                                return $(this).val();
                            }).get().join();

                            $('#confirmation-modal')
                                .modal({
                                    onApprove: function() {
                                        $.post(
                                            Routing.generate('app_admin_admin_prospect_open_account', {id: {{ resource.id}} }),
                                            "suppliers=" + selectedSuppliers
                                        ).then(function(response) {
                                            if (response.ok) {
                                                if (response.errors.length > 0) {
                                                    alert("Demande(s) d'ouverture de compte envoyée(s). Erreurs: " + response.errors.join(', '));
                                                } else {
                                                    alert("Demande(s) d'ouverture de compte envoyée(s).");
                                                    location.reload();
                                                }
                                            } else {
                                                alert("Impossible d'ouvrir le(s) compte(s): " + response.message);
                                            }
                                        });

                                        return true;
                                    },
                                    onDeny: function() {
                                        return true;
                                    }
                                })
                                .modal('show')
                            ;

                            return true;
                        }
                    })
                    .modal('show')
                ;
            });

            $('.prospect-steps .step').each(function() {
                $(this).popup({
                    popup: $(this).data('trigger')
                });
            });
        });
    </script>
{% endblock %}