{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('table').tablesort();

            const onToggleButtonClicked = function(e) {
                e.preventDefault();
                const $button = $(this);

                $button.off('click').addClass('loading').addClass('disabled');

                $.get($button.attr('href')).then(function(response) {
                    if (response.hasOwnProperty('successFlag')) {
                        if (response.successFlag) {
                            $button.removeClass('orange').removeClass('green').addClass('green');
                        } else {
                            $button.removeClass('orange').removeClass('green').addClass('orange');
                        }

                        $button.removeClass('loading').removeClass('disabled').click(onToggleButtonClicked);
                    } else {
                        document.location.reload();
                    }
                });
            };

            $('.toggle-button').click(onToggleButtonClicked);

            $('.show-suppliers').click(function() {
                const prospectId = $(this).data('prospectid');

                $('.ui.modal.modal-' + prospectId).modal('show');
            });

            const onExportCsv = function(e) {
                e.preventDefault();

                $('.export-csv').val(1);

                $('#export-csv').off('click').click();
            };

            $('#export-csv').click(onExportCsv);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">
                    <i class="smile icon"></i>
                    Customer Success
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{ form_start(form, {attr: {class: 'ui form'}}) }}
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Filtres</div>
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="eight wide column">
                                {{ form_row(form.startDate) }}
                            </div>
                            <div class="eight wide column">
                                {{ form_row(form.endDate) }}
                            </div>
                            <div class="four wide column">
                                {{ form_row(form.minSuppliers) }}
                            </div>
                            <div class="four wide column">
                                {{ form_row(form.maxSuppliers) }}
                            </div>
                            <div class="eight wide column">
                                {{ form_row(form.callback) }}
                            </div>
                        </div>
                    </div>
                    <div class="extra content" style="text-align: center;">
                        <button type="submit" class="ui button primary" style="width: 25%;">Ok</button>
                        <button id="export-csv" type="submit" class="ui button teal" style="width: 25%;">Exporter en CSV</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h4> Nombre total de clients qui ont déjà commandé : {{ allData|length }}</h4>
                <a href="{{ path('app_admin_customer_succes_refresh_cache') }}" class="ui labeled icon button">
                    <i class="icon refresh"></i>
                    Rafraîchir les données
                </a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <table class="ui sortable celled striped table">
                    <thead>
                    <tr>
                        <th>Nom du restaurant</th>
                        <th>E-mail</th>
                        <th>Téléphone</th>
                        <th>Date 1er commande</th>
                        <th>Date dernière commande</th>
                        <th>Nombre de fournisseurs</th>
                        <th>Nombre cdes shop</th>
                        <th>Code postal</th>
                        <th>Hubspot</th>
                        <th>BO prospect</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in allData %}
                        <tr>
                            <td>{{ data.restaurant }}</td>
                            <td>{{ data.email }}</td>
                            <td>{{ data.phone }} <br/> {{ data.mobile }}</td>
                            <td data-sort-value="{% if data.globalRange.start.date is not null %}{{ data.globalRange.start.date|date('YmdHis') }}{% endif %}">
                                {% if data.globalRange.start.date is not null %}
                                    {{ data.globalRange.start.date|date('d/m/Y H:i:s') }} ({{ data.globalRange.start.supplier }})<br/>

                                    {% if data.globalRange.start.type == 'order' %}
                                        <a target="_blank" href="{{ path('sylius_admin_order_show', {id: data.globalRange.start.id}) }}">Voir la commande</a>
                                    {% else %}
                                        <a target="_blank" href="#">Voir la facture</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td data-sort-value="{% if data.globalRange.end.date is not null %}{{ data.globalRange.end.date|date('YmdHis') }}{% endif %}">
                                {% if data.globalRange.end.date is not null %}
                                    {{ data.globalRange.end.date|date('d/m/Y H:i:s') }} ({{ data.globalRange.end.supplier }})<br/>

                                    {% if data.globalRange.end.type == 'order' %}
                                        <a target="_blank" href="{{ path('sylius_admin_order_show', {id: data.globalRange.end.id}) }}">Voir la commande</a>
                                    {% else %}
                                        <a target="_blank" href="#">Voir la facture</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td data-sort-value="{{ data.nbSuppliers }}">
                                <button class="ui button primary show-suppliers" data-prospectid="{{ data.idProspect }}">
                                    {{ data.nbSuppliers }}
                                </button>
                            </td>
                            <td data-sort-value="{{ data.nbTotalCommande }}">{{ data.nbTotalCommande }}</td>
                            <td data-sort-value="{{ data.zipCode }}">{{ data.zipCode }}</td>
                            <td>
                                {% if data.idHubspot %}
                                    <a class="ui button" target="blank" href="https://app.hubspot.com/contacts/4333681/contact/{{ data.idHubspot }}">
                                        Voir
                                    </a>
                                {% else %}
                                    <p> Pas de Hubspot </p>
                                {% endif %}
                            </td>
                            <td>
                                <a class="ui button" target="blank" href="{{ path('app_admin_admin_prospect_show', {id: data.idProspect}) }}">
                                    Voir
                                </a>
                            </td>
                            <td>
                                <div class="ui buttons">
                                    {% if data.successFlagJ %}
                                        <a class="toggle-button ui green button" href="{{ path('app_admin_customer_succes_toggle_prospect', {id: data.idProspect, flag: 'j'}) }}">J</a>
                                    {% else %}
                                        <a class="toggle-button ui orange button" href="{{ path('app_admin_customer_succes_toggle_prospect', {id: data.idProspect, flag: 'j'}) }}">J</a>
                                    {% endif %}

                                    {% if data.successFlagJPlus7 %}
                                        <a class="toggle-button ui green button" href="{{ path('app_admin_customer_succes_toggle_prospect', {id: data.idProspect, flag: 'j7'}) }}">J+7</a>
                                    {% else %}
                                        <a class="toggle-button ui orange button" href="{{ path('app_admin_customer_succes_toggle_prospect', {id: data.idProspect, flag: 'j7'}) }}">J+7</a>
                                    {% endif %}

                                    {% if data.successFlagJPlus30 %}
                                        <a class="toggle-button ui green button" href="{{ path('app_admin_customer_succes_toggle_prospect', {id: data.idProspect, flag: 'j30'}) }}">J+30</a>
                                    {% else %}
                                        <a class="toggle-button ui orange button" href="{{ path('app_admin_customer_succes_toggle_prospect', {id: data.idProspect, flag: 'j30'}) }}">J+30</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% for data in allData %}
        <div class="ui modal modal-{{ data.idProspect }}">
            <i class="close icon"></i>
            <div class="header">Fournisseurs du restaurant &laquo;{{ data.restaurant }}&raquo;</div>
            <div class="content">
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Date 1ère commande</th>
                        <th>Date dernière commande</th>
                        <th>Fournisseur</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in data.dataSuppliers %}
                        <tr>
                            <td>{% if s.min %}{{ s.min|date('d/m/Y H:i:s') }}{% endif %}</td>
                            <td>{% if s.max %}{{ s.max|date('d/m/Y H:i:s') }}{% endif %}</td>
                            <td>{{ s.supplier }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
