<div id="blocked-price-segment" class="ui basic segment">
    <div class="ui inverted dimmer">
        <div class="ui text loader">Chargement des infos (prix, poids) pour cette variante...</div>
    </div>
    <div class="ui fluid card">
        <div class="content">
            <div class="header">Ajouter un prix bloqué</div>
            <div class="description">
                {{ form_start(blockedPriceForm, {attr: {id: 'blocked-price-form', class: 'ui form'}}) }}
                <div class="ui grid">
                    <div class="row">
                        <div class="eight wide column">
                            {{ form_row(blockedPriceForm.productVariant) }}
                            {{ form_row(blockedPriceForm.kgPrice) }}
                            {{ form_row(blockedPriceForm.unitPrice) }}
                            {{ form_row(blockedPriceForm.validFrom) }}
                            {{ form_row(blockedPriceForm.validTo) }}
                            {{ form_widget(blockedPriceForm.weight) }}
                        </div>

                        <div class="eight wide column">
                            {{ form_row(blockedPriceForm.optionValues) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="column center aligned">
                            <button type="submit" id="submit-blocked-price" class="ui positive button">Créer le prix bloqué</button>
                        </div>
                    </div>
                </div>
                {{ form_end(blockedPriceForm) }}
            </div>
        </div>
    </div>
</div>