<table class="ui sortable celled striped table">
    <thead>
        <tr>
            <th class="collapsing"></th>
            <th class="collapsing">ID</th>
            <th class="collapsing">Référence</th>
            <th class="sorted ascending collapsing">Produit</th>
            <th style="width: 120px; min-width: 120px;">Poids</th>
            <th style="width: 60px; min-width: 60px;">Quantité</th>
            <th style="width: 60px; min-width: 60px;">UM</th>
            <th style="width: 120px; min-width: 120px;">Prix kilo</th>
            <th style="width: 120px; min-width: 120px;">Prix unitaire</th>
            <th class="collapsing">Promo</th>
            <th class="collapsing"></th>
        </tr>
    </thead>
    <tbody>
        {% for price in prices %}
            <tr>
                <td class="collapsing">
                    <img src="{{ price.productImage|imagine_filter('front_tiny') }}"/>
                </td>
                <td class="collapsing">{{ price.productId }}</td>
                <td class="collapsing">{{ price.reference }}</td>
                <td class="collapsing">{{ price.product }}</td>
                <td class="collapsing">
                    <div class="ui fluid right labeled input">
                        <input type="number" class="weight" placeholder="Poids" value="{{ price.weight }}">
                        <label class="ui label">KG</label>
                    </div>
                </td>
                <td class="collapsing">
                    <div class="ui fluid input">
                        <input type="number" class="quantity" placeholder="Nombre d'unités" value="{{ price.quantity }}">
                    </div>
                </td>
                <td class="collapsing">
                    <div class="ui fluid input">
                        <input type="text" class="um" placeholder="Unité de mesure" value="{{ price.um }}">
                    </div>
                </td>
                <td>
                    <div class="ui fluid right labeled input">
                        <input type="number" class="kg-price" placeholder="Prix kilo" value="{{ price.kgPrice }}">
                        <label class="ui label">€</label>
                    </div>
                </td>
                <td>
                    <div class="ui fluid right labeled input">
                        <input type="number" class="unit-price" placeholder="Prix unitaire" value="{{ price.unitPrice }}">
                        <label class="ui label">€</label>
                    </div>
                </td>
                <td>
                    <button class="ui labeled icon button toggle-promo {% if price.promo %}positive{% else %}negative{% endif  %}" data-price-id="{{ price.id }}">
                        <i class="{% if price.promo %}checkmark{% else %}close{% endif %} icon"></i>
                        {% if price.promo %}Oui{% else %}Non{% endif %}
                    </button>
                </td>
                <td class="right aligned collapsing">
                    <button type="button" role="button" class="ui button primary update-price" data-price-id="{{ price.id }}">Mettre à jour</button>
                    <a type="button" role="button" class="ui button secondary view-history" href="{{ path('app_admin_supplier_prices_history', {id: price.id}) }}">Historique</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>