{% if prices is not empty %}
    <table class="ui sortable celled striped table">
        <thead>
            <tr>
                <th class="collapsing">Référence</th>
                <th class="sorted ascending collapsing">Produit</th>
                <th class="collapsing">Poids</th>
                <th>Prix kilo</th>
                <th>Prix unitaire</th>
                <th>Début de validité</th>
                <th>Fin de validité</th>
                <th class="collapsing"></th>
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
                <tr>
                    <td class="collapsing">{{ price.reference }}</td>
                    <td class="collapsing">{{ price.product }}</td>
                    <td class="collapsing">{{ price.weight }}KG</td>
                    <td>
                        <div class="ui fluid right labeled input">
                            <input type="number" class="kg-price" placeholder="Prix kilo" value="{{ price.kgPrice }}" data-weight="{{ price.weight }}">
                            <label class="ui label">€</label>
                        </div>
                    </td>
                    <td>
                        <div class="ui fluid right labeled input">
                            <input type="number" class="unit-price" placeholder="Prix unitaire" value="{{ price.unitPrice }}" data-weight="{{ price.weight }}">
                            <label class="ui label">€</label>
                        </div>
                    </td>

                    <td>
                        <div class="ui fluid input">
                            <input type="date" class="valid-from" placeholder="Début de validité" value="{{ price.validFrom }}">
                        </div>
                    </td>

                    <td>
                        <div class="ui fluid input">
                            <input type="date" class="valid-to" placeholder="Fin de validité" value="{{ price.validTo }}">
                        </div>
                    </td>

                    <td class="right aligned collapsing">
                        {#<button type="button" role="button" class="ui button primary update-price" data-price-id="{{ price.id }}">Mettre à jour</button>#}
                        <button type="button" role="button" class="ui button primary edit-price" data-price-id="{{ price.id }}">&Eacute;diter</button>
                        <button type="button" role="button" class="ui button negative delete-price" data-price-id="{{ price.id }}">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="ui info message">
        <div class="content">
            <div class="header">Pas de prix bloqués</div>
            <p>Ce restaurant n'a pas de prix bloqué. On peut en ajouter avec le formulaire ci-dessous</p>
        </div>
    </div>
{% endif %}

{% include '@App/Admin/SupplierPrices/_blocked_price_form.html.twig' %}
