{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui dividing header left floated">Bench des produits pour le fournisseur partenaire &laquo;{{ supplier }}&raquo;</h1>
                <a class="ui button right floated" href="{{ path('app_admin_supplier_prices_index') }}">Retour à la liste des fournisseurs</a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <table class="ui table">
                    <thead>
                    <tr>
                        {% for supplier in bench[0] %}
                            <th>{{ supplier }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for products in bench %}
                        {% if not loop.first %}
                            <tr>
                                {% for product in products %}
                                <td>{{ product }}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

