{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/app/js/tablesort.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/PageCheck/api.js') }}"></script>
    <script type="text/javascript">
        // noinspection ES6ModulesDependencies
        jQuery.each(["put", "delete"], function(i, method) {
            jQuery[method] = function(url, data, callback, type) {
                // noinspection ES6ModulesDependencies
                if (jQuery.isFunction(data) ) {
                    type = type || callback;
                    callback = data;
                    data = undefined;
                }

                return jQuery.ajax({
                    url: url,
                    type: method,
                    dataType: type,
                    data: data,
                    success: callback
                });
            };
        });

        $(document).ready(function() {
            const $pricesTable = $('.sortable.table');

            $pricesTable.tablesort();

            $pricesTable.find('.kg-price').keyup(function() {
                const $kgPrice = $(this);
                const $tr = $kgPrice.closest('tr');
                const $unitPrice = $tr.find('.unit-price');
                const kgPrice = $kgPrice.val().replace(',', '.');
                const weight = $tr.find('.weight').val().replace(',', '.');

                if ($.isNumeric(kgPrice)) {
                    $unitPrice.val((kgPrice * weight).toFixed(2));
                }
            });

            $pricesTable.find('.unit-price').keyup(function() {
                const $unitPrice = $(this);
                const $tr = $unitPrice.closest('tr');
                const $kgPrice = $tr.find('.kg-price');
                const unitPrice = $unitPrice.val().replace(',', '.');
                const weight = $tr.find('.weight').val().replace(',', '.');

                if ($.isNumeric(unitPrice)) {
                    $kgPrice.val((unitPrice / weight).toFixed(2));
                }
            });

            $('.update-price').off('click').click(function() {
                const $updatePriceButton = $(this);
                const $tr = $updatePriceButton.closest('tr');

                const kgPrice = $tr.find('.kg-price').val();
                const unitPrice = $tr.find('.unit-price').val();

                const quantity = $tr.find('.quantity').val();
                const weight = $tr.find('.weight').val();
                const um = $tr.find('.um').val();

                $updatePriceButton.addClass('loading').addClass('disabled');

                jQuery.put(
                    Routing.generate('app_admin_supplier_prices_update', {id: $updatePriceButton.data('price-id')}),
                    {kgPrice, unitPrice, quantity, weight, um},
                    function(response) {
                        $updatePriceButton.removeClass('loading').removeClass('disabled');

                        if (!response.ok) {
                            alert(response.message);
                        }
                    }
                );
            });

            $('.toggle-promo').off('click').click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                const $button = $(this);

                $button.addClass('loading');

                PageCheck.Price.togglePromo($button.data('price-id'), function(response) {
                    if (response.ok) {
                        $button.removeClass('loading');

                        if (response.promo) {
                            $button.removeClass('negative').addClass('positive');
                            $button.html('<i class="checkmark icon"></i>Oui');
                        } else {
                            $button.removeClass('positive').addClass('negative');
                            $button.html('<i class="close icon"></i>Non');
                        }
                    } else {
                        alert('Une erreur est survenue, essayez de recharcher la page');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui dividing header left floated">Modification des prix FoodoMarket pour le fournisseur partenaire &laquo;{{ supplier }}&raquo;</h1>
                <a class="ui button right floated" href="{{ path('app_admin_supplier_prices_index') }}">Retour à la liste des fournisseurs</a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                {% include '@App/Admin/SupplierPrices/_foodomarket_prices.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}