{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">Historique des prix du produit {{ product }} chez {{ supplier }}</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui message">
                    <div class="content">
                        <div class="header">Synthèse</div>
                        <p>
                            {% for s in synthesis %}
                                Du {{ s.from }} au {{ s.to }}: ({{ s.id }}) {{ s.name }}<br/>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui list">
                {#{% for price in history %}#}
                    {#<div class="item">#}
                        {#Variante #{{ price.productVariant.id }}: {{ price.productVariant.fullDisplayName }} - {{ price.productVariant.explicitContent }} - {{ price.productVariant.displayOrigin }}#}
                        {#<br/>#}
                        {#Prix: {{ price.kgPrice / 100 }}€/KG - {{ price.unitPrice / 100 }}€/PC#}
                    {#</div>#}
                {#{% endfor %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

