{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/tablesort.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#suppliers-table').tablesort();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <h1 class="ui dividing header">Gestion des prix par fournisseur</h1>
            </div>
        </div>

        <div class="row">
            <div class="ui sixteen wide column">
                <table id="suppliers-table" class="ui sortable striped table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Fournisseur</th>
                            <th class="center aligned">Statistiques</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in suppliers %}
                            <tr>
                                <td>{{ supplier.name }}</td>
                                <td class="center aligned">
                                    <div class="ui three mini statistics">
                                        <div class="statistic">
                                            <div class="value">
                                                {{ supplier.products }}
                                            </div>
                                            <div class="label">
                                                Produits
                                            </div>
                                        </div>

                                        <div class="statistic">
                                            <div class="value">
                                                {{ supplier.clients }}
                                            </div>
                                            <div class="label">
                                                Clients
                                            </div>
                                        </div>

                                        <div class="statistic">
                                            <div class="value">
                                                {{ supplier.restaurants }}
                                            </div>
                                            <div class="label">
                                                Restaurants
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="ui three buttons">
                                        <a href="{{ path('app_admin_supplier_prices_foodomarket_edit', {id: supplier.id}) }}" class="ui basic green button edit-foodomarket-prices">Editer les prix FoodoMarket</a>
                                        <a href="{{ path('app_admin_supplier_prices_restaurant_edit', {id: supplier.id}) }}" class="ui basic red button edit-restaurant-prices">Editer les prix restaurant</a>
                                        <a href="{{ path('app_admin_supplier_prices_bench', {id: supplier.id}) }}" class="ui basic blue button bench-prices">Bench</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}