{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/app/js/tablesort.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/admin/autocomplete-resource.js') }}"></script>
    <script type="text/javascript">
        // noinspection ES6ModulesDependencies
        jQuery.each(["put", "delete"], function(i, method) {
            jQuery[method] = function(url, data, callback, type) {
                // noinspection ES6ModulesDependencies
                if (jQuery.isFunction(data) ) {
                    type = type || callback;
                    callback = data;
                    data = undefined;
                }

                return jQuery.ajax({
                    url: url,
                    type: method,
                    dataType: type,
                    data: data,
                    success: callback
                });
            };
        });

        function bindPriceCalculator($blockedPriceForm)
        {
            const $kgPrice = $blockedPriceForm.find('.kg-price');
            const $unitPrice = $blockedPriceForm.find('.unit-price');
            const $weight = $blockedPriceForm.find('.weight');

            const onKgPriceChanged = function() {
                const kgPrice = $kgPrice.val().replace(',', '.');

                if ($.isNumeric(kgPrice)) {
                    $unitPrice.val((kgPrice * $weight.val()).toFixed(2));
                }
            };

            const onUnitPriceChanged = function() {
                const unitPrice = $unitPrice.val().replace(',', '.');

                if ($.isNumeric(unitPrice)) {
                    $kgPrice.val((unitPrice / $weight.val()).toFixed(2));
                }
            };

            $kgPrice.off('keyup').keyup(onKgPriceChanged);
            $unitPrice.off('keyup').keyup(onUnitPriceChanged);
        }

        function initProductVariantAutocomplete()
        {
            const $blockedPriceSegment = $('#blocked-price-segment');
            const $blockedPriceForm = $('#blocked-price-form');
            const variantSearchUrl = Routing.generate('app_admin_supplier_prices_variant_search', {supplierId: {{ supplierId }}});

            $blockedPriceForm.find('.sylius-autocomplete')
                .attr('data-url', variantSearchUrl)
                .data('url', variantSearchUrl)
                .autoCompleteResource(function(value) {
                    $blockedPriceSegment.find('.dimmer').addClass('active');

                    $.get(Routing.generate('app_admin_supplier_prices_variant_infos', {code: value, supplierId: {{ supplierId}} }))
                        .then(function(response) {
                            const $kgPrice = $blockedPriceForm.find('.kg-price');
                            const $unitPrice = $blockedPriceForm.find('.unit-price');
                            const $weight = $blockedPriceForm.find('.weight');

                            $kgPrice.val(response.kgPrice);
                            $unitPrice.val(response.unitPrice);
                            $weight.val(response.weight);

                            bindPriceCalculator($blockedPriceForm);

                            $blockedPriceSegment.find('.dimmer').removeClass('active');
                        })
                    ;
                })
            ;

            bindPriceCalculator($blockedPriceForm);

            $blockedPriceForm.find('#submit-blocked-price').off('click').click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                $(this).addClass('loading');

                $.post($blockedPriceForm.attr('action'), $blockedPriceForm.serialize())
                    .then(function(response) {
                        if (!response.ok) {
                            alert(response.message);
                        } else {
                            document.location.reload();
                        }
                    })
                ;
            });
        }

        $(document).ready(function() {
            const $pricesTable = $('.sortable.table');

            $pricesTable.tablesort();

            initProductVariantAutocomplete();

            $pricesTable.find('.kg-price').keyup(function() {
                const $kgPrice = $(this);
                const $tr = $kgPrice.closest('tr');
                const $unitPrice = $tr.find('.unit-price');
                const kgPrice = $kgPrice.val().replace(',', '.');
                const weight = $kgPrice.data('weight');

                if ($.isNumeric(kgPrice)) {
                    $unitPrice.val((kgPrice * weight).toFixed(2));
                }
            });

            $pricesTable.find('.unit-price').keyup(function() {
                const $unitPrice = $(this);
                const $tr = $unitPrice.closest('tr');
                const $kgPrice = $tr.find('.kg-price');
                const unitPrice = $unitPrice.val().replace(',', '.');
                const weight = $unitPrice.data('weight');

                if ($.isNumeric(unitPrice)) {
                    $kgPrice.val((unitPrice / weight).toFixed(2));
                }
            });

            // $('.update-price').off('click').click(function() {
            //     const $updatePriceButton = $(this);
            //     const $tr = $updatePriceButton.closest('tr');
            //
            //     const kgPrice = $tr.find('.kg-price').val();
            //     const unitPrice = $tr.find('.unit-price').val();
            //     const validFrom = $tr.find('.valid-from').val();
            //     const validTo = $tr.find('.valid-to').val();
            //
            //     $updatePriceButton.addClass('loading').addClass('disabled');
            //
            //     jQuery.put(
            //         Routing.generate('app_admin_supplier_prices_update', {id: $updatePriceButton.data('price-id')}),
            //         {kgPrice, unitPrice, validFrom, validTo},
            //         function(response) {
            //             $updatePriceButton.removeClass('loading').removeClass('disabled');
            //
            //             if (!response.ok) {
            //                 alert(response.message);
            //             }
            //         }
            //     );
            // });

            $('.delete-price').off('click').click(function() {
                const $deletePriceButton = $(this);

                $deletePriceButton.addClass('loading').addClass('disabled');

                jQuery.delete(
                    Routing.generate('app_admin_supplier_prices_delete', {id: $deletePriceButton.data('price-id')}),
                    null,
                    function(response) {
                        if (response.ok) {
                            document.location.reload();
                        } else {
                            $deletePriceButton.removeClass('loading').removeClass('disabled');
                            alert(response.message);
                        }
                    }
                );
            });

            $('.edit-price').off('click').click(function() {
                const $editPriceButton = $(this);

                $editPriceButton.addClass('loading').addClass('disabled');

                $.get(Routing.generate('app_admin_supplier_prices_blocked_price_form', {id: $editPriceButton.data('price-id')}))
                    .then(function(response) {
                        $editPriceButton.removeClass('loading').removeClass('disabled');

                        $('#blocked-price-segment').replaceWith(response);

                        initProductVariantAutocomplete();
                    })
                ;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui dividing header left floated">Modification des prix {{ restaurant }} pour le fournisseur &laquo;{{ supplier }}&raquo;</h1>
                <a class="ui button right floated" href="{{ path('app_admin_supplier_prices_restaurant_edit', {id: supplierId}) }}">Retour à la liste des restaurants</a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                {% include '@App/Admin/SupplierPrices/_restaurant_prices.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

