{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui dividing header left floated">Gestion des prix bloqués pour le fournisseur partenaire &laquo;{{ supplier }}&raquo;</h1>
                <a class="ui button right floated" href="{{ path('app_admin_supplier_prices_index') }}">Retour à la liste des fournisseurs</a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui dividing header">Choisir un restaurant dans la liste pour éditer ses prix</h3>

                <div class="ui relaxed divided list">
                    {% for restaurant in restaurants %}
                        <div class="item">
                            <div class="content">
                                <a class="header restaurant" href="{{ path('app_admin_supplier_prices_restaurant_prices_edit', {id: restaurant.id, supplierId: supplierId}) }}">
                                    {{ restaurant.name }}
                                </a>
                                <div class="description">
                                    {{ restaurant.address }}<br/>
                                    Créé le {{ restaurant.createdAt }}

                                    {% if restaurant.nbBlockedPrice > 0 %}
                                        <span class="right floated"><b>{{ restaurant.nbBlockedPrice }} prix bloqués</b></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
