<table class="ui compact celled padded structured striped table">
    <thead>
    <tr>
        <th colspan="6">Variante</th>
        <th colspan="7">Matching</th>
        <th rowspan="2">Vendeurs</th>
    </tr>
    <tr>
        <th>Nom</th>
        <th>Poids</th>
        <th>UM</th>
        <th>UQ</th>
        <th>Contenu</th>
        <th>Prix</th>

        <th>Référence</th>
        <th>Packaging</th>
        <th>Libellé fournisseur</th>
        <th>Poids</th>
        <th>UM</th>
        <th>UQ</th>
        <th style="min-width: 200px;">Prix</th>
    </tr>
    </thead>
    <tbody>
    {% for match in matching %}
        {% set rowspan = match|length %}
        {% for m in match %}
            <tr class="{% if m.onSale %}{% else %}warning{% endif %}">
                {% if loop.first %}
                    {% set class = m.matchingError ? "negative" : "" %}

                    <td class="{{ class }}" rowspan="{{ rowspan }}">
                        {{ m.name }}
                        {% if m.notOnlineReason is not empty %}
                            <ul class="ui list" style="font-style: italic">
                                {% for r in m.notOnlineReason %}
                                    <li class="item">{{ r }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td class="{{ class }} color weight" rowspan="{{ rowspan }}">{{ m.vWeight }}</td>
                    <td class="{{ class }}" rowspan="{{ rowspan }}">{{ m.um }}</td>
                    <td class="{{ class }} color quantity" rowspan="{{ rowspan }}">{{ m.uq }}</td>
                    <td class="{{ class }}" rowspan="{{ rowspan }}">{{ m.content }}</td>
                    <td class="{{ class }}" rowspan="{{ rowspan }}">{% if m.price is not empty %}{{ m.price.full }}{% endif %}</td>
                {% endif %}
                <td>{{ m.ref }}</td>
                <td>{{ m.orderRef }}</td>
                <td>
                    {{ m.label }}
                    {% if m.imported.at %}
                        <br/><u>(le {{ m.imported.at }})</u>
                    {% endif %}
                    {% if m.imported.latest %}
                        <i class="icon checkmark"></i>
                    {% endif %}
                </td>
                <td class="{% if m.weightError %}negative{% endif %} color weight">{{ m.weight }}</td>
                <td class="{% if m.unitError %}negative{% endif %}">{{ m.unit }}</td>
                <td class="{% if m.quantityError %}negative{% endif %} color quantity">{{ m.quantity }}</td>
                <td>
                    {% set price = m.imported.price / 100 %}

                    {% if m.unit == 'KG' or m.unit == 'L' %}
                        {% set pcPrice = price * m.weight %}
                        <i>(<b>PC: </b><span class="color price">{{ price }}</span> x <span class="color weight">{{ m.weight }}</span> = <b>{{ pcPrice | number_format(2, '.', ',') }}€</b>)</i>
                    {% elseif m.unit == 'PC' %}
                        {% set pcPrice = price * m.quantity %}
                        <i>(<b>PC: </b><span class="color price">{{ price }}</span> x <span class="color quantity">{{ m.quantity }}</span> = <b>{{ pcPrice | number_format(2, '.', ',') }}€</b>)</i>
                    {% elseif m.unit == 'CO' %}
                        {% set pcPrice = price %}
                        <i>(<b>PC: </b><span class="color price">{{ price }}</span> = <b>{{ pcPrice | number_format(2, '.', ',') }}€</b>)</i>
                    {% endif %}
                    <br/>
                    <i>(<b>KG: </b>{{ pcPrice }} / <span class="color weight">{{ m.weight }}</span> = <b>{{ (pcPrice / m.weight) | number_format(2, '.', ',') }}€</b>)</i>
                </td>

                {% if loop.first %}
                    <td rowspan="{{ rowspan }}">
                        {% for otherSupplier in m.soldBy %}
                            <a href="{{ path('app_admin_product_matching_show', {id: otherSupplier.id}) }}">{{ otherSupplier.name }}</a>{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>