<table class="ui definition table">
    <thead>
    <tr>
        <th>Prix variante</th>
        <th colspan="3">Unité de mesure fournisseur</th>
    </tr>
    <tr>
        <th></th>
        <th>KG / L</th>
        <th>PC</th>
        <th>CO</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Prix PC
        </td>
        <td>
            <u class="color price">Prix</u> x <u class="color weight">Poids</u>
        </td>
        <td>
            <u class="color price">Prix</u> x <u class="color quantity">Qté</u>
        </td>
        <td>
            <u class="color price">Prix</u>
        </td>
    </tr>
    <tr>
        <td>
            Prix KG
        </td>
        <td colspan="3">
            <u>Prix PC</u> / <u class="color weight">Poids</u>
        </td>
    </tr>
    </tbody>
</table>