{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">Matching Produits-Fournisseurs</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <table class="ui celled padded table">
                    <thead>
                    <tr>
                        <th>Fournisseur</th>
                        <th>Variantes en ligne</th>
                        <th>Références connues</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for supplier in suppliers %}
                        <tr>
                            <td>{{ supplier.name }}</td>
                            <td>{{ supplier.nbActiveProducts }}</td>
                            <td>{{ supplier.nbProducts }}</td>
                            <td>
                                <a class="ui labeled icon blue button" href="{{ path('app_admin_product_matching_show', {id: supplier.id}) }}">
                                    <i class="icon edit"></i>
                                    Editer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
