{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .color.quantity {
            color: #b200ff;
        }

        .ui.quantity.label {
            background-color: #b200ff !important;
            border-color: #b200ff !important;
            color: #fff !important;
        }

        .color.price {
            color: #0094ff;
        }

        .ui.price.label {
            background-color: #0094ff !important;
            border-color: #0094ff !important;
            color: #fff !important;
        }

        .color.weight {
            color: #ff6a00;
        }

        .ui.weight.label {
            background-color: #ff6a00 !important;
            border-color: #ff6a00 !important;
            color: #fff !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="eleven wide column">
                <div class="ui dividing header">Matching Produits {{ supplier }}</div>
            </div>
            <div class="five wide right aligned column">
                <a class="ui labeled icon red button" href="{{ path('app_admin_product_matching_refresh', {id: supplierId}) }}">
                    <i class="icon refresh"></i>
                    Rafraîchir
                </a>

                <a class="ui labeled icon orange button" href="{{ path('app_admin_product_matching_export', {id: supplierId}) }}" target="_blank">
                    <i class="icon download"></i>
                    Exporter en CSV
                </a>

                <a class="ui labeled icon primary button" href="{{ path('app_admin_product_matching_index') }}">
                    <i class="icon backward"></i>
                    Retour
                </a>
            </div>
        </div>

        <div class="row">
            <div class="eight wide column">
                <h4>Légende</h4>

                <div class="ui weight label">Poids</div>
                <div class="ui quantity label">Quantité</div>
                <div class="ui price label">Prix fichier</div>
            </div>
            <div class="eight wide column">
                <h4>Règles de calcul des prix</h4>

                {% include 'AppBundle:Admin/ProductMatching:_price_computation_rules.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {% if matching is not null %}
                    {% include 'AppBundle:Admin/ProductMatching:_matching.html.twig' %}
                {% else %}
                    {% include 'AppBundle:Admin/AsyncJob:show.html.twig' with {job: job} only %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if job is defined and job is not null %}
        <script type="text/javascript">
            function pollStatus() {
                $.get('{{ path('app_admin_async_job_show', {id: job.id}) }}').then(function(response) {
                    $('.ui.card.job.status').replaceWith(response);

                    setTimeout(pollStatus, 1000);
                });
            }

            $(document).ready(function() {
                pollStatus();
            });
        </script>
    {% endif %}
{% endblock %}