{{ form_errors(form) }}
{{ form_row(form.supplier) }}
{{ form_row(form.category) }}
{{ form_row(form.restaurant) }}
<div class="ui calendar calendar-date">
    {{ form_row(form.dlcFrom) }}
</div>
<div class="ui calendar calendar-date">
    {{ form_row(form.dlcTo) }}
</div>
{{ form_row(form.file) }}