<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>FoodoMarket.club - Inscription particuliers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://www.foodomarket.com/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
</head>
<body>
    <div class="ui container">
        <div class="ui message" style="margin-top: 48px">
            <p>{{ data|raw }}</p>
        </div>

        <a href="https://foodomarket.club">Retour à la page d'inscription</a>
    </div>
</body>
</html>
