.grid-banner {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 1000;
  margin-top: 20px;
}

// Rectifie le margin-top de la bannière pour le mode mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .grid-banner {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
    z-index: 1000;
    margin-top: 50px;
  }
}

.ui.card.card-banner {
  // Faire que pour la taille pc
  padding: 20px;
  background-color: #ecf9ec;
  // Fixer aussi pour la taille mobile
}

.header-banner{
  font-size: 20px !important;
  font-weight: bold;
  padding: 25px;
  color: black;
}

.list-banner, .p-banner{
  font-size: 17px;
  color: black;
}

/*  Les liens de la card */

.link_banner{
  color: white;
  font-size: 20px;
}

.a-banner{
  color: #079531;
  font-size: 20px;
}

.a-banner:hover {
  color: green;
  text-decoration: underline;
}

.link_banner:hover{
  color: #ecf9ec;
}

.button-dashboard{
  align-items: center;
  display: flex;
}
