<section id="home-client-testimonials">
    <div class="arrow-right"></div>
    <div class="container">
        <h1 class="text-center mb-5">
            Nos clients nous aiment !
        </h1>
        <p class="text-center">
            <i class="fas fa-star star-foodo"></i>
            <i class="fas fa-star star-foodo"></i>
            <i class="fas fa-star star-foodo"></i>
            <i class="fas fa-star star-foodo"></i>
            <i class="fas fa-star-half-alt star-foodo"></i>
        </p>
        <p class="text-center">4.9/5</p>
        <div class="row mt-5">
            <div class="col-md-4">
                <p class="testimonial">
                    <i class="fas fa-quote-left"></i>
                    Enfin une solution pour faire des économies rapidement, facilement et gratuitement</p>
                <p class="testimonial-name">Lucie - Gérante</p>
            </div>
            <div class="col-md-4">
                <p class="testimonial">
                    <i class="fas fa-quote-left"></i>
                    "Foodomarket me permet de regrouper mes commandes auprès de plusieurs fournisseurs, et m'évite ainsi de devoir jongler entre les appels.</p>
                <p class="testimonial-name">Jean - Chef</p>
            </div>
            <div class="col-md-4">
                <p class="testimonial">
                    <i class="fas fa-quote-left"></i>
                    Foodomarket me permet de gagner 30 minutes par jour pour la gestion de mes achats. Et je ne parle pas des économies !</p>
                <p class="testimonial-name">John - Gérant</p>
            </div>
        </div>

        <div class="mt-5  our-clients">
            <div class="d-flex justify-content-center">
                <h2 class="text-center ">
                    Plus de 1000 établissements nous font confiance !
                </h2>
            </div>
            <div class="row justify-content-center">
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/cafe.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/caee.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/bistrot.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/Whollywood_Logo-1-o6slm47im5ag61ftxqocvix2o7pddc3ueqrhxgf22s.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/Image5.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/logo-home-gg.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/logo-indiway.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/Image4.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/logoSS.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/logo.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/2a12fa41aa62e032de79ee1fca779247.png') }}"/>
                </div>
                <div class="center aligned column">
                    <img src="{{ asset('statics/img/partners/26166988_1542126685823655_2721020548790340737_n.png') }}"/>
                </div>
            </div>
        </div>
    </div>
</section>