<section id="home-contact">
    <div class="container">
        <h1 class="text-center mb-5">
            Contact
        </h1>
        <p class="text-center">Une question ? N'hésitez pas à nous contacter !</p>
        <div class="row justify-content-center">
            <div class="col-md-3 d-flex flex-column align-items-center contact-box">
                <i class="fas fa-phone"></i>
                <p><a href="tel:+330171546145">01 71 54 61 45</a></p>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center contact-box">
                <i class="fas fa-envelope"></i>
                <p><a href="mailto:hello@foodomarket.com">serviceclient@foodomarket.com</a></p>
            </div>
        </div>
    </div>
</section>