<section id="home-faq">
    <div class="container">
        <h1 class="text-center mb-5">
            Questions fréquentes
        </h1>
        <div class="row">
            <div class="col-md-6">

                <h6 class="d-flex align-items-center"><i class="fas fa-question-circle"></i> Qu'est ce que Foodomarket ?</h6>
                <p class="faq">Foodomarket est une place de marché à destination des professionnels de la restauration,
                    qui permet
                    de centraliser ses achats depuis une plateforme unique.</p>
            </div>
            <div class="col-md-6">
                <h6 class="d-flex align-items-center"><i class="fas fa-question-circle"></i>Quels produits trouve-t-on sur Foodomarket ?</h6>
                <p class="faq">Absolument tout ce dont vous pouvez avoir besoin pour cuisiner : épicerie, boucherie,
                    poissons... Plusieurs dizaines milliers de références composent notre catalogue.
                </p>
            </div>
            <div class="col-md-6">
                <h6 class="d-flex align-items-center"><i class="fas fa-question-circle"></i>Qui peut acheter sur Foodomarket ?</h6>
                <p class="faq">Foodomarket est une plateforme dédiée aux professionnels de la restauration. Seuls les pros peuvent se fournir, et une pièce justificative (copie du kbis) vous sera demandé pour valider définitivement votre inscription.
                </p>
            </div>
            <div class="col-md-6">
                <h6 class="d-flex align-items-center"><i class="fas fa-question-circle"></i>Est ce que Foodomarket me permet de faire des économies ?</h6>
                <p class="faq">Oui, en moyenne, les clients Foodomarket économisent 15% sur leurs achats.
                </p>
            </div>
            <div class="col-md-6">
                <h6 class="d-flex align-items-center"><i class="fas fa-question-circle"></i>Est ce que Foodomarket est payant ?</h6>
                <p class="faq">Non ! Il n'y a pas d'abonnement à payer pour rejoindre Foodomarket, le service est 100% gratuit pour les professionnels de la restauration.</p>
            </div>
            <div class="col-md-6">
                <h6 class="d-flex align-items-center"><i class="fas fa-question-circle"></i>Comment puis-je passer ma première commande ?</h6>
                <p class="faq">Il vous suffit de vous créer un compte. Vous recevrez immédiatement un mail avec vos
                    accès à votre interface. Ne vous reste plus qu'à sélectionner les produits que vous voulez recevoir,
                    et c'est tout !</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-primary btn-foodo btn-lg" href="#home-hero">Je découvre foodomarket gratuitement !</a>
        </div>
    </div>
</section>