<section id="home-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-7 intro-text">
                <h1>Place de marché de produits alimentaires pour professionnels de la restauration</h1>
                <p>Centralisez depuis une plateforme unique les achats de votre restaurant auprès de tous vos
                    fournisseurs, en profitant de prix jusqu'à -15% inférieurs !</p>
                <ul>
                    <li><i class="fas fa-shopping-cart"></i> Centraliser vos commandes auprès de vos différents
                        fournisseurs depuis 1 seule et même plateforme
                    </li>
                    <li><i class="fas fa-shipping-fast"></i> Gagner du temps grâce à une plateforme simple d'utilisation
                        qui vous permet de gagner entre 3 et 4h par semaine dans la gestion de vos fournisseurs
                    </li>
                    <li><i class="fas fa-euro-sign"></i> Acheter moins cher grâce à nos accords avec les distributeurs,
                        qui vous permettent d'économiser jusqu'à 15% sur vos achats de matières premières
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <!-- Card -->
                <div class="card" id="register">
                    <!-- Card content -->
                    <div class="card-body">
                        <h4 class="card-title">Créez gratuitement votre compte, et profitez des meilleurs produits
                            immédiatement !</h4>
                        <form method="post" action="">
                            <input type="hidden" name="submit" value="1">
                            <h5>A propos de vous</h5>
                            <div class="md-form md-outline form-lg">
                                <input id="full_name" class="form-control form-control-lg" type="text" name="full_name"
                                      {% if values is defined %} value="{{ values['full_name'] }}" {% endif %}
                                       required>
                                <label for="full_name">Votre nom</label>
                            </div>
                            <div class="md-form md-outline form-lg">
                                <input id="email"
                                       class="form-control form-control-lg {% if errors["[email]"] is defined %}is-invalid{% endif %}"
                                       type="email" name="email" {% if values is defined %}value="{{ values['email'] }}"{% endif %} required>
                                <label for="email">Votre email</label>
                                {% if errors["[email]"] is defined %}
                                    <div class="invalid-feedback">
                                        {{ errors["[email]"] }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="md-form md-outline form-lg">
                                <input id="mobile"
                                       class="form-control form-control-lg {% if errors["[mobile]"] is defined %}is-invalid{% endif %}"
                                       type="text" name="mobile" {% if values is defined %}value="{{ values['mobile'] }}"{% endif %}
                                       required>
                                <label for="mobile">Votre numéro de téléphone portable</label>
                                {% if errors["[mobile]"] is defined %}
                                    <div class="invalid-feedback">
                                        {{ errors["[mobile]"] }}
                                    </div>
                                {% endif %}
                            </div>
                            <h5>A propos de votre restaurant</h5>
                            <div class="md-form md-outline form-lg">
                                <input id="restaurant_name" class="form-control form-control-lg" type="text"
                                       {% if values is defined %}value="{{ values['restaurant_name'] }}"{% endif %}
                                       name="restaurant_name" required>
                                <label for="restaurant_name">Nom de votre restaurant</label>
                            </div>
                            <div class="md-form md-outline form-lg">
                                <input id="autocomplete" name="full_address"
                                       class="form-control form-control-lg {% if errors["[city]"] is defined or
                                           errors["[zip]"] is defined or
                                           errors["[street]"] is defined %}is-invalid
                            {% endif %}" placeholder="Adresse de votre restaurant" type="text"
                                       {% if values is defined %}value="{{ values['full_address'] }}"{% endif %} required>
                                <label for="autocomplete">Adresse de votre restaurant</label>
                                {% if errors["[city]"] is defined or
                                    errors["[zip]"] is defined or
                                    errors["[street]"] is defined %}
                                    <div class="invalid-feedback">
                                        L'adresse est invalide
                                    </div>
                                {% endif %}
                            </div>
                            <input type="hidden" id="street_number" name="number" {% if values is defined %}value="{{ values['number'] }}"{% endif %}>
                            <input type="hidden" id="route" name="street" {% if values is defined %}value="{{ values['street'] }}"{% endif %}>
                            <input type="hidden" id="locality" name="city" {% if values is defined %}value="{{ values['city'] }}"{% endif %}>
                            <input type="hidden" id="postal_code" name="zip" {% if values is defined %}value="{{ values['zip'] }}"{% endif %}>
                            <input type="hidden" id="country" name="country" {% if values is defined %}value="{{ values['country'] }}"{% endif %}>
                            <button class="btn btn-primary btn-foodo continue-registration" type="submit">Je découvre
                                foodomarket
                            </button>
                            <a class="link-foodo ml-4 sign-in-link" href="https://www.foodomarket.com/shop/connexion">Déjà client ?
                                Connectez-vous</a>
                        </form>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
    <div class="arrow-up"></div>
</section>