<section id="home-how-it-works">
    <div class="container">
        <h1 class="text-center mb-5">
            Comment fonctionne Foodomarket ?
        </h1>
        <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-center ">
                <img src="{{ asset('statics/img/illustrations/note.png') }}" class="hiw-illustration"
                     alt="Créer son compte"/>
                <h4>Créez votre compte</h4>
                <p class="text-center mt-3">
                    Créez-vous un compte en 3 clics. Nous vous donnons immédiatement accès à notre plateforme pour
                    consulter les produits de nos distributeurs
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="{{ asset('statics/img/illustrations/add-to-cart.png') }}" class="hiw-illustration"
                     alt="Faire son compte"/>
                <h4>Faîtes votre marché</h4>
                <p class="text-center mt-3">Naviguez sur notre plateforme simple d'utilisation, et choisissez les produits que vous souhaitez
                    recevoir</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="{{ asset('statics/img/illustrations/delivery-truck.png') }}" class="hiw-illustration"
                     alt="Faire son compte"/>
                <h4>Nous vous livrons !</h4>
                <p class="text-center mt-3">Sélectionnez le créneau sur lequel vous souhaitez être livrés, vous recevrez vos produits à l'heure et
                    au jour choisi. Vous avez fini votre marché du jour en moins de 15 minutes !</p>
            </div>
        </div>
    </div>
</section>