{% extends '@App/MiddleOffice/Welcome/base.html.twig' %}

{% block title %}Foodomarket - Marketplace food{% endblock %}

{% block body %}
    <main>
        {% if registrationCompleted %}
            {{ include('@App/MiddleOffice/Welcome/home/redirect.html.twig') }}
        {% else %}
            {{ include('@App/MiddleOffice/Welcome/home/hero.hmtl.twig') }}
            {{ include('@App/MiddleOffice/Welcome/home/how_it_works.html.twig') }}
            {{ include('@App/MiddleOffice/Welcome/home/client_testimonials.html.twig') }}
            {{ include('@App/MiddleOffice/Welcome/home/faq.html.twig') }}
            {{ include('@App/MiddleOffice/Welcome/home/contact.html.twig') }}
        {% endif %}
    </main>
    {% if openModal %}
        {{ include('@App/MiddleOffice/Welcome/home/redirect_modal.html.twig') }}
    {% endif %}
{% endblock %}