<div class="modal fade" id="redirect-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body align-items-center">
                <div class="text-center">
                        <img alt="Foodomarket Marketplace food" src="{{ asset('statics/img/foodomarket-new-color.png') }}"/>
                </div>
                <p class="text-center mt-4 ">
                    Le marché en ligne alimentaire
                </p>
                <p class="text-center mt-3">Vous êtes ?</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-foodo" data-dismiss="modal" onclick="isProfessional();">Professionnel</button>
                <a class="btn btn-secondary btn-foodo" href="https://foodomarket.club">Particulier</a>
            </div>
        </div>
    </div>
</div>