<div class="container">
    <div class="row" id="redirect-block">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Merci !</h4>
                <p>Nous avons bien reçu votre demande d'inscription. Vous allez être redirigé vers notre shop dans
                    quelques secondes.</p>
                <hr>
                <p class="mb-0">Si rien ne se passe, <a
                            href="{{ path('app_front_subscription_page', {source: 'welcome'}) }}">cliquez ici</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    // fbq('track', 'CompleteRegistration', {'currency': 'EUR', 'value': 'professional'});
    fbq('track', 'Lead');
    amplitude.getInstance().logEvent('registration complete');
    setTimeout(() => {
        window.location.replace("{{ path('app_front_subscription_page', {source: 'welcome'}) }}");
    }, 3000)
</script>