{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui dividing header">Sélectionner le type de cache </div>
                <div class="ui"><a href="{{ path('app_admin_cache_prefix_index', {prefix: 'CACHE_KEY_PREFIX'}) }}">Le cache complet FoodoMarket</a></div>
                <div class="ui"><a href="{{ path('app_admin_cache_prefix_index', {prefix: 'CACHE_KEY_PREFIX_SHOP'}) }}">Le cache Shop</a></div>
                <div class="ui"><a href="{{ path('app_admin_cache_prefix_index', {prefix: 'CACHE_KEY_PREFIX_FRONT'}) }}">Le cache Front</a></div>
                <div class="ui"><a href="{{ path('app_admin_cache_prefix_index', {prefix: 'CACHE_KEY_PREFIX_ONBOARDING'}) }}">Le cache Onboarding</a></div>
                <div class="ui"><a href="{{ path('app_admin_cache_prefix_index', {prefix: 'CACHE_KEY_PREFIX_PRODUCT_STATISTICS'}) }}">Le cache Statistiques produit</a></div>
                <div class="ui"><a href="{{ path('app_admin_cache_prefix_index', {prefix: 'CACHE_KEY_PREFIX_ADMIN'}) }}">Le cache Admin</a></div>
            </div>
            <div class="six wide column right aligned">
                <a class="ui button orange" href="{{ path('app_admin_cache_clear') }}"><i class="remove icon"></i>Vider le cache métier</a>
                <a class="ui button red" href="{{ path('app_admin_cache_flush') }}"><i class="remove icon"></i>Vider tout le cache</a>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                <div class="ui styled fluid accordion">
                    {% for family, keys in keys_family %}
                        <div class="title"><i class="dropdown icon"></i>{{ family }} ({{ keys|length }} éléments)</div>
                        <div class="content">
                            <table class="ui table">
                                <thead>
                                <tr>
                                    <th>Clé de cache</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key in keys %}
                                    <tr>
                                        <td><a href="{{ path('app_admin_cache_key_show', {key: key}) }}">{{ key }}</a></td>
                                        <td>
                                            <a class="ui button red" href="{{ path('app_admin_cache_key_clear', {key: key}) }}"><i class="remove icon"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}