{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="ui grid stackable">
        <div class="row stackable">
            <div class="ten wide column">
                <div class="ui dividing header">Données correspondant à la clé de cache &laquo;{{ key }}&raquo;</div>
            </div>
            <div class="six wide column right aligned">
                <div class="ui buttons">
                    <a class="ui positive button" href="{{ path('app_admin_cache_index') }}"><i class="icon reply"></i>Retour à la liste</a>
                    <div class="or"></div>
                    <a class="ui red button" href="{{ path('app_admin_cache_key_clear', {key: key}) }}">
                        <i class="remove icon"></i>Supprimer
                    </a>
                </div>
            </div>
        </div>

        <div class="ui one column row">
            <div class="column">
                {{ dump(data) }}
            </div>
        </div>
    </div>
{% endblock %}

