{% form_theme form 'AppBundle:FrontOffice/Form:theme.html.twig' %}
{% form_theme form.reachedByPhone 'SyliusUiBundle:Form:theme.html.twig' %}
{% form_theme form.staffComment 'SyliusUiBundle:Form:theme.html.twig' %}
{% form_theme form.categoriesFull 'SyliusUiBundle:Form:theme.html.twig'  %}

{% set isEdit = form.vars.value.id != null %}
{% set categories = [
    {
        category: 'FRUITS_LEGUMES',
        title: 'showcase.savings.form.full.fields.fruits_vegetables'|trans,
        image: asset('bundles/app/FrontOffice/img/cat_fruits_legumes.jpg')
    },
    {
        category: 'CREMERIE',
        title: 'showcase.savings.form.full.fields.creamery'|trans,
        image: asset('bundles/app/FrontOffice/img/cat_fromage.jpg')
    },
    {
        category: 'MAREE',
        title: 'showcase.savings.form.full.fields.seafood'|trans,
        image: asset('bundles/app/FrontOffice/img/cat_maree.jpg')
    },
    {
        category: 'BOUCHERIE',
        title: 'showcase.savings.form.full.fields.butchery'|trans,
        image: asset('bundles/app/FrontOffice/img/cat_boucherie.jpg')
    },
] %}

{{ form_errors(form) }}
<div class="ui grid">
    <div class="row">
        <div class="six wide column right aligned">
            {{ form_row(form.reachedByPhone) }}
        </div>
        <div class="ten wide column left aligned">
            {{ form_row(form.staffComment) }}
        </div>
    </div>

    <div class="ui divider"></div>

    {{ form_row(form.profile) }}
    {{ form_row(form.restaurantName) }}
    {{ form_row(form.address) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.deliveryHours) }}
    {{ form_row(form.deliveryHoursComment) }}
    {{ form_row(form.managerName) }}
    {{ form_row(form.managerFirstName) }}
    {{ form_row(form.companyName) }}
    {{ form_row(form.siren) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.utm_email) }}
    {{ form_row(form.turnover) }}
    <div class="row">
        <div class="six wide tablet computer only column right aligned middle aligned">
            {{ form_label(form.categories) }}
        </div>
        <div class="six wide mobile only column left aligned middle aligned">
            {{ form_label(form.categories) }}
        </div>
    </div>

    <div class="row">
        <div class="sixteen wide column center aligned">
            <div class="inline field">
                {% for c in form.categories.children %}
                    <div class="ui checkbox">
                        {{ form_widget(c) }} {{ form_label(c) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="sixteen wide column center aligned">
            <div class="ui four cards stackable centered">
                {% for category in categories %}
                    {% for widget in form.categoriesFull %}
                        {% if widget.category.vars.value == category.category %}
                            <div class="card product-category" data-category="{{ widget.category.vars.value }}">
                                <div class="image" style="height: 115px; overflow: hidden">
                                    <img class="ui image" src="{{ category.image }}" alt="{{ category.title }}" height="115"/>
                                </div>
                                <div class="content">
                                    <div class="header">
                                        {{ category.title }}
                                    </div>
                                    <div class="description dimmable" style="text-align: left;">
                                        <div class="ui inverted dimmer">
                                            <button class="ui button primary foodo-blue fluid add-category">
                                                <i class="plus icon"></i> Ajouter
                                            </button>
                                        </div>

                                        {{ form_widget(widget) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>