{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %}{{ 'sylius.ui.contact_request'|trans }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="ten wide column">
            <h1 class="ui header">
                <i class="circular user icon"></i>
                <div class="content">
                    {{ resource.managerFirstName }} {{ resource.managerName }} (Restaurant: {{ resource.restaurantName }})
                    <div class="sub header">
                        <div class="ui horizontal divided list">
                            <div class="item">
                                {{ resource.email }}
                            </div>
                        </div>
                    </div>
                </div>
            </h1>
        </div>

        {% if resource.prospect is not null %}
            <div class="six wide column right aligned">
                <div class="ui buttons">
                    <a class="ui orange button" target="_blank" href="{{ path('app_admin_admin_prospect_update', {id: resource.prospect.id}) }}">Modifier le prospect</a>
                    <a class="ui primary button" target="_blank" href="{{ path('app_admin_admin_prospect_show', {id: resource.prospect.id}) }}">Voir le prospect</a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="ui divider"></div>

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui two cards">
                <div class="olive card">
                    <div class="content">
                        <div class="header">
                            Restaurant
                        </div>
                    </div>

                    <div class="content">
                        <strong>{{ resource.restaurantName }}</strong><br/>
                        <strong>Adresse:</strong> {{ resource.address }} {{ resource.zipCode }} {{ resource.city }}<br/>
                        <strong>Horaires de livraison:</strong> {{ resource.deliveryHours }}<br/>
                        <strong>Commentaire livraison:</strong> {{ resource.deliveryHoursComment }}<br/>
                        <strong>Type:</strong> {% if resource.profile is not null %}{{ resource.profile.type }}{% else %}N/A{% endif %}<br/><br/>
                    </div>
                </div>

                <div class="teal card">
                    <div class="content">
                        <div class="header">
                            Gérant / Société
                        </div>
                    </div>
                    <div class="content">
                        <strong>Nom du gérant:</strong> {{ resource.managerFirstName }} {{ resource.managerName }}<br/>
                        <strong>Société:</strong> {{ resource.companyName }}<br/>
                        <strong>SIREN:</strong> {{ resource.siren }}<br/>
                        <strong>Tél:</strong> {{ resource.telephone }}<br/>
                        <strong>Email:</strong> {{ resource.email }}<br/>
                        <strong>CA:</strong> {% if resource.turnover is not null %}{{ resource.turnover }}€{% else %}N/A{% endif %}
                    </div>
                </div>
            </div>

            <div class="ui orange fluid card">
                <div class="content">
                    <div class="header">
                        Catégories / Produits
                    </div>
                </div>

                <div class="content">
                    <table class="ui celled structured table">
                        <thead>
                        <tr>
                            <th>Catégorie</th>
                            <th>Volume d'achat</th>
                            <th>Fournisseurs actuels</th>
                            <th>Top Produits</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in resource.categoriesFull %}
                            <tr>
                                {% set nbProducts = category.products|length %}
                                {% set rowSpan = max(nbProducts, 1) %}

                                <td rowspan="{{ rowSpan }}">{{ category.category }}</td>
                                <td rowspan="{{ rowSpan }}">{{ category.purchaseVolume / 100 }}€</td>
                                <td rowspan="{{ rowSpan }}">
                                    {% for supplier in category.suppliers %}
                                        {{ supplier.name }} ({{ supplier.id }}){% if not loop.last or category.otherSuppliers is not empty %}, {% endif %}
                                    {% endfor %}
                                    {% if category.otherSuppliers is not empty %}
                                        {{ category.otherSuppliers }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if nbProducts > 0 %}
                                        {% set product = category.products|first %}
                                        {{ product.name }} ({{ product.id }})
                                    {% endif %}
                                </td>
                            </tr>
                            {% for product in category.products %}
                                {% if not loop.first %}
                                    <tr>
                                        <td>
                                            {{ product.name }} ({{ product.id }})
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}