{% extends 'SyliusAdminBundle:Crud:update.html.twig' %}

{% block content %}
    {{ sonata_block_render_event(event_prefix ~ '.before_header', {'resource': resource}) }}

    {% include '@SyliusAdmin/Crud/Update/_header.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_header', {'resource': resource}) }}

    <div class="ui segment">
        {% if resource.email is not null %}
            {{ render(controller('AppBundle:AdvancedUser:transactionsFromEmail', {email: resource.email})) }}
        {% else %}
            Pas de transactions
        {% endif %}
    </div>

    {% include '@SyliusAdmin/Crud/Update/_content.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_content', {'resource': resource}) }}
{% endblock %}