{% extends 'AppBundle:Admin/SupplierAccountLog:layout.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .grid, .row {
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="fifteen wide mobile twelve wide tablet eight wide computer column centered middle aligned">
                <div class="ui icon positive massive message">
                    <i class="smile outline icon"></i>
                    <div class="content">
                        <div class="header">
                            Merci
                        </div>
                        <p>
                            Merci pour ces précisions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}