{% extends 'AppBundle:Admin/SupplierAccountLog:layout.html.twig' %}

{% block head_javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/checkbox.js" integrity="sha256-69uyDKAQkLxb7mSxT0Xi+bjNhpnb1YoTYaDz+ASZDcc=" crossorigin="anonymous"></script>

    {% javascripts '@form_validator' output='js/compiled/fp_js_formvalidator.js' combine=true filter='uglifyjs' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ js_validator_config() }}
    {{ init_js_validation(form, true, true) }}
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .grid, .row {
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="fifteen wide mobile twelve wide tablet eight wide computer column centered middle aligned">
                {{ form_start(form, {attr: {class: 'ui form', novalidate: 'novalidate'}}) }}
                    {{ form_row(form.clientCodes) }}
                    {{ form_row(form.status) }}
                    {{ form_widget(form._token) }}

                    <button type="submit" class="ui primary button">Enregistrer</button>
                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.ui.checkbox').checkbox();
        });
    </script>
{% endblock %}