<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FoodoMarket - Compte client</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" integrity="sha256-ncjDAd2/rm/vaNTqp7Kk96MfSeHACtbiDU9NWKqNuCI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('bundles/app/FrontOffice/css/transition.min.css') }}">

    <style type="text/css">
        body {
            background-color: #C0C0C0;
        }
        #content {
            height: 100vh;
        }
    </style>

    {% block stylesheets %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block head_javascripts %}{% endblock %}
</head>
<body>

<div id="content" class="ui container">
    {% block content %}
    {% endblock %}
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>