<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>title</title>
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
        </script>
    </head>
    <body>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" id="submit">Login</button>
        {{ form_end(form) }}

        <span style="color: red" id="error"></span>

        <div id="targets" style="margin-top: 16px; display: none">
            <a id="rest">REST</a> |<a id="graphql">GRAPHQL</a>
        </div>

        <script type="text/javascript">
            function showLinks() {
                const token = sessionStorage.getItem('token');

                if (token) {
                    $('#rest').attr('href', '{{ path('api_entrypoint') }}');
                    $('#graphql').attr('href', '{{ path('api_graphql_entrypoint') }}');
                    $('#targets').css('display', 'block');

                    document.cookie = 'BEARER='+token+'; path=/';
                } else {
                    $('#targets').css('display', 'none');
                }
            }

            $(document).ready(function() {
                showLinks();

                $('#submit').click(function(e) {
                    e.preventDefault();

                    $('#error').text('');

                    const $form = $(this).closest('form');
                    const url = $form.attr('action');

                    $.post(url, $form.serialize(), function(response) {
                        console.log(response);

                        if (response.hasOwnProperty('message')) {
                            $('#error').text(response['message']);
                        } else {
                            sessionStorage.setItem('token', response['token']);
                            sessionStorage.setItem('refresh_token ', response['refresh_token']);
                        }

                        showLinks();
                    });
                });
            });
        </script>
    </body>
</html>
