{% if order.shippingAddress is not null %}
    <h4 class="ui top attached styled header">
        {{ 'sylius.ui.shipping_address'|trans }}
    </h4>
    <div class="ui attached segment" id="shipping-address">
        {% include '@SyliusAdmin/Common/_address.html.twig' with {'address': order.shippingAddress} %}
    </div>

    {% if order.getShoppingCart() is not null %}
        {% if order.getShoppingCart().scheduledDate is not null %}
            <div class="ui attached segment">
                <h4> Date de livraison : </h4>
                {{ order.getShoppingCart().scheduledDate|date("d/m/Y") }}
            </div>

        {% endif %}

    {% endif %}

{% endif %}
{% if order.billingAddress is not null %}
    <h4 class="ui attached styled header{% if order.shippingAddress is null %} top{% endif %}">
        {{ 'sylius.ui.billing_address'|trans }}
    </h4>
    <div class="ui attached segment" id="billing-address">
        {% include '@SyliusAdmin/Common/_address.html.twig' with {'address': order.billingAddress} %}
    </div>
{% endif %}
<div class="ui attached segment" id="edit-addresses">
    <a href="{{ path('sylius_admin_order_update', {'id': order.id}) }}" class="ui icon labeled tiny fluid button">
        <i class="pencil icon"></i> {{ 'sylius.ui.edit_addresses'|trans }}
    </a>
</div>
