{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}
{% import '@SyliusUi/Macro/labels.html.twig' as label %}

<div class="item">
    <div class="right floated content">
        {% include '@SyliusAdmin/Common/Label/paymentState.html.twig' with {'data': payment.lyraPaymentStatus} %}
    </div>
    <i class="large payment icon"></i>
    <div class="content">
        <div class="header">
            Carte bancaire
        </div>
        <div class="description">

            {% if payment.lyraOrderData.initial_amount is defined and payment.lyraOrderData.initial_amount is not null %}
                {{ money.format(payment.lyraOrderData.initial_amount, payment.order.currencyCode) }}
            {% elseif payment.lyraOrderData.items[0].amount is defined %}
                {{ money.format(payment.lyraOrderData.items[0].amount, payment.order.currencyCode) }}
            {% else %}
                {{ money.format(order.itemsTotal * 1.055 + payment.order.adjustmentsTotal, payment.order.currencyCode) }}
            {% endif %}
        </div>
    </div>
</div>
