<div class="ui segment" id="payment-state">
    {% include '@SyliusAdmin/Order/Label/PaymentState/' ~ order.paymentState ~ '.html.twig' with { 'value': 'sylius.ui.' ~ order.paymentState, 'attached': true } %}

    {% if order.lyraPayments|length > 0 %}
        {% set lyraId = order.lyraPayments.first.lyraId %}
        <h3 class="ui dividing header">Paiements Lyra</h3>
        <h5><a target="_blank" href="https://foodolyra.herokuapp.com/form?order_uuid={{ lyraId }}">{{ lyraId }}</a></h5>
        <div class="ui relaxed divided list" id="sylius-lyra-payments">
            {% for payment in order.lyraPayments %}
                {% include '@SyliusAdmin/Order/Show/_lyra_payment.html.twig' %}
            {% endfor %}
        </div>
    {% endif %}

    {% if order.hasPayments %}
        <h3 class="ui dividing header">{{ 'sylius.ui.payments'|trans }}</h3>
        <div class="ui relaxed divided list" id="sylius-payments">
            {% for payment in order.payments %}
                {% include '@SyliusAdmin/Order/Show/_payment.html.twig' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
