<table class="ui celled compact small table fixed order-summary-table">
    <thead>
    <tr>
        <th class="five wide sylius-table-column-item">{{ 'sylius.ui.order_item_product'|trans }}</th>
        <th class="center aligned sylius-table-column-unit_price">{{ 'sylius.ui.unit_price'|trans }}</th>
{#        <th class="center aligned sylius-table-column-unit_discount">{{ 'sylius.ui.unit_discount'|trans }}</th>#}
{#        <th class="center aligned sylius-table-column-unit_order_discount">{{ 'sylius.ui.distributed_order_discount'|trans }}</th>#}
{#        <th class="center aligned sylius-table-column-discounted_unit_price">{{ 'sylius.ui.discounted_unit_price'|trans }}</th>#}
        <th class="center aligned sylius-table-column-quantity">{{ 'sylius.ui.quantity'|trans }}</th>
        <th class="center aligned sylius-table-column-subtotal">{{ 'sylius.ui.subtotal'|trans }}</th>
{#        <th class="center aligned sylius-table-column-tax">{{ 'sylius.ui.tax'|trans }}</th>#}
        <th class="center aligned sylius-table-column-total">{{ 'sylius.ui.total'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.items %}
        {% include '@SyliusAdmin/Order/Show/Summary/_item.html.twig' %}
    {% endfor %}
    </tbody>
    <tfoot>
    {% include '@SyliusAdmin/Order/Show/Summary/_totals.html.twig' %}
    </tfoot>
</table>
