.product-trend.ui.card>.content .header:not(.ui), .product-trend.ui.cards>.card>.content .header:not(.ui) {
    font-weight: 700 !important;
    font-size: 1.28571429em !important;
    margin-top: -.21425em !important;
    line-height: 1.28571429em !important;
}