.dropdown.icon.up {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
.product-prices table td {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.product-prices .column {
    padding: 0 !important;
}
.product-prices.padded.ui.cards .ui.card {
    width: calc(33.33333333%) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.recent-supplier-info {
    color: #000000;
    line-height: 1.7rem;
}
.recent-supplier-info .recent-supplier-name {
    font-size: 1.2rem;
}
.recent-supplier-info .recent-supplier-price {
    font-size: 1.5rem;
}
.product-spend-monthly {
    line-height: 1.7rem;
    font-size: 0.8rem;
}
.product-spend-monthly .product-spend-percentage, .product-spend-monthly .product-spend-amount {
    font-size: 1.2rem;
}
.product-prices .has-border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding-left: 5px !important;
}
.product-prices {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}