.ui.menu {
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.ui.menu .item {
    color: #ffffff;
}
.ui.menu a.item:hover, .ui.menu a.item.active, .ui.menu a.item.active:hover {
    background: rgba(255, 255, 255, .4);
    color: #ffffff;
    font-weight: bold;
}
.ui.menu > a.header {
    font-size: 2rem;
}
.ui.menu.mobile.only .item {
    padding: 15px !important;
}
#menu_mobile {
    margin-top: 0 !important;
}
#menu_mobile a.header {
    font-size: 1.3rem;
}
body.pushable {
    background-color: transparent !important;
}
body.pushable .pusher {
    /*background: url(../img/middle-office-bg.jpeg) no-repeat center center fixed;*/
    background-color: transparent !important;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}
.vitalis-search-head input {
    background: rgba(255, 255, 255, .1) !important;
    border-radius: 0 !important;
}
.vitalis-search-head .search.icon {
    color: #ffffff;
}
.ui.container > h1, .ui.container > h2 {
    /*color: #ffffff;*/
    color: #4a4a4a;
    text-align: center;
}
.ui.table tr td {
    border-top: 0 !important;
}
.ui.table thead tr > th {
    box-shadow: none !important;
}
.ui.table thead th {
    border-radius: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
.ui.table tbody tr td:nth-child(2) {
    border-left: none !important;
}
.ui.table tbody tr td.left.aligned {
    background-color: transparent !important;
}
.ui.table td, .ui.table th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.ui.card {
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
}
.ui.card .extra.content {
    padding: 20px !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 0 !important;
}
.ui.card .extra.content a {
    color: #ffffff !important;
}
.suppliers-prices .perf-index {
    text-align: center !important;
}
.suppliers-prices .orders {
    color: rgba(0,0,0,.4);
}
.suppliers-prices .orders .evolution {
    font-size: 0.8rem;
}
.suppliers-prices td.danger {
    color: red !important;
}
.suppliers-prices td.warning {
    color: darkorange !important;
}
#footer {
    color: #ffffff;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: 20px;
}
#footer p {
    font-size: 1.1rem;
    margin: 0;
}
#footer a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
}
.card .ui.divider {
    margin: 0.4rem;
}
.filter-row {
    margin-top: 14px;
}
.filterable-row .ui.label {
    padding: 5px;
    font-size: 0.7rem;
}
.ui.table tr.filterable-row td {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}