.vakata-context, .vakata-context ul {
    z-index: 10;
}

.ui.grid.page-check {
    /*100% viewport height - top nav menu height - content padding top and bottom*/
    height: calc(100vh - 2.85714286em);
    /* TODO: comment the line below */
    margin-top: -2rem;
}

#catalog-edit-container {
    height: 100%;
    padding-left: 5px;
}

.variant-infos {
    font-style: italic;
    font-size: 11px;
}

.variant-infos .variant-option {
    font-weight: bold;
}

.variant-infos .variant-option-value {
    color: royalblue;
}

#variant-options-container .field {
    margin-bottom: 8px;
}

#variant-options-container .field label {
    width: 50%;
    display: inline-block;
}

#variant-options-container .field label.required {
    color: red;
}

#variant-options-container .field label.required::after {
    content: '*';
    color: red;
}

#variant-options-container .field select {
    width: 50%;
}

#variant-edit-form-container button i {
    margin: 0;
}

.product-disabled > a, .variant-disabled > a {
    background-color: #c6c6c6 !important;
    color : #555555 !important;
}

.variant-duplicated > a {
    background-color: orange !important;
}

#variant-options-container label:hover {
    text-decoration: underline !important;
    text-decoration-color: #0a6aa1 !important;
}