{% extends '@SyliusAdmin/Form/theme.html.twig' %}

{% block sylius_taxon_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('app_admin_product_import_search_taxon'), 'load_edit_url': path('app_admin_product_import_get_taxon')}) }}
{% endblock %}

{% block sylius_product_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('app_admin_product_import_search_product', {taxonId: 0}), 'load_edit_url': path('app_admin_product_import_get_product')}) }}
{% endblock %}

{% block app_product_variant_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('app_admin_product_import_search_product_variant', {productId: 0}), 'load_edit_url': path('app_admin_product_import_get_product_variant')}) }}
{% endblock %}

{% block app_product_option_value_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('app_admin_product_import_search_product_option_value', {optionCode: option_code}), 'load_edit_url': path('app_admin_product_import_get_product_option_value', {optionCode: option_code})}) }}
{% endblock %}