{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

<div class="sixteen wide column">
    <div class="ui dividing header">
        Participants
    </div>
    <div class="ui five cards">
        <div class="card">
            <div class="content">
                <div class="header"><b>{{ resource.from|length }}</b> Expéditeur(s)</div>
            </div>
            <div class="content">
                {% include 'AppBundle:Admin/Grid/Field:recipients.html.twig' with {data: resource.from} only %}
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header"><b>{{ resource.to|length }}</b> Destinataire(s)</div>
            </div>
            <div class="content">
                {% include 'AppBundle:Admin/Grid/Field:recipients.html.twig' with {data: resource.to} only %}
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header"><b>{{ resource.cc|length }}</b> Copie(s)</div>
            </div>
            <div class="content">
                {% include 'AppBundle:Admin/Grid/Field:recipients.html.twig' with {data: resource.cc} only %}
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header"><b>{{ resource.bcc|length }}</b> Copie(s) cachée(s)</div>
            </div>
            <div class="content">
                {% include 'AppBundle:Admin/Grid/Field:recipients.html.twig' with {data: resource.bcc} only %}
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header"><b>{{ resource.replyTo|length }}</b> Adresse(s) de réponse</div>
            </div>
            <div class="content">
                {% include 'AppBundle:Admin/Grid/Field:recipients.html.twig' with {data: resource.replyTo} only %}
            </div>
        </div>
    </div>
</div>

<div class="eight wide column">
    <div class="ui dividing header">
        Corps
    </div>
    {% if resource.templateId is not null %}
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Template n°{{ resource.templateId }}</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Sujet</h4>
                {% if resource.subject is not null %}
                    {{ resource.subject|raw }}
                {% else %}
                    {{ render(controller('AppBundle\\Admin\\Controller\\MailerController::subjectAction', {provider: resource.mailManagerName, templateId: resource.templateId})) }}
                {% endif %}
            </div>
            <div class="content">
                <h4 class="ui sub header">Contenu</h4>
                {{ render(controller('AppBundle\\Admin\\Controller\\MailerController::bodyAction', {provider: resource.mailManagerName, templateId: resource.templateId})) }}
            </div>
            <div class="content">
                <h4 class="ui sub header">Variables</h4>
                {{ resource.variables|serialize }}
            </div>
            {% if resource.attachments is not empty %}
                <div class="content">
                    <h4 class="ui sub header">{{ resource.attachments|length }} pièce(s) jointe(s)</h4>
                    <div class="ui horizontal list">
                        {% for name, attachment in resource.attachments %}
                            <div class="item">
                                <button class="ui button email-attachment" data-filename="{{ name }}" data-attachment="{{ attachment }}">{{ name }}</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Email classique</div>
            </div>
            {% if resource.subject is not null %}
                <div class="content">
                    <h4 class="ui sub header">Sujet</h4>
                    {{ resource.subject|raw }}
                </div>
            {% endif %}
            {% if resource.htmlBody is not null %}
                <div class="content">
                    <h4 class="ui sub header">Contenu HTML</h4>
                    {{ resource.htmlBody|raw }}
                </div>
            {% endif %}
            {% if resource.textBody is not null %}
                <div class="content">
                    <h4 class="ui sub header">Contenu texte</h4>
                    {{ resource.textBody|raw }}
                </div>
            {% endif %}

            {% if resource.attachments is not empty %}
                <div class="content">
                    <h4 class="ui sub header">{{ resource.attachments|length }} pièce(s) jointe(s)</h4>
                    <div class="ui horizontal list">
                        {% for name, attachment in resource.attachments %}
                            <div class="item">
                                <button class="ui button email-attachment" data-filename="{{ name }}" data-attachment="{{ attachment }}">{{ name }}</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>

<div class="eight wide column">
    <div class="ui dividing header">
        Réponse API
    </div>
    <div class="">
        {{ resource.apiResponse|serialize }}
    </div>
</div>