<div class="ten wide column">
    <h1 class="ui header">
        <div class="content">
            {% if resource.templateId is not null %}
                {{ resource.mailManagerName|capitalize }} - Template n° {{ resource.templateId }}
            {% else %}
                {{ resource.mailManagerName|capitalize }} - Email classique
            {% endif %}
            <div class="sub header">
                <div class="ui horizontal divided list">
                    <div class="item">
                        {% if resource.status == 'SENT' %}
                            <div class="ui green horizontal label">Envoyé</div>
                        {% elseif resource.status == 'PENDING' %}
                            <div class="ui orange horizontal label">En attente</div>
                        {% elseif resource.status == 'ERROR' %}
                            <div class="ui red horizontal label">Erreur</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </h1>
</div>
<div class="six wide column right aligned">
        <a href="{{ path('app_admin_mailer_resend', {emailId: resource.id}) }}" class="ui button primary">Envoyer à nouveau</a>
</div>