<div class="ui card fluid">
    <div class="content">
        <div class="header">C'est fini !</div>
    </div>

    <div class="content">
        <div class="ui positive message">
            <div class="header">
                Beau boulot, tout est ok :)
            </div>
        </div>
    </div>
</div>