<div id="duplicate-modal" class="ui modal">
    <div class="ui header">Dupliquer le catalogue {{ supplier }}</div>
    <div class="scrolling content">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div style="text-align: center">
                <button class="ui primary button" type="submit">Dupliquer</button>
            </div>
        {{ form_end(form) }}
    </div>
    <div class="actions">
        <div class="ui cancel button">Annuler</div>
    </div>
</div>
