{% form_theme form 'AppBundle:Admin/FormTheme:ImportProduct.html.twig' %}

{{ form_start(form, {attr: {class: 'ui form'}}) }}
<div class="ui card fluid">
    <div class="content">
        {% if line.line is not empty %}
            <div class="header"><span id="default-product-name">{{ line.line }}</span></div>
        {% else %}
            <div class="header"><span id="default-product-name">{{ line.supplierName }}</span> | {{ line.taxonDeterminant }} | {{ line.reference }} | {{ line.price }}</div>
        {% endif %}
    </div>

    {% if errors is not empty %}
        <div class="content">
            <div class="ui negative message">
                <div class="header">Erreurs</div>
                <ul class="ui list">
                    {% for error in errors %}
                        <li class="item">{{ error|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="content">
        <div class="ui styled fluid accordion">
            <div class="active title">
                <i class="dropdown icon"></i>
                Taxon
            </div>
            <div class="active content">
                <div class="ui grid stackable">
                    <div class="eleven wide column">
                        {% if suggestions.taxons is not empty %}
                            <div class="ui info message suggestion taxon">
                                <div class="header">
                                    Suggestions
                                </div>
                                <ol class="ui ordered list">
                                    {% for taxon in suggestions.taxons %}
                                        <li value="{{ taxon.score }}%" data-taxonId="{{ taxon.id }}" data-taxonName="{{ taxon.name }}" title="Choisir ce taxon">
                                            <span>{{ taxon.name }}</span>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        {% endif %}
                    </div>

                    <div class="ui five wide column">
                        <div class="ui message">
                            <div class="header">Besoin de créer un taxon ?</div>
                            <p>
                                <a target="_blank" href="{{ path('app_admin_page_check_index') }}">Créer depuis le page check</a>
                            </p>
                            <p>
                                Après la création du taxon, il sera trouvable dans la recherche ci-dessous<br/>
                                <i>NB: Le lien s'ouvre dans un nouvel onglet</i>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="taxon-search">
                    {{ form_row(form.taxon) }}
                </div>
            </div>

            <div class="active title">
                <i class="dropdown icon"></i>
                Produit <i class="plus square icon" title="Créer un nouveau produit" id="reset-default-product"></i>
            </div>

            <div class="active content">
                <div id="product-search">
                    <div class="ui info message hidden">
                        <p>Un nouveau produit &laquo;<b id="product-name"></b>&raquo; sera créé dans &laquo;<b id="taxon-path"></b>&raquo;</p>
                    </div>

                    {{ form_row(form.product) }}
                    {{ form_widget(form.productName) }}
                </div>
            </div>

            <div class="active content">
                <div id="product-variant-search">
                    {{ form_row(form.productVariant) }}
                </div>
            </div>

            <div class="active title">
                <i class="dropdown icon"></i>
                Options d'affichage du contenu
            </div>

            <div class="active content" id="display-content-options">
                <div class="ui message positive">
                    <i title="Rafraîchir" class="refresh icon"></i>
                    <div class="header">Contenu explicite affiché pour la variante</div>
                    <p>{{ explicit_content }}</p>
                </div>

                <div class="ui equal width grid stackable">
                    <div class="row">
                        <div class="column">
                            {{ form_row(form.orderUnit) }}
                        </div>
                        <div class="column">
                            {{ form_row(form.conditioning) }}
                        </div>
                        <div class="column">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            {{ form_row(form.unitQuantity) }}
                        </div>

                        <div class="column">
                            {{ form_row(form.unitContentQuantity) }}
                        </div>
                        <div class="column">
                            {{ form_row(form.unitContentMeasurement) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="active title">
                <i class="dropdown icon"></i>
                Prix
            </div>

            <div class="active content" id="display-price-options">
                <div class="ui message positive">
                    <i title="Rafraîchir" class="refresh icon"></i>
                    <div class="header">Prix affiché pour la variante</div>
                    <span>Prix Fichier: {{ file_price }}€</span>
                    <p>{{ price }}</p>
                </div>

                <div class="ui equal width grid stackable">
                    <div class="column">
                        {{ form_row(form.salesUnit) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.weight) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.kgPrice) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.priceVariant) }}
                    </div>
                </div>
            </div>

            <div class="active title">
                <i class="dropdown icon"></i>
                Options d'affichage du nom de la variante
            </div>

            <div class="active content" id="display-name-options">
                <div class="ui message positive">
                    <i title="Rafraîchir" class="refresh icon"></i>
                    <div class="header">Nom affiché pour la variante</div>
                    <p>{{ variant_name }}</p>
                </div>

                <div class="ui equal width grid stackable">
                    <div class="column">
                        {{ form_row(form.caliber) }}
                        {{ form_row(form.category) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.variety) }}
                        {{ form_row(form.naming) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.bio) }}
                        {{ form_row(form.brand) }}
                    </div>
                </div>
            </div>

            <div class="active title">
                <i class="dropdown icon"></i>
                Autres options
            </div>

            <div class="active content" id="display-origin-options">
                <div class="ui equal width grid stackable">
                    <div class="column">
                        {{ form_row(form.originCountry) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.origin) }}
                    </div>
                </div>
            </div>

            <div class="title">
                <i class="dropdown icon"></i>
                Image
            </div>

            <div class="content">
                <div id="image-search">
                    {{ form_widget(form.productPicture) }}

                    <div class="ui grid">
                        <div class="row">
                            <div class="column" id="selected-image-column">
                                {% set imageSrc = form.productPicture.vars.value %}
                                {% set imagePath = imageSrc is not empty ? imageSrc|imagine_filter('front_big') : imageSrc %}

                                Image actuelle: <a href="{{ imagePath }}" target="_blank">{{ imageSrc }}</a><br/>
                                <img src="{{ imagePath }}" style="max-width: 640px"><br/>
                                <button id="remove-image" role="button" type="button" class="ui negative labeled icon button"><i class="trash icon"></i>Supprimer cette image</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="sixteen wide column">
                                <div class="ui icon input fluid">
                                    <input type="text" placeholder="Recherche google..." value="{{ form.productName.vars.value }}">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="row equal width">
                            <div class="column">
                                <button id="prev-images" class="ui button disabled" type="button" role="button">Précédent</button>
                            </div>

                            <div class="column right aligned">
                                <button id="next-images" class="ui button disabled" type="button" role="button">Suivant</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="sixteen wide column">
                                <div id="image-search-results"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="extra content">
        <div class="ui two buttons">
            <button id="save-button" class="ui primary button">Sauvegarder</button>
            <button id="import-button" class="ui positive button">Importer</button>
        </div>
    </div>
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {render_rest: false}) }}

<input type="hidden" id="lineId" value="{{ line.id }}">
<input type="hidden" id="importId" value="{{ line.import.id }}">