{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .suggestion ol li:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .suggestion ol li span {
            display:block;
            margin-left: 3em;
        }

        #prev-product, #next-product {
            cursor: pointer;
        }

        .ui.message > .refresh.icon {
            cursor: pointer;
            position: absolute;
            margin: 0;
            top: .78575em;
            right: .5em;
            opacity: .7;
            -webkit-transition: opacity .1s ease;
            transition: opacity .1s ease;
        }

        .form .field > label {
            position: relative;
        }

        .form .field label .clear-field {
            display: inline-block;
            right: 0;
            position: absolute;
            cursor: pointer;
        }

        .form .field label .icon {
            color: red;
        }

        .form .field label .icon:hover {
            text-decoration: underline;
        }

        #image-search .ui.icon.input>i.icon:not(.link) {
            pointer-events: all;
        }

        #status-table td:hover {
            cursor: pointer;
        }

        .sylius-autocomplete .pencil-icon {
            position: absolute;
            right: 2em;
            z-index: 3;
        }

        .sylius-autocomplete .pencil.icon:hover {
            color: #0ea432;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/app/admin/autocomplete-resource.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/admin/variant-utils.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/admin/import-product.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            initImportProgress({{ imported_lines }}, {{ nb_lines }});

            loadForm({{ import_id }}, {{ candidate_line_id }});

            const $statusTable = $('#status-table');
            const $headerCells = $statusTable.find('thead td');

            $headerCells.click(function() {
                $headerCells.removeClass('active');
                $(this).addClass('active');

                $statusTable.find('tbody').find('tr:first-child').nextAll('tr').remove();

                $.get($(this).data('url')).then(function(response) {
                    let $tr;

                    for (let i in response.results) {
                        if (response.results.hasOwnProperty(i)) {
                            if (i == 0) {
                                $tr = $('<tr></tr>');
                            }
                            else if (!(i % 3)) {
                                $statusTable.find('tbody').append($tr);

                                $tr = $('<tr></tr>');
                            }

                            const line = response.results[i];

                            let $td = $(`<td class="selectable" title="Editer ce produit" data-line-id="${line.id}">${line.name}</td>`);

                            $td.click(function() {
                                $statusTable.find('tbody').find('tr:first-child').nextAll('tr').remove();

                                loadForm({{ import_id }}, $(this).data('line-id'));
                            });

                            $tr.append($td);
                        }
                    }

                    if ($tr !== undefined && $tr.children().length > 0) {
                        $statusTable.find('tbody').append($tr);
                    }
                });
            });

            /**
             * Search stuffs
             */
            $('.ui.search').each(function() {
                $(this).search({
                    fields: {
                        title: 'name'
                    },
                    cache: false,
                    showNoResults: true,
                    minCharacters: 1,
                    type: 'standard',
                    onSelect: function(result) {
                        $statusTable.find('tbody').find('tr:first-child').nextAll('tr').remove();
                        loadForm({{ import_id }}, result.id);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="ui sixteen wide column">
                <div class="ui dividing header">Import de produits pour le fournisseur {{ supplier_name }}</div>
            </div>

            <div class="ui sixteen wide column">
                <div class="ui indicating progress" id="import-progress" data-value="{{ imported_lines }}" data-total="{{ nb_lines }}">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">Intégration</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ui sixteen wide column">
                <table id="status-table" class="ui three column celled table">
                    <thead>
                        <tr class="center aligned">
                            <td data-url="{{ path('app_admin_product_import_get_lines_by_status', {id: import_id, status: 1}) }}" class="selectable negative" title="Voir les produits en attente">En attente ({{ waiting_lines }})</td>
                            <td data-url="{{ path('app_admin_product_import_get_lines_by_status', {id: import_id, status: 2}) }}" class="selectable warning" title="Voir les produits connus au catalogue">Connu au catalogue ({{ known_lines }})</td>
                            <td data-url="{{ path('app_admin_product_import_get_lines_by_status', {id: import_id, status: 3}) }}" class="selectable positive" title="Voir les produits importés">Importés ({{ imported_lines }})</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="center aligned">
                            <td>
                                <div id="search-waiting" class="ui fluid search" data-url="{{ path('app_admin_product_import_get_lines_by_status', {id: import_id, status: 1}) }}?q={query}">
                                    <div class="ui fluid icon input">
                                        <input class="prompt" type="text" placeholder="Rechercher un produit en attente"/>
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </td>
                            <td>
                                <div id="search-known" class="ui fluid search" data-url="{{ path('app_admin_product_import_get_lines_by_status', {id: import_id, status: 2}) }}?q={query}">
                                    <div class="ui fluid icon input">
                                        <input class="prompt" type="text" placeholder="Rechercher un produit connu"/>
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </td>
                            <td>
                                <div id="search-imported" class="ui fluid search" data-url="{{ path('app_admin_product_import_get_lines_by_status', {id: import_id, status: 3}) }}?q={query}">
                                    <div class="ui fluid icon input">
                                        <input class="prompt" type="text" placeholder="Rechercher un produit importé"/>
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="ui one wide computer only column middle aligned">
                <i class="huge angle left icon" id="prev-product"></i>
            </div>
            <div class="ui sixteen wide mobile column fourteen wide computer column">
                <div class="ui segment">
                    <div class="ui inverted dimmer">
                        <div class="ui text loader">Chargement du prochain produit en cours...</div>
                    </div>

                    <div id="product-form-container"></div>
                </div>
            </div>
            <div class="ui one wide computer only column middle aligned">
                <i class="huge angle right icon" id="next-product"></i>
            </div>
        </div>

        <div class="row mobile only">
            <div class="ui eight wide mobile column left aligned">
                <i class="huge angle left icon" id="prev-product"></i>
            </div>

            <div class="ui eight wide mobile column right aligned">
                <i class="huge angle right icon" id="next-product"></i>
            </div>
        </div>
    </div>
{% endblock %}

