{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.duplicate-button').click(function() {
                $.get(Routing.generate('app_admin_product_import_duplicate', {supplierId: $(this).data('supplier')})).then(function(response) {
                    $('body').remove('#duplicate-modal').append(response);

                    $('#duplicate-modal').modal('show');

                    $('.ui.checkbox').checkbox();
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="ui sixteen wide column">
                <div class="ui dividing header">Import de Produits</div>
            </div>
        </div>

        <div class="row">
            <div class="ui sixteen wide column">

                <div class="ui styled fluid accordion">
                    {% for import_by_supplier in imports_by_supplier %}
                        <div class="ui title">
                            <i class="dropdown icon"></i>
                            {{ import_by_supplier.supplierName }}
                        </div>
                        <div class="content">
                            <table class="ui striped table">
                                <thead>
                                    <tr>
                                        <th>Fichier</th>
                                        <th>Date d'import</th>
                                        <th>Début validité des prix</th>
                                        <th>Produits</th>
                                        <th>Produits intégrés</th>
                                        <th>Produits connus en attente</th>
                                        <th>Produits en attente</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for import in import_by_supplier.imports %}
                                        <tr>
                                            <td>{{ import.filename }}</td>
                                            <td>{{ import.date }}</td>
                                            <td>{{ import.prices_date }}</td>
                                            <td>{{ import.nb_lines }}</td>
                                            <td>{{ import.imported_lines }}</td>
                                            <td>{{ import.known_lines }}</td>
                                            <td>{{ import.waiting_lines }}</td>
                                            <td class="middle aligned">
                                                <div class="ui buttons">
                                                    <a href="{{ path('app_admin_product_import_edit', {id: import.id}) }}" class="ui positive button"><i class="pencil icon"></i></a>
                                                    <div class="or"></div>
                                                    <a href="{{ path('app_admin_product_import_delete', {id: import.id}) }}" class="ui negative button"><i class="trash icon"></i></a>
                                                    <div class="or"></div>
                                                    <button data-supplier="{{ import_by_supplier.supplierId }}" class="ui button duplicate-button">Dupliquer</button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}