{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route, {'id': data.id})) %}

{{ buttons.default(path, action.label, null, 'mail', 'purple') }}
