html {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

:root {
    --primary-main: #33d573;
    --secondary-main: #011547;
    --secondary-dark: rgb(0, 14, 49);
    --primary-dark: #00a246;
}

body {
    padding-top: 65px;
    font-family: 'Montserrat', sans-serif;
}

section {
    overflow: hidden;
}

/*--Titles--*/
h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
/*------------*/

/*--Navbar--*/
.foodo-navbar {
    background-color: white;
}

.foodo-navbar .navbar-brand img {
    width: 200px
}

.foodo-navbar .navbar-nav .nav-link {
    color: var(--primary-main);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}

/*-------------*/

/*--Buttons--*/
.btn.btn-primary.btn-foodo {
    background-color: var(--primary-main) !important;
    color: white;
    border-radius: 4px
}

.btn.btn-primary.btn-foodo:hover {
    background-color: var(--primary-dark) !important;
}

.btn.btn-link-primary.btn-foodo {
    color: var(--primary-main) !important;
    border-radius: 4px;
    box-shadow: none;
}

.btn.btn-link-primary.btn-foodo:hover {
    background: rgba(51, 213, 115, 0.04);
}

.btn.btn-secondary.btn-foodo {
    background-color: var(--secondary-main) !important;
    border-radius: 4px
}

.btn.btn-secondary.btn-foodo:hover {
    background: var(--secondary-dark);
}

.link-foodo {
    color: var(--secondary-main) !important;
    text-decoration: underline !important;
}

.link-foodo:hover {
    color: var(--secondary-dark) !important;
}

.btn.btn-default.btn-foodo {
    color: #263238;
    background-color: white !important;
    border-radius: 4px
}

.btn.btn-default.btn-foodo:hover {
    background-color: #eceff1 !important;
}

/*-------------*/
#home-faq,
#home-how-it-works,
#home-client-testimonials,
#home-client-testimonials .container,
#home-contact,
.register-form,
footer {
    position: relative;
    z-index: 10;
}

#register-section::before,
#home-hero::before {
    content: "";
    position: fixed;
    left: 0;
    top: -55px;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(2px) opacity(0.5);
    z-index: 1;
}

/*--Home hero--*/
#home-hero {
    position: relative;
}

#home-hero::before {
    background-image: url(../img/bg/home-hero-bg.jpg);
}

#home-hero .container {
    padding-top: 100px;
    padding-bottom: 50px;
    z-index: 1000;
    position: relative;
}

#home-hero h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

#home-hero h1 strong {
    font-weight: 700;
}

#home-hero h1,
#home-hero ul li {
    color: var(--secondary-main);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0.1rem 0.3rem;
}

#home-hero ul li {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#home-hero ul li i {
    font-size: 1.5rem;
}

.intro-text p {
    color: var(--secondary-main);
    font-weight: 400;
    margin-top: 20px;
}

.intro-text > ul > li:first-child > i {
    margin-right: 14px;
}

.intro-text > ul > li:nth-child(2) > i {
    margin-right: 11px;
}

.intro-text > ul > li:last-child > i {
    margin-right: 27px;
}

#home-hero ul li strong {
    font-weight: 700;
}

#home-hero ul {
    margin-top: 40px;
    list-style: none;
}

#home-hero .card .card-body .card-title {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

#home-hero form label,
#register-section form label {
    font-size: 1rem;
    margin-top: 3px;
    margin-left: 6px;
}

#home-hero form a {
    font-size: 0.8rem;
}

#home-hero .card,
.register-form {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.8rem 1.2rem 0px;
}

#home-hero .arrow-up {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 3000px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 240px solid var(--primary-main);
    z-index: 1;
    filter: drop-shadow(2px 4px 6px black)
}

/*-------------*/

/*--Home how it works section--*/
#home-how-it-works {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

#home-how-it-works h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

#home-how-it-works .hiw-illustration {
    width: 100px;
    margin-bottom: 40px;
}

/*-------------*/

/*--Client testimonials--*/
#home-client-testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(249, 251, 255, 0.9);
}

#home-client-testimonials .arrow-right {
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 366px solid transparent;
    border-left: 3400px solid var(--primary-main);
    top: 0;
    position: absolute;
    z-index: 1;
    filter: drop-shadow(2px 4px 6px #c2c2c2);
}

.star-foodo {
    color: #ffd700;
    font-size: 1.6rem;
}

.testimonial {
    font-style: italic;
}

.testimonial i {
    font-size: 1.4rem;
    color: var(--secondary-main);
    margin-right: 10px;
}

.testimonial-name {
    font-weight: 500;
    color: var(--secondary-main);
}

.testimonial, .testimonial-name {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0.1rem 0.3rem;
}

.our-clients {
    border: 8px dotted var(--secondary-dark);
    border-radius: 4px;
    padding: 10px;
    filter: drop-shadow(2px 4px 6px #c2c2c2);
}

.our-clients h2 {
    position: relative;
    margin: 20px;
    padding: 0 34px;
}

.our-clients img {
    width: 90px;
    margin: 20px;
}

/*-------------*/

/*--FAQ--*/
#home-faq {
    padding: 50px 0;
    background-color: white;
}

#home-faq h6 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--secondary-main)
}

#home-faq p {
    margin-bottom: 40px;
}

#home-faq h6 i {
    color: var(--primary-main);
    font-size: 1.5rem;
    margin-right: 10px;
}

/*-------------*/

footer {
    background-color: var(--secondary-main);
    color: white;
    padding: 30px 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer .social-icon {
    font-size: 2rem;
    margin: 10px;
    transition: font-size 0.2s;
}

footer .social-icon:hover {
    font-size: 2.3rem;
}

.copyright {
    font-size: 0.8rem;
}

/*--------------------*/

/*--Contact section--*/
#home-contact {
    background-color: rgb(249, 251, 255);
    padding: 50px 0;
}

#home-contact i {
    color: var(--primary-main);
    font-size: 2rem;
    margin-bottom: 20px;
}

#home-contact p a {
    color: #263238;
}

#home-contact p a:hover {
    text-decoration: underline;
}

#home-contact .contact-box {
    margin: 30px;
    background-color: #eceff1;
    padding: 20px;
    border-radius: 10px;
}

#home-contact .contact-box p {
    margin: 0;
}

/*--------------------*/

/*--Register Page--*/
#register-section {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

#register-section::before {
    background-image: url(../img/bg/register-bg.jpg);
}

.register-form {
    padding: 30px;
}

.register-form h1 {
    font-weight: 600 !important;
    color: var(--secondary-main);
    margin-bottom: 40px;
}

.register-form h4 {
    font-weight: 400 !important;
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.register-form > .card-body > form > .row > div:first-child > div:nth-child(2) {
    border-right: 2px solid #eceff1;
    padding-right: 40px;
}

.register-form > .card-body > form > .row > div:nth-child(2) > div:nth-child(2) {
    padding-left: 40px;
}

.register-form > .card-body > form > .row > div:first-child {
    padding-right: 0;
}

.register-form > .card-body > form > .row > div:nth-child(2) {
    padding-left: 0;
}

.inputs-block i {
    color: var(--primary-main);
    font-size: 2rem;
    margin-bottom: 20px;
}

/*--------------------*/

/*--Category page--*/
#category-main .banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg/categories-bg.png);
    margin-bottom: 15px;
}

/*#category-main .banner.fruits-vegetables {
    background-image: url(../../assets/img/bg/fruits-vegetables.jpg);
}

#category-main .banner.meat {
    background-image: url(../../assets/img/bg/meat-bg.jpg);
}

#category-main .banner.delicatessen {
    background-image: url(../../assets/img/bg/delicatessen-bg.jpg);
}*/

#category-main .banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 213, 115, 0.9);
    z-index: 1;
}

#category-main .banner {
    padding: 40px 0;
}

#category-main h1 {
    position: relative;
    z-index: 10;
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.warning-banner {
    background-color: rgba(51, 213, 115, 0.25);
    padding: 10px 30px;
    border-radius: 10px;
    margin: 40px 0;
}

.warning-banner p {
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
    font-size: 0.8rem;
}

.warning-banner i {
    color: var(--primary-main);
    font-size: 2rem;
    margin-right: 15px;
}

/*Sidebar*/
.level-n1 a.active,
.level-n a.active {
    background-color: #5BDD8F;
    color: white;
    border-radius: 4px;
}

.level-n1 a.active:hover,
.level-n a.active:hover {
    background-color: #5BDD8F;
    color: white;
}

.level-n1 a, .level-n a {
    color: #263238;
    margin-top: 5px;
    font-size: 0.9rem;
}

.level-n1 a:hover, .level-n a:hover {
    background-color: #eceff1;
    border-radius: 4px;
}

#category-sidebar {
    box-shadow: 0px 8px 7px -1px rgba(180, 201, 219, 0.2), 0px 0px 10px 1px rgba(180, 201, 219, 0.1), 0px 1px 3px 1px rgba(180, 201, 219, 0.1);
    margin-bottom: 15px;
}

.return-to-root {
    background-color: var(--secondary-main);
    padding: 10px 30px;
    text-align: center;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 8px 7px -1px rgba(180, 201, 219, 0.2), 0px 0px 10px 1px rgba(180, 201, 219, 0.1), 0px 1px 3px 1px rgba(180, 201, 219, 0.1);
}

.return-to-root,
.return-to-root:hover {
    color: white;
}

.return-to-root i {
    position: relative;
    margin-right: 15px;
    transition: 1s;
}

.return-to-root:hover i {
    left: -5px;
    transition: 1s;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.categories-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

.categories-breadcrumb .breadcrumb {
    background-color: hsl(200, 18%, 96%) !important;
    margin-bottom: 0;
    box-shadow: 0px 8px 7px -1px rgba(180, 201, 219, 0.2), 0px 0px 10px 1px rgba(180, 201, 219, 0.1), 0px 1px 3px 1px rgba(180, 201, 219, 0.1)
}

.categories-breadcrumb .breadcrumb a {
    color: var(--primary-main);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px 5px;
    border-radius: 4px;
}

.categories-breadcrumb .breadcrumb a:hover {
    color: white;
    background-color: #5BDD8F;
}

.categories-breadcrumb .breadcrumb .breadcrumb-item.active {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}

.categories-breadcrumb .breadcrumb .breadcrumb-item i {
    color: #37474f
}

#category-sidebar-mobile-modal .modal-dialog {
    margin: 0 !important;
}

#category-sidebar-mobile-modal .modal-dialog .modal-content {
    min-height: 100vh;
}

/*--------------------*/

/*--Card title--*/
.category-wide {
    margin-bottom: 2.5rem;;
}

.card.category-wide {
    box-shadow: 0px 8px 7px -1px rgba(180, 201, 219, 0.2), 0px 0px 10px 1px rgba(180, 201, 219, 0.1), 0px 1px 3px 1px rgba(180, 201, 219, 0.1);
}

.category-wide .card-title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondary-main);
    margin-top: 30px;
    margin-bottom: 0;
}

.category-wide img {
    object-fit: cover;
    height: 200px;
}

.card .view-cascade {
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
}

/*----------------------------*/

/*--Product cart--*/
.product-wide {
    height: 100%;
}

.product-wide .card-title {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0 10px;
}

.product-wide .price {
    background-color: #cfd8dc;
    padding: 10px;
    border-radius: 50px;
    font-size: 0.8rem;
}

.product-wide .content {
    font-size: 0.8rem;
}

.product-wide .content i {
    color: var(--primary-main);
    margin-right: 5px;
}

.product-wide .card-body {
    padding-top: 10px;
}

/*--------------------*/
.card.category-small:hover {
    background-color: var(--primary-main);
}

.card.category-small .card-body {
    padding: 10px;
    color: #37474f;
    font-size: 0.7rem;
}

.card.category-small .card-body:hover {
    color: white;
}

.card.category-small {
    margin: 5px;
    box-shadow: 0px 8px 7px -1px rgba(180, 201, 219, 0.2), 0px 0px 10px 1px rgba(180, 201, 219, 0.1), 0px 1px 3px 1px rgba(180, 201, 219, 0.1);
}

.card.category-small .card-body a {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #37474f;
}

.sub-categories-row {
    padding: 5px 15px;
}

.pac-container {
    z-index: 1500;
}

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 10px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: var(--primary-main);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#scroll-to-top:hover {
    background-color: var(--primary-dark);
}

#subscribe-bottom {
    background-color: var(--primary-main);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#subscribe-bottom p {
    margin: 0;
    font-size: 0.85rem;
    text-transform: uppercase;
}

#subscribe-bottom a p {
    color: white;
}

.continue-registration {
    width: 100%;
}

.sign-in-link {
    width: 100%;
    text-align: center;
    display: block;
    margin: 10px 0 0 0 !important;
}

#home-hero h5 {
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceff1;
}

#redirect-modal img {
    max-width: 90%;
}

#redirect-modal p {
    font-weight: 500;
    text-transform: uppercase;
}

#redirect-modal p:nth-of-type(1) {
    font-size: 0.9rem;
}

#redirect-block {
    min-height: 71vh;
    padding: 50px;
}

@media (max-width: 768px) {
    .register-form > .card-body > form > .row > div:first-child > div:nth-child(2) {
        border-right: none;
        padding-right: 0;
    }

    .register-form > .card-body > form > .row > div:nth-child(2) > div:nth-child(2) {
        padding-left: 0;
    }

    .register-form > .card-body > form > .row > div:first-child {
        padding-right: 15px;
    }

    .register-form > .card-body > form > .row > div:nth-child(2) {
        padding-left: 15px;
    }

    #home-hero .container {
        padding-top: 40px;
    }

    #category-main .banner {
        padding: 15px 0;
    }

    #category-main h1 {
        font-size: 2rem;
    }

    #home-hero::before {
        background-image: url(../img/bg/home-mobile-bg.jpg);
        width: calc(100vw + 250px);
        left: -250px;
        top: 0;
        filter: blur(2px) opacity(0.1);
    }
}

@media (max-width: 575.98px) {
    .product-wide .price {
        padding: 5px;
        border-radius: 10px;
        font-size: 0.7rem;
    }

    .product-wide .content {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-wide .content i {
        font-size: 1rem;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .foodo-navbar .navbar-brand img {
        width: 150px;
    }

    #home-hero ul li {
        font-size: 0.9rem;
        margin-bottom: 12px;
    }

    #home-hero ul li i {
        font-size: 1.2rem;
    }

    #home-hero h1 {
        font-size: 1.2rem;
    }

    #redirect-modal .modal-footer .btn {
        width: 100%;
    }
}

@media (max-width: 334px) {
    .foodo-navbar .navbar-brand img {
        width: 135px;
    }
}
