.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 250px;
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 300px;
}

.panel-center {
  padding-left: 250px !important;
  padding-right: 300px !important;
}

#toggle-left-sidebar.visible {
  left: calc(250px - 70px);
}

#toggle-right-sidebar.visible {
  right: calc(300px - 71px);
}