{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{{ form_errors(form) }}
{{ form_row(form.images) }}
{{ form_row(form.position) }}
{{ translationForm(form.translations) }}
{{ form_row(form.variants) }}