{% extends '@App/SellerOffice/layout.html.twig' %}

{% set litigationListComponent = react_component('LitigationList', {'props': props, 'rendering': 'client_side'}) %}

{% block body %}
{% spaceless %}
    {{ litigationListComponent | raw }}
{% endspaceless %}
{% endblock %}
