{% extends '@App/SellerOffice/layout.html.twig' %}

{% set store = redux_store('SellerStore', {}) %}
{% set litigationShowComponent = react_component('LitigationShow', {'props': props, 'rendering': 'client_side'}) %}

{% block body %}
    {% spaceless %}
        {{ store | raw }}
        <div>
            {{ litigationShowComponent | raw }}
        </div>
    {% endspaceless %}
{% endblock %}
