{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">Statistiques des grossistes</div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{ form_start(form, {attr: {class: 'ui form'}}) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="ui button primary">Ok</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <h1>Statistiques de commandes du {{ start }} au {{ end }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <a name="suppliers"></a>
                <h3></h3>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="ui celled structured selectable table">
                    <thead>
                    <tr>
                        <th class='collapsing' rowspan='2'></th>
                        {% for month, supplier_stats_by_month in supplier_stats %}
                            <th class='two wide column center aligned' colspan='3'>{{  month }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for month, supplier_stats_by_month in supplier_stats %}
                            <th class='center aligned' >CLT</th>
                            <th class='center aligned' >CDE</th>
                            <th class='center aligned' >TOTAL</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, supplier in supplier_list %}
                        <tr>
                            <td class='collapsing left aligned'>{{ supplier|upper }}</td>
                            {% for month, supplier_stats_by_month in supplier_stats %}
                                <td class='center top aligned' style='background-color:#d1f3d1'>{%  if supplier_stats_by_month[key] is defined %}{{ supplier_stats_by_month[key]['total_client'] }} {% if supplier_stats_by_month[key]['total_client_evolution'] != 0 %}<br><span style='font-size: 0.8em;'>({{ supplier_stats_by_month[key]['total_client_evolution'] }}%)</span>{% endif %}{% else %}--{% endif %}</td>
                                <td class='center top aligned' style='background-color:#d1f3d1'>{%  if supplier_stats_by_month[key] is defined %}{{ supplier_stats_by_month[key]['total_commande'] }} {% if supplier_stats_by_month[key]['total_commande_evolution'] != 0 %}<br><span style='font-size: 0.8em;'>({{ supplier_stats_by_month[key]['total_commande_evolution'] }}%)</span>{% endif %}{% else %}--{% endif %}</td>
                                <td class='center top aligned'>{%  if supplier_stats_by_month[key] is defined %}{{ supplier_stats_by_month[key]['montant_total'] }}€ {% if supplier_stats_by_month[key]['montant_total_evolution'] != 0 %}<br><span style='font-size: 0.8em;'>({{ supplier_stats_by_month[key]['montant_total_evolution'] }}%)</span>{% endif %}{% else %}--{% endif %}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
