{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui dividing header">
                    Comptes grossistes
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            Filtres
                        </div>
                    </div>
                    <div class="content">
                        {{ form_start(searchForm, {attr: {class: 'ui form'}}) }}
                        <div class="ui stackable grid">
                            <div class="four column row">
                                <div class="column">
                                    {{ form_row(searchForm.zip) }}
                                </div>

                                <div class="column">
                                    {{ form_row(searchForm.email) }}
                                    {{ form_row(searchForm.firstname) }}
                                </div>

                                <div class="column">
                                    {{ form_row(searchForm.type) }}
                                </div>

                                <div class="column">
                                    {{ form_row(searchForm.suggestionsOnly) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="column center aligned">
                                    <button type="submit" class="ui primary button">
                                        Filtrer
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui message info">
                    <p>
                        {{ nbSuggestions }} clients pourraient être reliés à d'autres grossistes !
                    </p>
                    {% if nbSuggestions > 0 or job is not null %}
                        <p>
                            {% if job is null %}
                                <button onclick="applyAllSuggestions();" class="ui button black">Appliquer toutes les suggestions pour les résultats de cette requête ?</button>
                            {% else %}
                                {% if job.inFinalState == false %}
                                    <button class="ui loading disabled button black">Appliquer toutes les suggestions pour les résultats de cette requête ?</button>
                                {% elseif job.failed or job.canceled %}
                                    <button onclick="applyAllSuggestions();" class="ui button red">Appliquer toutes les suggestions pour les résultats de cette requête ?</button>
                                {% else %}
                                    <button onclick="applyAllSuggestions();" class="ui button black">Appliquer toutes les suggestions pour les résultats de cette requête ?</button>
                                {% endif %}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <table class="ui structured table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Prénom</th>
                        <th>Code postal</th>
                        <th>Type</th>
                        <th>Fournisseurs</th>
                        <th>Suggestions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for p in prospects %}
                            {% set rowspan = p.suppliers|length %}
                            {% if p.suppliers is not empty %}
                                {% for s in p.suppliers %}
                                    <tr>
                                        {% if loop.first %}
                                            <td rowspan="{{ rowspan }}">{{ p.id }}</td>
                                            <td rowspan="{{ rowspan }}">{{ p.firstname }}</td>
                                            <td rowspan="{{ rowspan }}">{{ p.zip }}</td>
                                            <td rowspan="{{ rowspan }}">{{ p.type }}</td>
                                            <td class="{% if s.status == 'WAITING' %}warning{% elseif s.status == 'ACCOUNT_OPENED' %}positive{% elseif s.status == 'ORDERING' %}positive{% else %}negative{% endif %}">{{ s.name }}</td>
                                            <td>
                                                <ul>
                                                    {% for o in p.suggestions %}
                                                        <li><button class="open-account ui button teal" data-firstname="{{ p.firstname }}" data-supplier="{{ o.name }}" data-href="{{ path('app_admin_supplier_account_open', {prospectId: p.id, supplierId: o.id}) }}">{{ o.name }} ({{ o.id }})</button></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        {% else %}
                                            <td class="{% if s.status == 'WAITING' %}warning{% elseif s.status == 'ACCOUNT_OPENED' %}positive{% elseif s.status == 'ORDERING' %}positive{% else %}negative{% endif %}">{{ s.name }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>{{ p.id }}</td>
                                    <td>{{ p.firstname }}</td>
                                    <td>{{ p.zip }}</td>
                                    <td>{{ p.type }}</td>
                                    <td></td>
                                    <td>
                                        <ul>
                                            {% for o in p.suggestions %}
                                                <li><button class="open-account ui button teal" data-firstname="{{ p.firstname }}" data-supplier="{{ o.name }}" data-href="{{ path('app_admin_supplier_account_open', {prospectId: p.id, supplierId: o.id}) }}">{{ o.name }} ({{ o.id }})</button></li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }

        function applyAllSuggestions()
        {
            if (window.confirm("Sûr ?")) {
                document.location = updateQueryStringParameter(document.location.href, 'applySuggestions', true);
            }
        }

        $(document).ready(function() {
            $('.open-account').click(function() {
                var $this = $(this);
                var firstname = $this.data('firstname');
                var supplier = $this.data('supplier');

                if (window.confirm("Ouvrir le compte " + supplier + " pour " + firstname + " ?")) {
                    $.get($this.data('href')).then(function(response) {
                        if (response.ok) {
                            document.location.reload();
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}