{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #filter-template {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script type="text/javascript">
        function splitReg(regexp) {
            return {
                pattern: regexp.startsWith('/') ? regexp.substring(regexp.indexOf('/') + 1, regexp.lastIndexOf('/')) : regexp,
                flags: regexp.startsWith('/') ? regexp.substring(regexp.lastIndexOf('/') + 1) : ''
            }
        }

        function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        // /(?<code>[\d]{3,3}-[\d]{1,1}-[\d]{2,2})[\s]+(?<name>[ -~]+)[\s]+(?<price>[\d,]+)\s/gi
        // /(?<code>[\d]{3,3}-[\d]{1,1}-[\d]{2,2})[\s]+(?<name>[ -~]+)[\s]+(?<price>[\d,]+)[\s]+/gi
        $(document).ready(function() {
            var $productRegexp = $('#product-regexp');
            var $regexpError = $('#regexp-error');
            var $rawContent = $('#raw-content');
            var $parsedContent = $('#parsed-content');

            $regexpError.hide();

            $productRegexp.keyup(function() {
                var pattern = $productRegexp.val();

                try {
                    var reg = splitReg(pattern);
                    var regexp = new RegExp(reg.pattern, reg.flags);

                    $regexpError.hide();
                    $productRegexp.closest('.input').removeClass('error').addClass('success');
                } catch (e) {
                    $regexpError.find('p').text(e);
                    $regexpError.show();
                    $productRegexp.closest('.input').removeClass('success').addClass('error');
                }
            });

            $('#test-regexp').click(function(e) {
                e.preventDefault();

                $(this).addClass('loading');

                var pattern = $productRegexp.val();

                try {
                    var reg = splitReg(pattern);
                    var regexp = new RegExp(reg.pattern, reg.flags);
                    var rawContent = $rawContent.data('raw');

                    var result = regexp.exec(rawContent);
                    var nbResult = 0;

                    if (result === null || result.length === 0) {
                        $parsedContent.html('<p>Pas de résultat</p>');
                    } else {
                        ++nbResult;

                        var $table = $('<table class="ui very compact striped celled table"></table>');
                        var $thead = $('<thead></thead>');
                        var $headRow = $('<tr></tr>');
                        var $tbody = $('<tbody></tbody>');
                        var $contentRow, key, group;

                        $contentRow = $('<tr></tr>');

                        for (key in result) {
                            if (isNumeric(key)) {
                                $headRow.append('<th>Groupe ' + (key + 1) + '</th>');
                                $contentRow.append('<td>' + result[key] + '</td>');
                            }
                        }

                        if (result.groups !== undefined) {
                            for (group in result.groups) {
                                $headRow.append('<th>' + group + '</th>');
                                $contentRow.append('<td>' + result.groups[group] + '</td>');
                            }
                        }

                        $thead.append($headRow);
                        $table.append($thead);
                        $tbody.append($contentRow);

                        if (regexp.global) {
                            while ((result = regexp.exec(rawContent))) {
                                ++nbResult;
                                // console.log(result);

                                $contentRow = $('<tr></tr>');

                                for (key in result) {
                                    if (isNumeric(key)) {
                                        $contentRow.append('<td>' + result[key] + '</td>');
                                    }
                                }

                                if (result.groups !== undefined) {
                                    for (group in result.groups) {
                                        $contentRow.append('<td>' + result.groups[group] + '</td>');
                                    }
                                }

                                $tbody.append($contentRow);
                            }
                        }

                        $table.append($tbody);
                        $parsedContent.html('<p>' + nbResult + ' résultats</p>').append($table);
                    }
                } catch (e) {
                }

                $(this).removeClass('loading');
            });

            var $filtersContainer = $('#filters-container');

            $('#add-filter').click(function() {
                var $filter = $('#filter-template').clone();
                var $filterRegexp = $filter.find('#filter-regexp');

                $filterRegexp.keyup(function() {
                    var pattern = $filterRegexp.val();

                    try {
                        var reg = splitReg(pattern);
                        var regexp = new RegExp(reg.pattern, reg.flags);

                        $filter.find('.message.error').hide();
                        $filterRegexp.closest('.input').removeClass('error').addClass('success');
                    } catch (e) {
                        $filter.find('.message.error').find('p').text(e);
                        $filter.find('.message.error').show();
                        $filterRegexp.closest('.input').removeClass('success').addClass('error');
                    }
                });

                $filtersContainer.append($filter);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            Uploader un mercuriale
                        </div>
                    </div>
                    <div class="content">
                        {{ form_start(form, {attr: {class: 'ui form'}}) }}
                            {{ form_row(form.mercurial) }}
                            {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        {% if output is not empty %}
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Règles d'analyse
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui field">
                                <div class="ui fluid labeled action input">
                                    <div class="ui label">
                                        Regexp Produit
                                    </div>
                                    <input type="text" id="product-regexp"/>
                                    <button class="ui positive button" id="test-regexp">Tester</button>
                                </div>
                            </div>
                            <div id="regexp-error" class="ui error message">
                                <i class="close icon"></i>
                                <div class="header">
                                    Regexp invalide
                                </div>
                                <p></p>
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button primary" id="add-filter">Ajouter un filtre</button>
                        </div>
                    </div>

                    <div id="filters-container">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Contenu du mercuriale
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui top attached tabular menu">
                                <a class="active item" data-tab="raw">Contenu brut</a>
                                <a class="item" data-tab="parsed">Contenu parsé (via regexp)</a>
                            </div>
                            <div class="ui bottom attached active tab segment" data-tab="raw">
                                <div id="raw-content" data-raw="{{ raw_output|raw }}">{{ output|raw }}</div>
                            </div>
                            <div class="ui bottom attached tab segment" data-tab="parsed">
                                <div id="parsed-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="filter-template" class="ui fluid card">
                <div class="content">
                    <div class="header">
                        <div class="ui labeled field">
                            <div class="ui label">Filtre</div>
                            <input type="text"/>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="ui field">
                        <div class="ui fluid labeled action input">
                            <div class="ui label">
                                Regexp
                            </div>
                            <input type="text" class="filter-regexp"/>
                            <button class="ui positive button" id="test-filter-regexp">Tester</button>
                        </div>
                    </div>
                    <div class="ui error message">
                        <i class="close icon"></i>
                        <div class="header">
                            Regexp invalide
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}