@import 'style/litigation.scss';

#litigation-show-segment {
  position: relative;
}

#litigation-show-segment #litigation-header {
  //height: 20vh;
}

#litigation-show-segment #comments {
  margin-top: 1em;
  height: 58vh !important;
}

#litigation-show-segment #litigation-comment-form-grid {
  //height: 20vh;
}