{% extends '@App/Admin/Form/theme.html.twig' %}

{% block collection_widget -%}
    {% from '@SyliusResource/Macros/notification.html.twig' import error %}
    {% import _self as self %}
    {% set attr = attr|merge({'class': attr.class|default ~ ' controls collection-widget'}) %}

    {% spaceless %}
        <div class="ui fluid card" data-form-type="collection" {{ block('widget_container_attributes') }}
            {% if prototype is defined and allow_add %}
                data-prototype='{{ self.collection_item(prototype, allow_delete, button_delete_label, '__name__')|e }}'
            {%- endif -%}
        >
            <div class="content">
                <div class="header">{{ form_label(form) }}</div>
                <div class="description">
                    {{ error(form.vars.errors) }}

                    {% if prototypes|default is iterable %}
                        {% for key, subPrototype in prototypes %}
                            <input type="hidden" data-form-prototype="{{ key }}" value="{{ self.collection_item(subPrototype, allow_delete, button_delete_label, '__name__')|e }}" />
                        {% endfor %}
                    {% endif %}

                    <div class="ui three cards doubling" data-form-collection="list">
                        {% for child in form %}
                            {{ self.collection_item(child, allow_delete, button_delete_label, loop.index0) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if prototype is defined and allow_add %}
                <a href="#" class="ui bottom attached labeled icon primary button" data-form-collection="add">
                    <i class="plus square outline icon"></i>
                    {{ button_add_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock collection_widget %}

{% macro collection_item(form, allow_delete, button_delete_label, index) %}
    {% spaceless %}
        <div class="card" data-form-collection="item" data-form-collection-index="{{ index }}">
            <div class="content">
                {{ form_widget(form) }}
            </div>
            {% if allow_delete %}
                <a href="#" data-form-collection="delete" class="ui bottom attached red labeled icon button">
                    <i class="trash icon"></i>
                    {{ button_delete_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}