{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %}{{ 'sylius.ui.email'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sonata_block_render_event('sylius.admin.email.show.before_header', {'resource': resource}) }}

    <div class="ui stackable two column grid">
        {% include '@App/Admin/Email/Show/_header.html.twig' %}

        {{ sonata_block_render_event('app.admin.email.show.header', {'resource': resource}) }}
    </div>

    {{ sonata_block_render_event('app.admin.email.show.after_header', {'resource': resource}) }}

    <div class="ui divider"></div>

    {{ sonata_block_render_event('app.admin.email.show.after_breadcrumb', {'resource': resource}) }}

    <div class="ui stackable grid">
        {% include '@App/Admin/Email/Show/_content.html.twig' %}
    </div>

    {{ sonata_block_render_event('app.admin.email.show.after_content', {'resource': resource}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.email-attachment').click(function() {
                downloadAttachment($(this).data('attachment'), $(this).data('filename'));
            });
        });

        function downloadAttachment(fileContents, fileName) {
            var link = document.createElement('a');

            link.download = fileName;
            link.href = 'data:application/octet-stream;base64,' + fileContents;
            link.click();
        }
    </script>
{% endblock %}