{% extends '@App/MiddleOffice/layout.html.twig' %}

{% set store = redux_store('frontStore', {'authToken': authToken, 'initialValues': initialValues, 'initialStates': initialStates}) %}
{% set app = react_component_array('ShopApp') %}

{% block title %}
{% spaceless %}
    {{ app.title is defined and app.title is not empty and app.title != '<title data-react-helmet="true"></title>' ? app.title | raw : parent() }}
{% endspaceless %}
{% endblock %}

{% block meta %}
{% spaceless %}
    {{ app.meta is defined and app.meta is not empty ? app.meta | raw : parent() }}
{% endspaceless %}
{% endblock %}

{% block body %}
{% spaceless %}
    {{ store | raw }}
    {{ app.componentHtml | raw }}
{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.styles is defined %}
        {% for style in app.styles %}
            {{ style|raw }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.scripts is defined %}
        {% for script in app.scripts %}
            {{ script|raw }}
        {% endfor %}
    {% endif %}

    {{ parent() }}
{% endblock %}