{{ form_start(form, {attr: {class: 'ui form'}}) }}
<div class="ui grid">
    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Informations minimales</div>
            </div>
            <div class="content">
                {{ form_row(form.name) }}
                {{ form_row(form.logo) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.partner) }}
                {{ form_row(form.createdByUser) }}
            </div>
            <div class="content">
                <div class="ui sub header">Catégories de produits</div>
                {{ form_row(form.categories) }}
            </div>
            <div class="content">
                <div class="ui sub header">Adresse</div>
                {{ form_row(form.street) }}
                {{ form_row(form.postcode) }}
                {{ form_row(form.city) }}
                {{ form_row(form.countryCode) }}
            </div>
            <div class="content">

                {{ form_row(form.description) }}
                {{ form_row(form.deliveryTerms) }}
            </div>
            <button class="ui bottom attached positive button" type="submit">
                <i class="edit icon"></i>
                Valider
            </button>
        </div>
    </div>

    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Informations de livraison</div>
            </div>
            <div class="content">
                {{ form_row(form.minimumOrder) }}
                {{ form_row(form.freePort) }}
                {{ form_row(form.shippingCost) }}
                {{ form_row(form.chronofreshDelivery) }}
            </div>
            <div class="content">
                <div class="ui sub header">Jours de livraison</div>
                {{ form_row(form.deliveryOnMonday) }}
                {{ form_row(form.deliveryOnTuesday) }}
                {{ form_row(form.deliveryOnWednesday) }}
                {{ form_row(form.deliveryOnThursday) }}
                {{ form_row(form.deliveryOnFriday) }}
                {{ form_row(form.deliveryOnSaturday) }}
                {{ form_row(form.deliveryOnSunday) }}
                {{ form_row(form.orderLimitTime) }}
            </div>
            <div class="content">
                <div class="ui sub header">Zones de livraison</div>
                <div class="ui message info">
                    <i class="close icon"></i>
                    <div class="header">Règles de paramétrage</div>
                    <p>
                        Les codes postaux, ou plages de codes postaux doivent être séparés par des virgules ou par une nouvelle ligne.<br/>
                        Exemples de valeurs possibles:
                    </p>
                    <ul class="list">
                        <li>75001 (juste ce code postal)</li>
                        <li>75* (tous les codes postaux commençant par 75)</li>
                        <li>75001-75019 (la plage de code postaux de 75001 à 75019)</li>
                        <li>75*-76* (la plage de code postaux de tout ce qui commence par 75 jusqu'à 76)</li>
                        <li>75*,77*,94* (tout le 75, tout le 77, tout le 94)</li>
                        <li>75001,77501,94401 (juste ces codes postaux)</li>
                    </ul>
                </div>
                {{ form_row(form.deliveryZones) }}
            </div>
            <button class="ui bottom attached positive button" type="submit">
                <i class="edit icon"></i>
                Valider
            </button>
        </div>
    </div>

    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Paiement</div>
            </div>
            <div class="content">
                {{ form_row(form.lyraUuid) }}
                {{ form_row(form.lyraDevUuid) }}
            </div>
            <div class="content">
                {{ form_row(form.paymentOnDelivery) }}
                {{ form_row(form.paymentOnline) }}
                {{ form_row(form.creditCardPriceMultiplier) }}
            </div>
            <div class="content">
                <div class="ui sub header">Modes de paiement</div>
                {{ form_row(form.paymentByCheque) }}
                {{ form_row(form.paymentByCash) }}
                {{ form_row(form.paymentByCreditCard) }}
                {{ form_row(form.paymentByBankTransfer) }}
                {{ form_row(form.paymentByDirectDebit) }}
            </div>
            <button class="ui bottom attached positive button" type="submit">
                <i class="edit icon"></i>
                Valider
            </button>
        </div>
    </div>

    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Ouverture de comptes</div>
            </div>
            <div class="content">
                {{ form_row(form.autoBind) }}
                {{ form_row(form.accountOpening) }}
                {{ form_row(form.applicationNeeded) }}
            </div>
            <div class="content">
                <div class="ui sub header">Documents</div>
                {{ form_row(form.sepa) }}
                {{ form_row(form.rib) }}
            </div>
            <button class="ui bottom attached positive button" type="submit">
                <i class="edit icon"></i>
                Valider
            </button>
        </div>
    </div>

    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Emails transactionnels</div>
            </div>
            <div class="content">
                {{ form_row(form.howToOrder) }}
                {{ form_row(form.orderModality) }}
                {{ form_row(form.orderAdditionalElements) }}
            </div>

            <button class="ui bottom attached positive button" type="submit">
                <i class="edit icon"></i>
                Valider
            </button>
        </div>
    </div>

    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Echanges avec le grossiste</div>
            </div>

            <div class="content">
                <div class="ui sub header">Contact principal</div>
                {{ form_row(form.email) }}
            </div>

            <div class="content">
                <div class="ui sub header">Ouverture de compte</div>
                {{ form_row(form.commercialEmails) }}
            </div>

            <div class="content">
                <div class="ui sub header">Passage de commande</div>
                {{ form_row(form.orderEmails) }}
            </div>

            <button class="ui bottom attached positive button" type="submit">
                <i class="edit icon"></i>
                Valider
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}