<div id="foodomarket-prices-list" class="ui centered grid" style="padding-top:20px;">
    {% for grid in barometer %}
    <div class="ui one column row tablet computer only">
        <div class="sixteen wide column">
            <table class="ui table striped unstackable">
                <thead>
                <tr>
                    {% if app.debug %}<th>ID</th>{% endif %}
                    <th></th>
                    <th>Produit</th>
                    <th class='center aligned'>Prix HT</th>
                    <th></th>
                    <th class='center aligned'>Evolution&nbsp;7J</th>
                    <th class='center aligned'>Evolution&nbsp;30J</th>
                    {% if app.debug %}<th class='center aligned'>Prix du marché</th>{% endif %}
                    {% if app.debug %}<th class='center aligned'>Evolution du marché</th>{% endif %}
                    {% if app.debug %}<th class='center aligned'>Min</th>{% endif %}
                    {% if app.debug %}<th class='center aligned'>Max</th>{% endif %}
                    {% if app.debug %}<th>Variante</th>{% endif %}
                    {% if app.debug %}<th>Grossiste</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for price in grid.prices %}
                    <tr>
                        {% if app.debug %}<td>{{ price.id }}</td>{% endif %}
                        <td>{% if is_mobile() == false and is_tablet() == false %}<img src="{{ price.productImage }}" height='30px' width='30px'>{% endif %}</td>
                        <td>{{ price.product|raw }}</td>
                        <td>{{ price.price }}€</td>
                        <td class='center aligned'>{{ price.orderUnit }}</td>
                        <td class='center aligned'>{{ price.evolution7j | raw }}</td>
                        <td class='center aligned'>{{ price.evolution30j | raw }}</td>
                        {% if app.debug %}<td class='center aligned'>{{ price.marketKgPrice}}€/KG</td>{% endif %}
                        {% if app.debug %}<td class='center aligned'>{{ price.marketEvolution | raw }}</td>{% endif %}
                        {% if app.debug %}<td class='center aligned'>{{ price.marketMin }}€/{{ price.orderUnit }}</td>{% endif %}
                        {% if app.debug %}<td class='center aligned'>{{ price.marketMax }}€/{{ price.orderUnit }}</td>{% endif %}
                        {% if app.debug %}<td class='center aligned'>{{ price.variantId }}</td>{% endif %}
                        {% if app.debug %}<td>{{ price.supplier }}</td>{% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui one column row mobile only">
        <div class="column">
            <table class="ui table striped unstackable">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th class='center aligned'>Prix HT</th>
                    <th></th>
                    {#<th>Evolution&nbsp;7J</th>#}
                    <th class='center aligned'><i class="icon chart line"></i>7j</th>
                    {#{% if app.debug %}<th></th>{% endif %}#}
                </tr>
                </thead>
                <tbody>
                {% for price in grid.prices %}
                    <tr>
                        <td>{{ price.product|raw }}</td>
                        <td>{{ price.price }}€</td>
                        <td class='center aligned'>{{ price.orderUnit }}</td>
                        <td class='center aligned'>{{ price.evolution7j | raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
