{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid stackable">
        <div class="row">
            <div class="fourteen wide column">
                <h1 class="ui dividing header">Modification du fournisseur &laquo;{{ supplier.name }}&raquo;</h1>
            </div>
            <div class="two wide column right aligned">
                <a class="ui labeled icon button" href="{{ path('app_admin_suppliers_index') }}">
                    <i class="reply icon"></i>
                    Retour
                </a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui top attached tabular menu">
                    <div class="active item" data-tab="form">Formulaire</div>
                    <div class="item" data-tab="prices-grids">Grilles tarifaires</div>
                    <div class="item" data-tab="prices-evolution">&Eacute;volution des prix</div>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="form">
                    {% include 'AppBundle:Admin/Suppliers:_form.html.twig' %}
                </div>
                <div class="ui bottom attached tab segment" data-tab="prices-grids">
                    <button id="new-price-grid-button" type="button" class="ui labeled icon primary button" style="margin-bottom: 1em;">
                        <i class="plus icon"></i>
                        Nouvelle grille tarifaire
                    </button>

                    <div class="ui two stackable cards">
                        {% for priceGrid in pricesGrids %}
                            <div class="card">
                                <div class="content">
                                    <div class="header">{{ priceGrid.name }}</div>
                                </div>
                                {% for grid in priceGrid.grids %}
                                <div class="content">
                                    <div class="ui sub header">{{ grid.category }}</div>
                                    <table class="ui compact table">
                                        <thead>
                                            <tr>
                                                <th>Mercuriale</th>
                                                <th>Restaurant</th>
                                                <th>Début</th>
                                                <th>Fin</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for mercuriale in grid.mercuriales %}
                                            <tr>
                                                <td><a target="_blank" href="{{ vich_uploader_asset(mercuriale, 'file') }}">{{ mercuriale.fileName }}</a></td>
                                                <td>{{ mercuriale.restaurant.name }}</td>
                                                <td>{{ mercuriale.dlcFrom|date('d/m/Y') }}</td>
                                                <td>{{ mercuriale.dlcTo|date('d/m/Y') }}</td>
                                                <td class="right aligned">
                                                    <a class="ui labeled icon orange button" target="_blank" href="{{ path('app_admin_mercuriale_update', {id: mercuriale.id}) }}">
                                                        <i class="pencil icon"></i>
                                                        Modifier
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                                <div class="ui bottom attached buttons">
                                    <button class="ui negative button">
                                        <i class="trash icon"></i>
                                        Supprimer la grille
                                    </button>
                                    <button class="ui primary button add-mercuriale-button" data-partner="{{ priceGrid.id }}">
                                        <i class="plus icon"></i>
                                        Ajouter une mercuriale
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="prices-evolution">
                    <button type="button" class="ui primary button" onclick="showEvolution(this)">Afficher</button>
                    <button type="button" class="ui warning button" onClick="refreshEvolution(this)">Rafraîchir</button>
                    <div id="prices-evolution-container"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="price-grid-modal" class="ui tiny modal">
        <div class="header">Nouvelle grille tarifaire</div>
        <div class="content">
            <div class="ui message negative">
                <i class="close icon"></i>
                <div class="header">Une erreur est survenue</div>
                <p></p>
            </div>

            {{ form_start(priceGridForm, {attr: {class: 'ui form'}}) }}
            {{ form_widget(priceGridForm) }}
            {{ form_end(priceGridForm) }}
        </div>
        <div class="actions">
            <div class="ui approve primary button">Ok</div>
            <div class="ui cancel negative button">Annuler</div>
        </div>
    </div>

    <div id="mercuriale-modal" class="ui tiny modal">
        <div class="header">Nouvelle mercuriale</div>
        <div class="content"></div>
        <div class="actions">
            <div class="ui approve primary button">Ok</div>
            <div class="ui cancel negative button">Annuler</div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .contact-row {
            font-size: 24px;
        }
        .contact-row .contact-col {
            text-align: justify;
            line-height: 30px;
        }
        .contact-row .contact-col br {
            display: none;
        }
        .indicator-col {
            font-size: 20px;
            line-height: 24px;
        }
        #foodomarket-prices-list {
            padding-left: 5px;
            padding-right: 5px;
        }
        .weight-indication {
            font-size: 10px !important;
        }
        .ui.table td {
            padding: 0 0.5em 0 0.5em;
            text-align: inherit;
        }
        @media screen and (max-width: 468px) {
            .contact-col {
                font-size: 16px !important;
            }
            .indicator-col {
                font-size: 12px;
                line-height: 16px;
            }
            .contact-row .contact-col br {
                display: inherit;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });

            $('#new-price-grid-button').click(function() {
                const $priceGridModal = $('#price-grid-modal');
                const $approveButton = $priceGridModal.find('.approve.button');
                const $message = $priceGridModal.find('.ui.message.negative');

                $priceGridModal
                    .modal({
                        onShow: function() {
                            $message.addClass('hidden');
                        },
                        onApprove: function() {
                            $message.addClass('hidden');
                            $approveButton.addClass('loading');

                            const $form = $priceGridModal.find('form');

                            $.post($form.attr('action'), $form.serialize(), function(response) {
                                if (response.ok) {
                                    document.location.reload();
                                } else {
                                    $approveButton.removeClass('loading');
                                    $message.removeClass('hidden').find('p').text(response.message);
                                }
                            });

                            return false;
                        }
                    })
                    .modal('show')
                ;
            });

            $('.add-mercuriale-button').click(function() {
                const partnerId = $(this).data('partner');
                const $mercurialeModal = $('#mercuriale-modal');
                const $approveButton = $mercurialeModal.find('.approve.button');

                $mercurialeModal
                    .modal({
                        onShow: function() {
                            $.get(Routing.generate('app_admin_suppliers_mercuriale_new', {id: partnerId}), {}, function(response) {
                                $mercurialeModal.find('.content').html(response.form);
                                initCalendars();
                            });
                        },
                        onApprove: function() {
                            $approveButton.addClass('loading');

                            const $form = $mercurialeModal.find('form');
                            const data = new FormData($form[0]);

                            $.ajax({
                                url: $form.attr('action'),
                                data: data,
                                cache: false,
                                contentType: false,
                                processData: false,
                                method: 'POST',
                                type: 'POST', // For jQuery < 1.9
                                success: function(response) {
                                    if (response.ok) {
                                        document.location.reload();
                                    } else {
                                        $form.replaceWith(response.form);
                                        initCalendars();
                                        $approveButton.removeClass('loading');
                                    }
                                }
                            });

                            return false;
                        },
                        onHidden: function() {
                            $mercurialeModal.find('.content').html('');
                        }
                    })
                    .modal('show')
                ;
            });
        });

        function initCalendars() {
            const $calendarDates = $('.calendar-date');

            $calendarDates.find('input').attr('readonly', true);
            $calendarDates.calendar({
                type: 'date',
                today: true,
                text: {
                    days: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    today: "Aujourd'hui",
                    now: 'Maintenant',
                    am: 'Matin',
                    pm: 'Après-midi'
                },
                formatter: {
                    date: function(date, settings) {
                        if (!date) return '';

                        const day = pad(date.getDate(), 2);
                        const month = pad(date.getMonth() + 1, 2);
                        const year = date.getFullYear();

                        return year + '-' + month + '-' + day;
                    }
                }
            });
        }

        function showEvolution(button) {
            $(button).addClass('loading');

            $.get('{{ path('app_admin_suppliers_barometer', {supplier: supplier.id, useCache: 1}) }}').then(function(view) {
                $('#prices-evolution-container').html(view);
                $(button).removeClass('loading');
            });
        }

        function refreshEvolution(button) {
            $(button).addClass('loading');

            $.get('{{ path('app_admin_suppliers_barometer', {supplier: supplier.id, useCache: 0}) }}').then(function(view) {
                $('#prices-evolution-container').html(view);
                $(button).removeClass('loading');
            });
        }
    </script>
{% endblock %}