{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="fourteen wide column">
                <h1 class="ui header dividing">Espace grossistes</h1>
            </div>
            <div class="two wide column right aligned">
                <a class="ui labeled icon primary button" href="{{ path('app_admin_suppliers_new') }}">
                    <i class="plus icon"></i>
                    Créer
                </a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <table class="ui celled structured table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fournisseur</th>
                            <th>Adresse</th>
                            <th>Paramètres Lyra</th>
                            <th>Paiement en ligne</th>
                            <th>Ouvertures de compte</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for supplier in suppliers %}
                        <tr>
                            <td>{{ supplier.id }}</td>
                            <td>{{ supplier.getDisplayName(true) }}</td>
                            <td>
                                {{ supplier.street }}<br/>
                                {{ supplier.postcode }}<br/>
                                {{ supplier.city }}<br/>
                                {{ supplier.countryCode }}<br/>
                            </td>
                            <td>
                                Prod:
                                {% if supplier.lyraUuid %}
                                    <i class="icon checkmark green"></i>
                                    ***-{{ supplier.lyraUuid|slice(-6) }}<br/>
                                {% else %}
                                    <i class="icon close red"></i>
                                {% endif %}

                                Dev:
                                {% if supplier.lyraDevUuid %}
                                    <i class="icon checkmark green"></i>
                                    ***-{{ supplier.lyraDevUuid|slice(-6) }}<br/>
                                {% else %}
                                    <i class="icon close red"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if supplier.paymentOnline %}
                                    <i class="icon checkmark green"></i>
                                {% else %}
                                    <i class="icon close red"></i>
                                {% endif %}
                            </td>
                            <td>
                                <i class="icon {% if supplier.autoBind %}checkmark green{% else %}close red{% endif %}"></i> Ouverture de compte automatique<br>
                                Zone(s) de livraison: <b>{{ supplier.deliveryZones|replace({"\r\n": ', ', "\n": ', '}) }}</b>
                            </td>
                            <td class="collapsing">
                                <a class="ui labeled icon button" href="{{ path('app_admin_suppliers_edit', {id: supplier.id}) }}">
                                    <i class="icon pencil"></i> Modifier
                                </a>
                                <a class="ui red labeled icon button" href="#">
                                    <i class="icon trash"></i> Supprimer
                                </a>
                                <a href="{{ path('app_admin_suppliers_toggle_partner', {id: supplier.id}) }}" class="toggle-partner ui labeled icon button {% if supplier.partner %}green{% else %}blue{% endif %}">
                                    <i class="icon {% if supplier.partner %}checkmark{% else %}close{% endif %}"></i> Partenaire ?
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.toggle-partner').click(function(e) {
                e.preventDefault();

                const $button = $(this);
                const $icon = $button.find('.icon');

                $button.removeClass('green').removeClass('blue').addClass('disabled').addClass('loading');
                $icon.removeClass('checkmark').removeClass('close');

                $.get($button.attr('href')).then(function(response) {
                    if (response.hasOwnProperty('ok') && response.hasOwnProperty('partner') && response.ok) {
                        if (response.partner) {
                            $button.addClass('green');
                            $icon.addClass('checkmark');
                        } else {
                            $button.addClass('blue');
                            $icon.addClass('close');
                        }
                    }

                    $button.removeClass('disabled').removeClass('loading');
                });
            });
        });
    </script>
{% endblock %}