{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="fourteen wide column">
                <h1 class="ui dividing header">Création d'un nouveau fournisseur</h1>
            </div>
            <div class="two wide column right aligned">
                <a class="ui labeled icon button" href="{{ path('app_admin_suppliers_index') }}">
                    <i class="reply icon"></i>
                    Retour
                </a>
            </div>
        </div>

        <div class="row">
            {% if error is defined %}
                <div class="sixteen wide column">
                    <div class="ui message negative">
                        <div class="content">
                            <div class="header">Erreur lors de l'enregistrement</div>
                            <p>{{ error }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="sixteen wide column">
                {% include 'AppBundle:Admin/Suppliers:_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
