{%
    set viewOptions = {
    authorized: { icon: 'check', color: 'orange' },
    PENDING: { icon: 'check', color: 'orange' },
    TO_VALIDATE: { icon: 'check', color: 'orange' },
    cancelled: { icon: 'ban', color: 'yellow' },
    CANCELLED: { icon: 'ban', color: 'yellow' },
    ABANDONED: { icon: 'ban', color: 'yellow' },
    cart: { icon: 'adjust', color: 'grey' },
    SUCCEEDED: { icon: 'adjust', color: 'green' },
    failed: { icon: 'ban', color: 'red' },
    FAILED: { icon: 'ban', color: 'red' },
    new: { icon: 'clock', color: 'olive' },
    CREATED: { icon: 'clock', color: 'olive' },
    processing: { icon: 'check', color: 'violet' },
    refunded: { icon: 'reply all', color: 'purple' },
}
%}

{% set value = 'sylius.ui.' ~ data %}

<span class="ui {{ viewOptions[data]['color'] }} label">
    <i class="{{ viewOptions[data]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
