.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 200px;
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 270px;
}

.panel-center:not(.left-visible) {
  padding-left: 70px;
}

.panel-center:not(.right-visible) {
  padding-right: 70px;
}

.panel-center.left-visible {
  padding-left: 200px;
}

.panel-center.right-visible {
  padding-right: 270px;
}

#panel-left .item {
  font-size: 15px;
  padding: 8px 0;
}

#toggle-left-sidebar.visible {
  left: calc(200px - 70px);
}

#toggle-right-sidebar.visible {
  right: calc(270px - 71px);
}